/*------------------------------------*\
    #Legislation page
\*------------------------------------*/

.flex-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	// justify-content: space-between;
	margin-right: -35px;
	flex-shrink:0;
	flex-basis: 100%;
}

 	.flex-item {
 		width: 25%;
        display: flex;
        padding-bottom: 3em;
       	padding-right: 35px;

       	@include max-screen(1430px) {
       		width: 33.3%;
       	}

       	@include max-screen(1190px) {
       		width: 50%;
       	}

   		@include max-screen(640px) {
   			width: 100%;
       	}
		
 		
 		.gallery__item {
 			display: flex;
 			flex-direction: column;
 			background-color: $color-white;

 			@include max-screen(640px) {
       			width: 100%;
       		}
 		}

 		.gallery__data {
 			max-width: 268px;

 			@include max-screen(1430px) {
	       		max-width: 300px;
	       	}

	       	@include max-screen(1190px) {
	       		max-width: 370px;
	       	}

       		
 		}
 	}

