/*------------------------------------*\
    #VERTICAL TITLES
\*------------------------------------*/

.v-titles {
	background-color: $color-white;

	ul {
		list-style-type: none;
		margin: 0;
	}

	.media__body {
		height: 240px;
	}

	.media__img {
		width: 230px;

		@include max-screen(570px) {
			width: 100%;
		}
		.post__img--medium {
			@include max-screen(570px) {
				min-height: 280px;
			}
		}

	}
}


li {

	&:not(:last-child) {
		.v-titles__link,
		.v-titles__link-bottom {
			border-bottom: 1px solid #e3eaf4;
		}
	}
}

.v-titles__link,
.v-titles__link-bottom {
    display: block;
    margin-left: 30px;
    margin-right: 12px;
    padding: 11px 0px 11px 40px;
    color: #171d28;
    position: relative;
    transition: all 0.4s ease;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	
    @include max-screen(570px) {
  		margin-left: 20px;
	}

    &:hover {
    	color: $color-blue;
		
		&:before {
			width: 12px;
		}
    }


    .icon--more {
    	position: absolute;
		top: 50%;
		left: 0;
		@include transform(translateY(-50%));
    }

    &:before {
		content: '';
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
		left: 13px;
		height: 2px;
		width: 0;
		background-color: #ced6e0;
		@include transition(width .3s ease);
	}
}

/**
 * LTR tyles
 */

 html[dir=ltr] {
 	
 	.v-titles__link,
 	.v-titles__link-bottom {
 		margin-left: 12px;
 		margin-right: 30px;
 	    position: relative;
 	    padding: 11px 40px 11px 0px;
 	    @include transition(all .4s ease);

 	    @include max-screen(570px) {
 	  		margin-left: 0;
 	  		margin-right: 20px;
 		}

 	    .icon--more {
 			left: auto;
 			right: 0;
 			@include transform(rotate(180deg) translateY(50%));
 	    }

 	    &:before {
 			left: auto;
 			right: 13px;
 		}
 	}
 }