/*------------------------------------*\
    #BLOG
\*------------------------------------*/



.page-wrap {
	display: table;
	width: 100%;
	table-layout: fixed;
	min-height: 1000px;	
}	
	.page-row {
		display: table-row;
	}

	.content,
	.sidebar {
		display: table-cell;
	}

	.content {
    	background: #f1f3f5;
    	vertical-align: top;
    	padding-bottom: 50px;

    	&.page,
    	&.posts {
    		padding-top: 70px;
    		padding-bottom: 90px;
    	}
	}

	.sidebar {
	    width: 330px;
		background-color: #232a35;
	}

	.breadcrumbs {
		background: #e4e7eb;
		margin-bottom: 60px;

		.page & {
			margin-top: -70px;
		}

		@include max-screen($breakpoint-extralarge - 1) {
			display: none;
		}
	}

	.breadcrumbs__content {
		margin: 0;
		padding: 13px 0;

		li {
			display: inline-block;
			padding-left: 5px;
		}

		a {
			color: #82919d;

			&.is-active {
				color: #171d28;
			}
		}
	}


    .post__date {
        font-family: $second-font-family;
        border-bottom: 1px solid $base-border-color;
        padding-bottom: 15px;
    	margin-bottom: 30px;
    }

@media screen and (max-width: $breakpoint-extralarge - 1) { 
  
    .page-wrap {
        display: block;
    }
    .page-row {
        display: block;
    }
    .content,
    .sidebar {
        display: block;
    }
    .content {
        margin-top: 20px;
    }
    .sidebar {
        width: 100%;
    }
}


.mixitup .mix,
.news-mix .mix {
	display: none;
}


//home blog post styles 

.home-posts,
.home-posts-1 {
	margin-bottom: 50px;

		.small-post {
			h4 {
				@include multiLineEllipsis($lineHeight: 1.6em, $lineCount: 1, $bgColor: #f1f3f5);
				margin-bottom: 10px; 
			}

			p {
				@include multiLineEllipsis($lineHeight: 1.6em, $lineCount: 1, $bgColor: #f1f3f5);
			}
		}

		.container {

			@include max-screen($breakpoint-medium) {
				padding-left: 0;
				padding-right: 0;
			}

			@include screen($breakpoint-medium, $breakpoint-extralarge) {
		        padding-right: 20px;
		        padding-left: 20px;
		    }
		}

		.layout {
			@include max-screen($breakpoint-medium) {
				margin-left: 0;
			}

			@include screen($breakpoint-medium, $breakpoint-extralarge) {
		        margin-left: -20px;
		    }
			
		}
		.layout__item {
			@include max-screen($breakpoint-medium) {
				padding-left: 0;
			}

			@include screen($breakpoint-medium, $breakpoint-extralarge) {
		        padding-left: 20px;
		    }
			
		}

		.post__img-wrap {
			position: relative;
		}

		.post__item {
			min-height:435px;
			background-color: $color-white;
			position: relative;

			&.post__item--large {
			    min-height: 520px;
			}
			
		}


	   .post__item--large,
	   .small-post {

			.post__label {
				position: absolute;
				color: $color-white;
				display: inline-block;
				padding: 5px 10px;
				
				&.red {
					background-color: #d21d30;
				}

				&.blue {
					background-color: $base-link-color;
				}

				&.black {
					background-color: $base-title-color;
				}
			}
		}

		.post__item--large { 

			.post__label {
				top: 15px;
				right: 15px;
			}
		}

		.small-post { 
			position: relative;

			.post__label {
				top: 10px;
				right: 10px;
			}
		}


		.post__cat {
			position: absolute;
			right: 20px;
			bottom: 20px;
			display: block;
			color: $color-white;

			&:hover {
		    	color: darken($color-white, 15%);
		    }
		}

		

		.post__data {

			h4 {
				@include multiLineEllipsis($lineHeight: 1.6em, $lineCount: 1, $bgColor: white);

				a {
					&:hover {
						color: $color-blue;
					}
				}
			}

			p {
				margin-bottom: 0;
				@include multiLineEllipsis($lineHeight: 1.6em, $lineCount: 2, $bgColor: white); 
			}
		}

			.post__date {
				padding-bottom: 0;
				margin-bottom: 15px;
			}

			.read-more {
				display: inline-block;
			    margin-bottom: 20px;
			    position: absolute;
			    bottom: 0;

			    @include max-screen(416px) {
			    	margin-bottom: 7px;
			    }
			}

			.post__related {
				margin-top: 20px;
			}

			.related__link {
				display: block;
				color: $base-title-color;
				border-bottom: 1px solid #e3eaf4;
				position: relative;
			    padding: 10px 0 10px 50px;
				font-size: 13px;
			    white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;

				&:first-child {
					border-top:  1px solid #e3eaf4;
				}

				&:hover {
					color: $color-blue;

					&:before {
						width: 10px;
					}
				}

				.icon--more {
					position: absolute;
					left: 0;
					top: 50%;
					@include transform(translateY(-50%));
				}

				&:before {
					content: '';
					position: absolute;
					top: 50%;
					@include transform(translateY(-50%));
   					left: 13px;
					height: 2px;
					width: 0;
					background-color: #ced6e0;
					@include transition(width .3s ease);
				}
			}	
}


.home-posts-1 {

	@include max-screen($breakpoint-medium) {

		.media__body {
			padding: 0 20px;
		}

		h2 {
			padding-right: 20px;
		}
	}
}




	






.post__img {

	&.post__img--normal {
		min-height: 190px;
		
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-image: -webkit-linear-gradient(bottom, rgba(2,4,5,.7), rgba(1,1,2,0) 67%, rgba(0,0,0,0));
			background-image: -moz-linear-gradient(bottom, rgba(2,4,5,.7), rgba(1,1,2,0) 67%, rgba(0,0,0,0));
			background-image: -o-linear-gradient(bottom, rgba(2,4,5,.7), rgba(1,1,2,0) 67%, rgba(0,0,0,0));
			background-image: -ms-linear-gradient(bottom, rgba(2,4,5,.7), rgba(1,1,2,0) 67%, rgba(0,0,0,0));
			background-image: linear-gradient(to top, rgba(2,4,5,.7), rgba(1,1,2,0) 67%, rgba(0,0,0,0));
			
		}
	}

	&.post__img--large {
		min-height: 300px;
	}
	&.post__img--medium {
		min-height: 240px;
	}

	&.post__img--small {
		width: 165px;
		min-height: 140px;
	}
	&.post__img--smallest {
		width: 105px;
		min-height: 80px;
	}
}

.small-post {
    padding-bottom: 15px;
    border-bottom: 1px solid #d0d5db;
	margin-bottom: 21px;

	.post__date {
		border-bottom: none;
		margin-top: -7px;
		margin-bottom: 5px;
	}

	h4 {
		padding-bottom: 10px;

		a {
			&:hover {
				color: $color-blue;
			}
		}
	}

	.read-more {
		position: static;
		margin-top: 10px;
		margin-bottom: 0;
	}

	p {
		margin-bottom: 0 !important;
		@include multiLineEllipsis($lineHeight: 1.6em, $lineCount: 2, $bgColor: white); 
	}

	//responsive
	.post__img {
		&.post__img--small {
			@include screen(481px,570px) {
				width: 100%;
				min-height: 250px;
			}

			@include max-screen($breakpoint-medium) {
				width: 100%;
				min-height: 155px;
			}
		}
	}

}

.news-calendar {
	background: url('../images/news-calendar-bg.jpg') no-repeat center center;
	background-size: cover;
	padding-top: 70px;
	margin-bottom: 86px;

	@include max-screen($breakpoint-medium) {
		padding-top: 0;
	}

	.container {
		@include max-screen($breakpoint-medium) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.layout {
		@include max-screen($breakpoint-medium) {
			margin-left: 0;
		}
		
	}

	.layout__item {
		@include max-screen($breakpoint-medium) {
			padding-left: 0;
		}
		
	}
}

	.events-section {
		background-color: $color-white;
		min-height: 493px;
	    position: relative;
	    margin-bottom: -35px;

	    .small-post {
			h4 {
				@include multiLineEllipsis($lineHeight: 1.6em, $lineCount: 1, $bgColor: #fff);
			}
		}

		.post__date {
			padding-bottom: 0;
		}
	}

	.calendar-section {
	}

	.event-item {
	    padding: 25px;

	    @include max-screen($breakpoint-large) {
	    	padding-bottom: 65px;
	    }

	    .small-post {
	    	margin-bottom: 5px;
    		padding-bottom: 20px;

			
			.post__img {
				&.post__img--smallest {
					@include max-screen($breakpoint-medium) {
						width: 100%;
						height: 180px;
					}
				}
				
			}

	    }

	    .read-more {
	    	position: absolute;
	    	bottom: 0;
	    	margin-bottom: 15px;
	    }

	    .layout__item {
	        margin-bottom: 20px;
	    }
	}

	.charts,
	.video-and-posts  {
		margin-bottom: 50px;

		.container {
			@include max-screen($breakpoint-medium) {
				padding-left: 0;
				padding-right: 0;
			}

			@include screen($breakpoint-medium, $breakpoint-extralarge) {
		        padding-right: 20px;
		        padding-left: 20px;
		    }
		}

		

		.layout {
			@include max-screen($breakpoint-medium) {
				margin-left: 0;
			}

			@include screen($breakpoint-medium, $breakpoint-extralarge) {
		        margin-left: -20px;
		    }
			
		}

		.layout__item {
			@include max-screen($breakpoint-medium) {
				padding-left: 0;
			}

			@include screen($breakpoint-medium, $breakpoint-extralarge) {
		        padding-left: 20px;
		    }
			
		}

	}

	.video-and-posts {
		
	}

	.charts {
		h3,
		.read-more {

			@include max-screen($breakpoint-medium) {
				padding-left: 20px;
				padding-right: 20px;
			}

		}
	}


/**
 * Layout responsive styles.
 */

 .content {

 	&.posts {
 		@include max-screen($breakpoint-extralarge) {
 			padding-top: 30px;
    		padding-bottom: 70px;
 		}
 	}

 	&.page,
 	&.posts {
 		@include max-screen($breakpoint-extralarge) {
 			padding-top: 30px;
    		padding-bottom: 70px;
 		}
 		.container {
	 		@include max-screen($breakpoint-extralarge) {
				padding-left: 20px;
				padding-right: 20px;
			}

	 		&.container--indented {
	 			@include max-screen($breakpoint-extralarge) {
	 				padding: 0 20px;
	 			}
	 		}
	 	}

	 	.layout {
	 			@include max-screen($breakpoint-extralarge) {
	 				margin-left: -20px;
	 			}
	 		}

 			.layout__item {
 				@include max-screen($breakpoint-extralarge) {
	 				padding-left: 20px;
	 			}
 			}
 	}
	
	&.post {
	 	.container {
	 		@include max-screen($breakpoint-extralarge) {
				padding-left: 0px;
				padding-right: 0px;
			}

	 		&.container--indented {
	 			@include max-screen($breakpoint-extralarge) {
	 				padding: 0 20px;
	 			}
	 		}

	 		.layout {
	 			@include max-screen($breakpoint-extralarge) {
	 				margin-left: 0;
	 			}
	 		}

	 			.layout__item {
	 				@include max-screen($breakpoint-extralarge) {
		 				padding-left: 0;
		 			}
	 			}
	 	}
	}
 
}

 /**
 * Layout LTR styles.
 */


 html[dir=ltr] {


 	.home-posts {

		.layout {
			@include max-screen($breakpoint-medium) {
				margin-left: 0;
				margin-right: 0
			}

			@include screen($breakpoint-medium, $breakpoint-extralarge) {
		        margin-left: 0;
		        margin-right: -20px;
		    }
			
		}

		.layout__item {
			@include max-screen($breakpoint-medium) {
				padding-left: 0;
				padding-right: 0;
			}
			@include screen($breakpoint-medium, $breakpoint-extralarge) {
		        padding-left: 0;
		        padding-right: 20px;
		    }
		}

 			.post__cat {
 				right: auto;
 				left: 20px;
 			}

			.related__link {
				padding: 10px 50px 10px 0;
				.icon--more {
					left: auto;
					right: 0;
					@include transform(rotate(180deg) translateY(50%));
				}

				&:before {
					left: auto;
					right: 13px;
				}
			}	


			.post__item--large { 

				.post__label {
					right: auto;
					left: 15px;
					font-size: 15px;
				}
			}

			.small-post { 
				position: relative;

				.post__label {
					right: auto;
					left: 10px;
					font-size: 13px;
				}
			}

 	}


	.breadcrumbs__content {
		
		li {
			padding-left: 0;
			padding-right: 5px;
		}
	}

 	.news-calendar {
 		
 		.layout {
 			@include max-screen($breakpoint-medium) {
 				margin-left: 0;
 				margin-right: 0;
 			}
 		}
	 		.layout__item {
	 			@include max-screen($breakpoint-medium) {
	 				padding-left: 0;
	 				padding-right: 0;
	 			}
	 		}
 	}

 		.charts,
 		.video-and-posts {

 			.layout {
 				@include max-screen($breakpoint-medium) {
 					margin-left: 0;
 					margin-right: 0;
 				}

 				@include screen($breakpoint-medium, $breakpoint-extralarge) {
 			        margin-left: 0;
 			        margin-right: -20px;
 			    }
 				
 			}

 			.layout__item {
 				@include max-screen($breakpoint-medium) {
 					padding-left: 0;
 					padding-right: 0;
 				}

 				@include screen($breakpoint-medium, $breakpoint-extralarge) {
 			        padding-left: 0;
 			        padding-right: 0;
 			    }
 			}
 		}


 	 	.content {
	 	 	&.page,
	 	 	&.posts {

	 		 	.layout {
	 		 			@include max-screen($breakpoint-extralarge) {
	 		 				margin-left: 0;
	 		 				margin-right: -20px;
	 		 			}
	 		 		}

	 	 			.layout__item {
	 	 				@include max-screen($breakpoint-extralarge) {
	 		 				padding-left: 0;
	 		 				padding-right: 20px;
	 		 			}
	 	 			}
	 	 	}	
	 		&.post {
	 		 	.container {
	 		 		
	 		 		.layout {
	 		 			@include max-screen($breakpoint-extralarge) {
	 		 				margin-left: 0;
	 		 				margin-right: 0;
	 		 			}
	 		 		}

	 		 			.layout__item {
	 		 				@include max-screen($breakpoint-extralarge) {
	 			 				padding-left: 0;
	 			 				padding-right: 0;
	 			 			}
	 		 			}
	 		 	}
	 		}
		}	
}