/*------------------------------------*\
    #Tables
\*------------------------------------*/

.table {
	table-layout: fixed;
	-webkit-box-shadow: 0 1px 2px rgba(1,1,1,.15);
	-moz-box-shadow: 0 1px 2px rgba(1,1,1,.15);
	box-shadow: 0 1px 2px rgba(1,1,1,.15);
    margin-bottom: 50px;

	&.table--primary {
	    
		thead {

			tr {
				height: 70px;
				color: $color-white;
				background-color: $color-blue;
			}

			th {
				padding-right: 30px;
 				padding-left: 30px;
				font-size: 17px;
				text-align: right;

				&:first-child {
					border-left: 1px solid $base-link-color;
				}
			}
		}

		tbody {
			background-color: $color-white;

			tr {
				height: 70px;
				
				&:not(:last-child) {
					border-bottom: 1px solid $base-table-border;
				}
				
			}

			td {
				padding-right: 30px;
				padding-top: 10px;
    			padding-bottom: 10px;

				&:not(:last-child) {
					border-left: 1px solid $base-table-border;
				}

			}
		}

		&.auto {
			table-layout: auto;
			
			tbody {

				td {
					&:first-child {
						+ td {
							text-align: center;
							padding-right: 0;
						}
					}
				}
			}
		}

		&.no-head {

			td {
				&:first-child {
					color: $base-title-color;

					+ td {
						text-align: center;
						padding-right: 0;
						font-family: $second-font-family;
					}
				}
			}

			@include max-screen($breakpoint-large) {
				font-size: 13px;
			}
		}

		&.monetary {

			td {

				&:first-child {

					+ td {
						font-size: 12px;
					}
				}
			}
		}

	}

	&.table--secondary {
		position: relative;
		
		thead {

			tr {
				height: 70px;
				color: $color-white;
				background-color: $color-blue;

				 
				@include max-screen($breakpoint-large) {
					display: table;
					height: auto;
					padding: 20px 0;
					width: 100%;
				}
			}

			th {

				@include max-screen($breakpoint-large) {
					display: table-cell;

					&:not(:last-child) {
						padding-left: 10px;
						padding-right: 10px;
						font-size: 13px;
					}
				}

				&:first-child {
					text-align: right;
					padding-right: 30px;

					@include max-screen($breakpoint-large) {
						padding-left: 10px;
						font-size: 13px;
						display: inline-block;
					}
				}
			}
		}

		.table__title {
			@include max-screen($breakpoint-large) {
				position: absolute;
				top: -35px;
				right: -30px;
				color: $base-title-color;
			}
		}

		.call-to-action {
		    display: inline-block;
		    background-color: darken($color-blue,4%);
		    width: 100%;
		    height: 70px;
		    line-height: 70px;
		    color: $color-white;
		    transition: all .2s linear;
		    white-space: nowrap;

		    &:hover {
		    	background-color: darken($color-blue, 6%);
		    }
		}

		tbody {

			background-color: $color-white;

			tr {
				height: 70px;

				@include max-screen($breakpoint-large) {
					float: left;
					height: auto;
				    width: 25%;
				}

				
				&:not(:last-child) {
					border-bottom: 1px solid $base-table-border;

					@include max-screen($breakpoint-large) {
						border-bottom: none;
					}
				}
				
			}

			td {
				vertical-align: middle;
				text-align: center;

				@include max-screen($breakpoint-large) {
					display: table;
				    width: 100%;
					height: 70px;
					line-height: 67px;
				}


				&:not(:last-child) {
					border-left: 1px solid $base-table-border;

					@include max-screen($breakpoint-large) {
						border-left: none;
						border-bottom: 1px solid #e3eaf4;
					}
				}

				img {
					margin: 0;
					width: 55px;
				}

				span {
					+ strong {
						display: inline-block;
					}
				}
			}
		}

		.table__currency {
			background-color: #fafcfd;

			span {
				text-transform: uppercase;
				font-family: $second-font-family;
				font-weight: bold;
				padding-left: 7px;

				&:after {
					content: "";
					position: relative;
					display: inline-block;
					height: 13px;
					width: 1px;
					background-color: #ced6e0;
					left: -4px;
					top: 1px;
				}
			}
		}

	}

	&.table--tertiary {

		@include max-screen($breakpoint-medium) {
			font-size: 12px;
			word-break: break-word;
		}

		thead {

			tr {
				height: 70px;
				color: $color-white;
				background-color: $color-blue;
				@media print {
					border-bottom: 1px solid $base-table-border;
				}
			}

			th {
				&:not(:last-child) {
					border-left: 1px solid #3282d9;
					@media print {
						border-left: 1px solid $base-table-border;
					}
				}
			}
		}

		tbody {
			font-family: $second-font-family;
			color: $base-title-color;
			background-color: $color-white;

			tr {
				height: 70px;
				
				&:not(:last-child) {
					border-bottom: 1px solid $base-table-border;

					@include max-screen($breakpoint-large) {
						border-bottom: none;
					}
				}
			}

			td {
				vertical-align: middle;
				text-align: center;

				@include max-screen($breakpoint-medium) {
					padding: 0 4px;
				}

				&:not(:last-child) {
					border-left: 1px solid $base-table-border;
				}
			}
		}
	
		.row-highlighted {
			background-color: #fafcfd;
			color: #82919d;
			font-weight: bold;
		}

	}

	&.table--currency {
		table-layout: auto;
		background-color: $color-white;
		color: $base-title-color;
		font-weight: bold;

		@include max-screen($breakpoint-medium) {
			font-size: 12px;
		}


		tr {
			height: 98px;

			&:not(:last-child) {
				border-bottom: 1px solid #e3eaf4;
			}

			&:first-child {
				border-top: 1px solid #e3eaf4;
			}
		}

		th {
			text-align: right;
			padding-right: 30px;
		}


		tbody {

			td {

				&:first-child {
					padding-right: 30px;

					+ td {
						text-align: center;
						padding: 0 30px;
						width: 100px;
						border-right: 1px solid #e3eaf4;
					}
				}
			}
		}
	}

}

.table--contact {
	table-layout: fixed;
	margin-bottom: 0;
	
	tr {
		border-bottom: 1px solid #e3eaf4;

		@include max-screen($breakpoint-large) {
			display: block;
			padding: 10px 0;
		}
	}

		td {
			padding: 15px 0;
			vertical-align: top;
			
			&:first-child {

				+ td {
					color: #171d28;
				}
			}

			@include max-screen($breakpoint-large) {
				display: block;
				padding-top: 0;
				padding-bottom: 0;

				&:first-child {
					padding-bottom: 10px;
				}
			}
		}
}

.col-15 {
	width: 15%;
}
.col-85 {
	width: 85%;
}

.col-10 {
	width: 85px;
}
.col-90 {
	width: 90%;
}

.currency__up,
.currency__down {
	position: relative;
	font-family: $second-font-family;

	&:after {
		content: " ";
	    display: inline-block;
	    width: 0;
	    height: 0;
	    border-style: solid;
	    position: relative;
	    right: 6px;
	    bottom: 4px;
	}
}

.currency__up {
	&:after {
		border-color: transparent transparent #5b97f8 transparent;
	    border-width: 0 3.5px 5px 3.5px;
	}	
}

.currency__down {
	&:after {
		border-width: 5px 3.5px 0 3.5px;
	    border-color: #ee2539 transparent transparent transparent;
	}
}


.home-table {
	.container {
		@include max-screen($breakpoint-medium) {
			padding-left: 0;
			padding-right: 0;
		}
		
		@include screen($breakpoint-medium, $breakpoint-extralarge) {
	        padding-right: 20px;
	        padding-left: 20px;
	    }
	}
}


/**
 * LTR tyles
 */

 html[dir=ltr] {

 	.table {
 		
 		&.table--primary {
 		    
 			thead {

 				th {
 					text-align: left;

 					&:first-child {
 						border-left: none;
 						border-right: 1px solid $base-link-color;
 					}
 				}
 			}

 			tbody {

 				td {
 					padding-right: 0;
 					padding-left: 30px;

 					&:not(:last-child) {
 						border-left: none;
 						border-right: 1px solid $base-table-border;
 					}

 				}
 			}

 			&.auto {
 				
 				tbody {

 					td {
 						&:first-child {
 							+ td {
 								padding-right: 0;
 								padding-left: 0;
 							}
 						}
 					}
 				}
 			}

 			&.no-head {

 				td {
 					&:first-child {

 						+ td {
 							padding-left: 0;
 						}
 					}
 				}
 			}
 		}

 		&.table--secondary {
			
			thead {

			th {

				&:first-child {
					text-align: left;
					padding-right: 0;
					padding-left: 30px;

					@include max-screen($breakpoint-large) {
						padding-left: 0;
						padding-right: 10px;
					}
				}
			}
		}



 			tbody {

 				tr {
 					@include max-screen($breakpoint-large) {
 						float: right;
 					} 					
 				}

 				td {

  					&:not(:last-child) {
 						border-left: none;
 						border-right: 1px solid $base-table-border;

 						@include max-screen($breakpoint-large) {
 							border-right: none;
 						}
 					}
 				}
 			}

 			.table__currency {

 				span {
 					padding-left: 0;
 					padding-right: 7px;

 					&:after {
 						left: auto;
 						right: -4px;
 					}
 				}
 			}

 			.table__title {
				@include max-screen($breakpoint-large) {
					right: auto;
					left: -30px;
				}
			}

 		}


 		&.table--tertiary {

			thead {
				th {
					&:not(:last-child) {
						border-left: none;
						border-right: 1px solid #3282d9;
					}
				}
			}

		tbody {

			td {

				&:not(:last-child) {
					border-left: none;
					border-right: 1px solid $base-table-border;
				}
			}
		}

	}

	&.table--currency {

		th {
			text-align: left;
			padding-right: 0px;
			padding-left: 30px;
		}

		tbody {

			td {
				&:first-child {
					padding-right: 0px;
					padding-left: 30px;

					+ td {
						border-right: none;
						border-left: 1px solid #e3eaf4;
					}
				}
			}
		}
	}

 	}

 	.currency__up,
 	.currency__down {

 		&:after {
 			right: auto;
 		    left: 6px;
 		}
 	}
 	
 }