/*------------------------------------*\
    #VERTICAL TITLES
\*------------------------------------*/

.video-slider {
	background-color: $color-white;
	padding-bottom: 52px;
	position: relative;
	min-height: 517px;

	@include max-screen($breakpoint-medium) {
		min-height: auto;
	}

	.read-more {
		position:absolute;
		bottom: 15px;
    	right: 20px;
	}
}

	 .slider-bottom-wrap {
	 	margin: 10px 50px;
		position: relative;

		.slider__item {
			position: relative;
			cursor: pointer;
			&:before {
				content: url('../images/video-play.png');
				height: 25px;
				width: 26px;
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 10;
				@include transform(translate(-50%,-50%));
			}
		}
	 	.owl-nav {
	 		position: absolute;
	 		top: 50%;
	 		@include transform(translateY(-50%));
	 		left: -30px;
	 		right: -30px;

	 		.owl-prev,
	 		.owl-next {
	 			background-image: url('../images/arrow-slider.png');
				background-repeat: no-repeat;
				width: 8px;
				height: 14px;
	 		}
	 		.owl-prev {
	 			float: left;
	 		}
	 		.owl-next {
	 			@include transform(rotate(180deg));
	 		}
	 	}
	}
	

.video-player {
	width: 100%;
	position: relative;

	.featured-img img {
		position: absolute;
		width: 100%;
		height: 350px;
		cursor: pointer;
		@include max-screen($breakpoint-medium) {
			height: 280px;
		}
		@include screen($breakpoint-large, $breakpoint-extralarge) {
			height: 430px;
		}
	}

	h3 {
		position: absolute;
		top: 50%;
		width: 100%;
		text-align: center;
		color: $color-white;
		font-size: 19px;
		font-weight: 700;
		cursor: pointer;
		font-family: $base-font-family;
		@include transform(translateY(-50%));
	}

	iframe {
		width: 100%;
		min-height: 350px;
		@include max-screen($breakpoint-medium) {
			min-height: 280px;
		}
		@include screen($breakpoint-large, $breakpoint-extralarge) {
			height: 430px;
		}
	}
}

/**
 * LTR tyles
 */


html[dir=ltr] {

		 .slider-bottom-wrap {

		 	.owl-nav {
		 		left: -30px;
		 		right: -30px;

		 		.owl-prev,
		 		.owl-next {
		 			background-image: url('../images/arrow-slider.png');
					background-repeat: no-repeat;
					width: 10px;
					height: 14px;
		 		}
		 		.owl-prev {
		 			float: left;
		 		}
		 		.owl-next {
		 			@include transform(rotate(180deg));
		 			background-position: 2px center;
		 		}
		 	}
		}
}




