/*------------------------------------*\
    #MAP WITH TABS
\*------------------------------------*/

.contact {
    padding-top: 70px;
    padding-bottom: 90px;
    
    @include max-screen($breakpoint-large) {

        padding-top: 50px;
        padding-bottom: 50px;

        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        .layout {
            margin-left: -20px;
        }

            .layout__item {
                padding-left: 20px;
            }

            input, 
            textarea {
                margin-bottom: 30px;
            }
    }


    h1,
    h2,
    h4 {
        font-family: $base-font-family;
        font-weight: bold;
        color: $base-title-color;
        margin-bottom: 0;
    }
    h1 {
        font-size: 25px;
        padding-bottom: 60px;
        @include max-screen($breakpoint-large) {
            padding-bottom: 40px;
        }
    }

    h2 {
        font-size: 21px;
        padding-bottom: 20px;
        padding-right: 20px;
    }

    h4 {
        padding-bottom: 20px;

         @include max-screen($breakpoint-large) {
            padding-top: 50px;
            padding-bottom: 40px;
        }
    }
}


#map1 {
    height: 0;
    overflow: hidden;
    padding-bottom: 33.25%;
    padding-top: 30px;
    position: relative;
    margin-bottom: 70px;
}   

.contact__right {
    padding: 35px 50px 54px 50px;
    margin-bottom: 50px;
    background-color: $color-white;
    min-height: 531px;
}

.contact-select {
    margin-bottom: 30px;
}

    @include max-screen($breakpoint-large) {
        .map-location {
            .container {
                padding-right: 0;
                padding-left: 0;
            }

            .layout {
                margin-left: 0;
                &:after {
                    margin-top: 0;
                }
            }
                .layout__item {
                    padding-left: 0;
                    margin-bottom: 0;
                }
        }

        .contact__right {
            padding: 20px 20px 30px 20px;
            margin-bottom: 30px;
        }


        #map {
            margin-bottom: 30px;
        }
    }


html[dir=ltr] {

    .contact {
        
        @include max-screen($breakpoint-large) {

            .layout {
                margin-left: 0;
                margin-right: -20px;
            }

                .layout__item {
                    padding-left: 0;
                    padding-right: 20px;
                }
        }

         h2 {
            padding-left: 20px;
        }


    }

        

        .controls-tabs {
            
            .wrap_controls {

                li {
                    margin-left: 0;
                    margin-right: 60px;

                    @include max-screen(430px) {
                        margin-left: 0;
                        margin-right: 20px;
                    }
                    @include screen(430px,510px) {
                        margin-left: 0;
                        margin-right: 30px;
                    }
                }  
            }
            
        }


        @include max-screen($breakpoint-large) {

            .map-location {
                .container {
                    padding-right: 0;
                    padding-left: 0;
                }

                .layout {
                    margin-left: 0;
                    margin-right: 0;
                    &:after {
                        margin-top: 0;
                    }
                }
                    .layout__item {
                        padding-left: 0;
                        padding-right: 0;
                        margin-bottom: 0;
                    }
            }

        }

}