/*------------------------------------*\
    #HEADER MAIN
\*------------------------------------*/

.header-main {
	z-index: 10;
    position: relative;
}

	.header-desktop {
		@include max-screen(1365px) {
			display: none;
		}
	}


	.newsletter {
		background-color: #fbcd45;
		padding: 30px 50px;
		display: block;
	}
		.newsletter__read-more {
			position: relative;
			float: left;

			.js-close {
				position: absolute;
				left: 0;
				top: 15px;
			}

			@include max-screen(1320px) {
				float: right;
				width: 100%;
			}
		}

		.newsletter__form {
			float: left;
			padding-left: 43px;
			position: relative;
			color: $base-title-color;

			.js-close {
				position: absolute;
				left: 0;
				top: 15px;
				cursor: pointer;
			}


			@include max-screen(1320px) {
				float: right;
				width: 100%;
			}
		}

			.form-wrap {
				position: relative;
				border: 1px solid #d9b024;
				background-color: transparent;
				width: 372px;

				@include max-screen($breakpoint-large) {
					width: auto;
				}
			}

				.newsletter__button {
					position: absolute;
					top: 12px;
					left: 20px;
					color: #171d28;
				}

				.input {

					&.newsletter__input {
						padding: 0 20px 0 52px;
						height: 48px;
						line-height: 48px;
						font-family: $second-font-family;
						font-size: 13px;
						color: #171D28;

						&::-webkit-input-placeholder {
						   color: $base-title-color;
						}

						&:-moz-placeholder { /* Firefox 18- */
						   color: $base-title-color;
						}

						&::-moz-placeholder {  /* Firefox 19+ */
						   color: $base-title-color;
						}

						&:-ms-input-placeholder {
						   color: $base-title-color;
						}
					}
				}

		.newsletter__text {
			float: right;

			@include max-screen(1320px) {
				margin-top: 40px;
			}

			dl {
				margin: 0;
			}

				dt {
					color: $base-title-color;
					font-size: 17px;
					font-weight: bold;
					line-height: 27px;
					padding-bottom: 5px;
				}

				dd {
					color: $base-title-color;
					white-space: nowrap;
				    overflow: hidden;
				    max-width: 960px;
    				text-overflow: ellipsis;

    				@include max-screen(1525px) {
    					max-width: 750px;
    				}

    				@include max-screen(1320px) {
    					white-space: normal;
    					max-width: none;
    				}

				}
		}

	.menu-top {
		background-color: #171d28;
		padding-right: 50px;
	}

		.menu-top__left {
			font-size: 0;
			float: left;
		}

		.menu-top__search {
			position: relative;
			display: inline-block;
		}

		.lang-wrap {
			float: left;
			position: relative;
			overflow: hidden;
		}

		.menu-top__lang {
			position: absolute;
			left: 0;
			top: 0;
			font-size: 13px;
			background-color: $color-blue;
			color: $color-white;
		    vertical-align: middle;
		    cursor: pointer;
		    height: 48px;
		    line-height: 52px;
		    padding-left: 15px;
		    padding-right: 15px;

		    // &.is-active {
		    // 	+ .lang-name {
		    // 		width: 110px;
		    // 	}
		    // }
		}

		.lang-name {
			font-family: $second-font-family;
			display: inline-block;
			padding-right: 13px;
			width: 110px;
			line-height: 47px;
    		height: 48px;
    		background-color: $color-blue;
    		color: $color-white;
    		font-size: 13px;
    		// @include transition(all .3s linear);

			&:hover {
				color: $color-white;
			}
		}

		.menu-top__right {
			float: right;
		    height: 48px;
		    line-height: 48px;

			li {

				&:not(:last-child) {
					margin-left: 50px;
				}

				a {
					color: #636c76;

					&:hover {
						color: $color-white;
						text-decoration: none;
					}
				}
			}
		}


	//main-menu
	.main-menu {
		padding: 25px 50px;
		-webkit-box-shadow: 0 1px 2px rgba(1,1,1,.15);
		-moz-box-shadow: 0 1px 2px rgba(1,1,1,.15);
		box-shadow: 0 1px 2px rgba(1,1,1,.15);
		background-color: $color-white;
		transition: all .3s ease;

		&.fixed {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			padding: 15px 50px;


			.main-menu__submenu {

				&.is-active {

					&:after {
						content: '';
						top: 70px;
					}
				}
			}

			.main-menu__submenu > div {
			    top: 90%;
			}
		}
	}

	.main-menu__nav {
		float:left;
		height: 55px;
    	line-height: 55px;

    	> ul {

	    	> li {
				padding-left: 22px;

	    		&:not(:last-child) {
	    			margin-left: 60px;
	    			@include screen(1365px, 1450px) {
	    				margin-left: 5px;
	    			}

	    			@include screen(1450px, 1600px) {
	    				margin-left: 20px;
	    			}
	    			@include screen(1600px, 1750px) {
	    				margin-left: 30px;
	    			}
	    		}

	    		&:last-child {

	    			> div {
	    				left: -40px;
	    			}
	    		}

	    		a {
	    			color: $base-text-color;

					&:hover {
						color: $base-title-color;
					}

	    		}

	    	}
    	}
	}


	.main-menu__submenu {
		position: relative;

		&.is-active {

			> a {
				color: $base-title-color;
			}

			&:before {
				content: url('../images/arrow-down-black.png');
				position: absolute;
				left: 0;
				@include transition(all .4s ease);
			}

			&:after {
				content: '';
				position: absolute;
				display: inline-block;
				top: 79px;
				left: 0;
				height: 2px;
				width: 100%;
				background-color: $color-blue;
			}
		}

		&:before {
			content: url('../images/arrow-down.png');
			position: absolute;
			left: 0;
		}

		&:hover {

			&:before {
				content: url('../images/arrow-down-black.png');
			}
		}

		> div {
			display: none;
			position: absolute;
			top: 100%;
			z-index: 5;

			> ul {
				width: 240px;
				margin-top: 36px;
				padding: 20px 30px;
				background-color: $color-white;
				-webkit-box-shadow: 0 1px 2px rgba(1,1,1,.15);
				-moz-box-shadow: 0 1px 2px rgba(1,1,1,.15);
				box-shadow: 0 1px 2px rgba(1,1,1,.15);

				li {
					line-height: normal;
					padding-right: 15px;

					&:not(:last-child) {
						padding-bottom: 10px;
					}

				}

				a {
					position: relative;

					&:before {
						content: " ";
						position: absolute;
						top: 10px;
   						right: -15px;
						background-color: #ced6e0;
						height: 6px;
						width: 6px;
						display: inline-block;
						border-radius: 50%;
					}

					&:hover,
					&.is-active {
						color: $base-title-color;

						&:before {
							background-color: $color-blue;
						}
					}
				}
			}
		}
	}

	// Main menu submenu second level

	.main-menu__submenu__submenu {
		position: relative;

		&:before {
			content: '';
			width: 12px;
			height: 7px;
			background-image: url('../images/arrow-down.png');
			position: absolute;
			left: 0;
			top: 11px;
			@include transition(all .4s ease);
		}

		&.hovered {
			&:before {
				@include transform(rotate(180deg));
			}
		}

		> ul {
			list-style-type: none;
		    position: relative;
		    left: 45px;
		    width: calc(100% + 75px);
		    background: #f1f3f5;
		    padding-right: 30px;
		    padding-top: 8px;
		    padding-bottom: 8px;
		    margin-top: 6px;
		    display: none;
		}
	}

	.header-mobile {

		@include min-screen(1364px) {
			display: none;
		}

		.input--search {
			width: 98px;
		}

		.search-lang {
			background-color: #232A35;
		}
		.menu-top__search {
			float: left;
			display: block;
		}
		
		.lang {
			position: relative;
		    float: right;
		    width: 130px;

			.icon {
				position: absolute;
				top: 13px;
    			right: 15px;
			}

			input[type=checkbox] {
				display: none;

				&:checked {
					& ~ a {
						width: 115px;
					}
				}

			}

			label[for=lang-sel] { 
				position: absolute;
				top: 0;
				height: 48px;
    			width: 50px;
				background-color: $color-blue;
				color: $color-white;
				cursor: pointer;
				
			}

			.lang__item {
				display: block;
				width: 0;
				text-align: left;
				padding-left: 13px;
				height: 48px;
				line-height: 48px;
				color: $color-white;
				background-color: $color-blue;
				font-family: $second-font-family;
				font-size: 14px;
				@include transition(all .4s linear);
			}

		}

			.site-logo {
				float: right;
				padding-right: 20px;
			}
		
	}

		.menu-mob-wrap {
			position: relative;
		}

		//logo and menu icon
		.menu-mob {
			position: relative;
			background-color: $color-white;
			padding: 20px 0;
		}

			.menu-mob__icon {
				position: absolute;
				left: 20px;
				top: 39px;
				color: #2e3033;
			}

				.menu-mob__links {
					position: absolute;
					top: 0;
					width: 100%;
					z-index: 20;
					visibility: hidden;
					opacity: 0;
					@include transition(all .3s linear);

					.menu-is-active & {
						visibility: visible;
						opacity: 1;
					}
				}

			.menu-mob__top {

				li {
					display: block;
					background-color: $base-title-color;
					padding: 15px 20px;

					&:not(:last-child) {
						border-bottom: 1px solid #232a35;
					}

					a {
						color: #626b75;

						&:hover {
							color: $color-white;
						}
					}
				}
			}

			.menu-mob__bottom {
				background-color: $color-white;
				-webkit-box-shadow: 0 1px 2px rgba(1,1,1,.15);
			    -moz-box-shadow: 0 1px 2px rgba(1,1,1,.15);
			    box-shadow: 0 1px 2px rgba(1,1,1,.15);
			    	ul {
			    		margin-left: 0;
			    	}

					 li {
					 	
						display: block;
						padding: 15px 20px;

						a {
							color: $base-text-color;

							&:hover {
								color: $base-title-color;
							}
						}

						&:not(:last-child) {
							border-bottom: 1px solid $base-table-border;
						}
					
						> ul {
							display: none;

							li {
								position: relative;

								&.has-dropdown {

									&.is-active {
										background-color: #f1f3f5;
									}
								}

								&:not(:last-child) {
									border-bottom: none;
								}

								&:before {
									content: '';
									display: inline-block;
									position: absolute;
									right: 0;
									top: 22px;
									background-color: #ced6e0;
									height: 6px;
									width: 6px;
									@include border-radius(50%);

								}

								&:hover {

									&:before {
										background-color: $color-blue;
									}
								}

								a {
									color: $base-text-color;

									&:hover {
										color: $base-title-color;
									}
								}
							}
						}
					}

			}

			.has-dropdown {

				> ul li ul {
					margin-top: 10px;
    				margin-bottom: -15px;
				}

				> a {
					color: $base-text-color;
					position: relative;
					display: inline-block;

					&:hover {
						color: $base-title-color;
					}
					
					&:before,
					&:after {
						content: '';
						display: inline-block;
						position: absolute;
						top: 10px;
						width: 2px;
						height: 9px;
						background-color: #ced6e0;
						@include transition(all .25s ease-in-out);
					}

					&:before {
						left: -30px;
						@include transform(translate(13px,0) rotate(45deg));
					}

					&:after {
						left: -25px;
						@include transform(translate(2px,0) rotate(-45deg));
					}

				}

				&.is-active {
					background-color: #f1f3f5;

					> a {
						color: $base-title-color;
							&:before {
							    @include transform(translate(8px,0) rotate(45deg));
							}

							&:after {
								@include transform(translate(8px,0) rotate(-45deg));
							}

					}

					li {
						&.is-active {

							a {
								color: $base-title-color;
							}

							&:before {
								background-color: $color-blue;
							}
						}
					}

				}
			}


/**
 * LTR styles
 */
	html[dir=ltr]  {


		.newsletter__read-more {
			float: right;

			.js-close {
				left: auto;
				right: 0;
			}

			@include max-screen(1320px) {
				float: right;
				width: 100%;
			}
		}

		.newsletter__form {
			float: right;
			padding-left: 0;
			padding-right: 43px;

			.js-close {
				left: auto;
				right: 0;
			}

			@include max-screen(1320px) {
				float: left;
			}
		}

			.newsletter__button {
				left: auto;
				right: 20px;

				.icon {
					@include transform(rotate(180deg));
				}
			}

			.input {

				&.newsletter__input {
					padding: 0 52px 0 20px;
				}
			}

		.newsletter__text {
			float: left;

				dd {
					margin-left: 0;
				}
		}

			.menu-top {
				padding-right: 0;
				padding-left: 50px;
			}

				.menu-top__left {
					float: right;
				}

				.lang-wrap {
					float: right;
				}

				.menu-top__lang {
					left: auto;
					right: 0;
					line-height: 46px;
				}

				.lang-name {
					padding-right: 0;
					padding-left: 13px;
				}

				.menu-top__right {
					float: left;

					li {

						&:not(:last-child) {
							margin-left: 0;
							margin-right: 50px;
						}
					}
				}

					.main-menu__nav {
						float:right;

				    	> ul {

					    	> li {
					    		padding-left: 0;
					    		padding-right: 22px;

					    		&:not(:last-child) {
					    			margin-left: 0;
					    			margin-right: 60px;

					    			@include screen(1365px, 1450px) {
					    				margin-left: 0;
					    				margin-right: 5px;
					    			}

					    			@include screen(1450px, 1600px) {
					    				margin-left: 0;
					    				margin-right: 20px;
					    			}

					    			@include screen(1600px, 1750px) {
					    				margin-left: 0;
					    				margin-right: 0;
					    			}
					    		}

					    		&:last-child {
					    			
					    			> div {
					    				left: auto;
					    				right: -40px;
					    			}
					    		}

					    	}
				    	}
					}


					.main-menu__submenu {
						position: relative;

						&.is-active {

							&:before {
								left: auto;
								right: 0;
							}

							&:after {
								left: auto;
								right: 0;
							}
						}

						&:before {
							left: auto;
							right: 0;
						}


						> div {

							ul {
								
								li {
									padding-right: 0;
									padding-left: 15px;
								}

								a {

									&:before {
										right: auto;
				   						left: -15px;
									}
								}
							}
						}
					}


				// Main menu submenu second level
				.main-menu__submenu__submenu {

					&:before {
						left: auto;
						right: 0;
					}

					> ul {
						left: auto;
						right: 95px;
					    width: calc(100% + 75px);
					    padding-right: 0;
					    padding-left: 30px;
					    
					}
				}


	.header-mobile {

		.menu-top__search {
			float: right;
		}
		
		.lang {
		    float: left;
		   
			.icon {
				right: auto;
				left: 15px;
			}

			.lang__item {
				text-align: right;
				padding-left: 0;
				padding-right: 13px;
				font-size: 13px;
			}
		}

			.site-logo {
				float: left;
				padding-right: 0;
				padding-left: 20px;
			}
		
	}

		
			.menu-mob__icon {
				left: auto;
				right: 20px;
			}

			.menu-mob__bottom {

				 li {
					
					> ul {

						li {

							&:before {
								right: auto;
								left: 0;
							}
						}
					}
				}
			}


		.menu-mob__bottom {
				
			 li {
			 	
				> ul {

					li {
						
						&:before {
							right: auto;
							left: 0;
						}
					}
				}
			}

		}

			.has-dropdown {

				> a {

					&:before {
						left: auto;
						right: -30px;
						@include transform(translate(13px,0) rotate(45deg));
					}

					&:after {
						left: auto;
						right: -25px;
						@include transform(translate(12px,0) rotate(-45deg));
					}

				}

				&.is-active {
					background-color: #f1f3f5;

					> a {
						color: $base-title-color;

						&:before {
					    	@include transform(translate(5px,0) rotate(45deg));
						}

						&:after {
							@include transform(translate(15px,0) rotate(-45deg));
						}

					}


				}
			}

	}






