/*------------------------------------*\
    #GOVERNER PAGE
\*------------------------------------*/

.governor {
	position: relative;
	margin-bottom: 150px;

	@include max-screen($breakpoint-extralarge) {
		margin-bottom: 80px;
    }

	&:after {
		content: '';
		display: inline-block;
		background-image: url('../images/governor-cbl.png');		
		height: 173px;
		width: 173px;
		position: absolute;
		top: 100%;
	    right: 65px;
	    margin-top: -87px;

	    @include max-screen($breakpoint-extralarge) {
			height: 100px;
			width: 100px;
			background-position: center center;
			background-size: cover;
			margin-top: -53px;
	    }

	    @include max-screen($breakpoint-medium) {
	    	right: 50%;
	    	@include transform(translateX(50%));
	    	height: 80px;
			width: 80px;
			margin-top: -43px;
	    }
	}
}	

html[dir=ltr] {

	.governor {

		&:after {
			right: auto;
			left: 65px;
		}
	}	
}
