/*------------------------------------*\
    #BLOG MAIN PAGE
\*------------------------------------*/

.blog  {
	margin-bottom: 50px;

	.post {

		&.no-image {

			.post__cat {
				position: static;
				color: $base-text-color;
			}

			p {
				@include multiLineEllipsis($lineHeight: 1.6em, $lineCount: 9, $bgColor: white);
			}
		}
	}

	.read-more {
		display: inline-block;
		margin-bottom: 20px;
	    position: absolute;
	    bottom: 0;
	}

	.post__item {
		min-height:410px;
		background-color: $color-white;
		position: relative;
	}

	.post__img-wrap {
		position: relative;
	}

	.post__img {
		min-height: 190px; 
	}

	.post__cat {
		position: absolute;
		right: 20px;
		bottom: 20px;
		display: block;
		color: $color-white;
		&:hover {
	    	color: $color-blue;
	    }
	}

	.post__data {

		h4 {
			@include multiLineEllipsis($lineHeight: 1.6em, $lineCount: 2, $bgColor: white);

			a {
				&:hover {
					color: $color-blue;
				}
			}
		}

		p {
			margin-bottom: 0;
			@include multiLineEllipsis($lineHeight: 1.6em, $lineCount: 2, $bgColor: white); 
		}
	}
	
}

 /**
 * LTR styles.
 */


 html[dir=ltr] {

	.blog  {

 		.post__cat {
 			right: auto;
 			left: 20px;
 		}	
 	}
}