/*------------------------------------*\
    #PAGINATION
\*------------------------------------*/


.pagination {
	margin: 0 auto;
	text-align: center;
	font-family: $second-font-family;
	font-size: 15px;
	padding-bottom: 15px;
}

	.pagination__item,
	.pagination__current {
		display: inline-block;
		margin-right: 40px;

		@include max-screen($breakpoint-medium) {
			margin-right: 20px;
		}
	}

	.pagination__item {
		color: $base-text-color;

		&:hover {
			text-decoration: none;
			color: $base-link-color;
		}
	}

	.pagination__current {
		background-color: $base-link-color;
		height: 31px;
		width: 31px;
		line-height: 31px;
		border-radius: 50%;
		color: $color-white;
		vertical-align: middle;
	}


	.prev__item,
	.next__item {

		display: inline-block;
		margin-right: 40px;
		color: $base-text-color;
		
		@include max-screen($breakpoint-medium) {
			margin-right: 20px;
		}

		&.disabled {
			color: lighten($base-text-color,20%);
		}

		&:hover {
			&:not(.disabled) {
				color: $base-link-color;
			}
		}
		
	}

/**
 * LTR tyles
 */

html[dir=ltr] {

	.pagination__item,
	.pagination__current {
		margin-right: 0;
		margin-left: 40px;

		@include max-screen($breakpoint-medium) {
			margin-right: 0;
			margin-left: 20px;
		}
	}

	.prev__item,
	.next__item {
		margin-right: 0;
		margin-left: 40px;
		
		@include max-screen($breakpoint-medium) {
			margin-right: 0;
			margin-left: 20px;
		}
		
		.icon {
			@include transform(rotate(180deg));
		}
	}

}
