/*------------------------------------*\
    #Charts
\*------------------------------------*/

#candle-chart,
#bar-chart,
#bar-chart-float {
    width: 100%; 
    height: 246px; 
    background-color: $color-white;
}