/*------------------------------------*\
    #INPUTS
\*------------------------------------*/

/**
 * Base input styles.
 */
.input {
    -webkit-appearance: none;       /* removing inner shadow on iOS inputs */
    -webkit-font-smoothing: inherit;
    box-sizing: border-box;
    transition: all .2s ease;
    background: none;
    border: none;
    color: $base-text-color;
    display: inline-block;
    font-family: $base-font-family;
    font-size: $base-font-size;
    padding: 0;                     /* remove browser defaults */
    vertical-align: middle;
    width: 100%;
    @include transition(all .3s ease);


    &:invalid {
        box-shadow: none;  /* fixes mozilla red outline (shadow) */
    }

    &[readonly] {
        cursor: text;
    }

    &::-ms-clear {
        display: none; /* remove IE clear icon */
    }

    &::-webkit-input-placeholder {
       color: $base-text-color;
    }

    &:-moz-placeholder { /* Firefox 18- */
       color: $base-text-color;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: $base-text-color;
    }

    &:-ms-input-placeholder {
       color: $base-text-color;
    }
}

/**
 * Primary input.
 */
.input--primary,
%input--primary {
    background-color: $color-white;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 2px rgba(1,1,1,.15);
    -moz-box-shadow: 0 1px 2px rgba(1,1,1,.15);
    box-shadow: 0 1px 2px rgba(1,1,1,.15);
    height: 62px;
    line-height: 62px;
    padding: 0 20px;
    
    /**
     * @hover and focus
     */
    &:hover,
    &:focus {
        border-color: rgba(50, 130, 217, 0.5);
        color: $base-title-color;
    }
    
     /**
     * @focus
     */
    &:focus {
       
        @include placeholder {
            transition: opacity 0.5s 0.5s ease; 
            opacity: 0;
        }
    }
    

    /**
     * Error state.
     */
    .is-error &,
    &.is-error {
        border-color: #ff8688;
    }
}

.input--search {
    background-color: #232a35;
    width: 436px;
    height: 48px;
    line-height: 48px;
    padding-left: 55px;
    padding-right: 20px;

    html[dir=ltr] & {
        padding-left: 20px;
        padding-right: 55px;
    }

    /**
     * @hover
     */
    &:hover {
    }

    /**
     * @focus
     */
    &:focus {

    }

}

/**
 * Textarea input.
 */
.input--textarea {
    resize: none;
    min-height: 154px;
    padding: 20px 15px;
    background: $color-white;
    -webkit-box-shadow: 0 1px 2px rgba(1,1,1,.15);
    -moz-box-shadow: 0 1px 2px rgba(1,1,1,.15);
    box-shadow: 0 1px 2px rgba(1,1,1,.15);
    border: 1px solid transparent;

    &:hover,
    &:focus {
        border-color: rgba(50, 130, 217, 0.5);
        color: $base-title-color;
    }

    &:focus {
       
        @include placeholder {
            transition: opacity 0.5s 0.5s ease; 
            opacity: 0;
        }
    }

    .contact-form & {
        min-height: 245px;
    }
}

.input--datepicker {
    background-image: url('../images/calculator.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    text-align: left;
    font-weight: bold;
    font-family: $second-font-family;
}
