/*------------------------------------*\
    #SIDEBAR FOR INNER PAGES
\*------------------------------------*/

.sidebar__menu {
	margin: 0;
	width: 330px; 
	@include max-screen($breakpoint-extralarge - 1) {
		width: 100%;
		position: static !important;
	}
	&.fixed {
		position: fixed;
		top: 87px;
		width: 330px;
		margin: 0;

		@include max-screen($breakpoint-extralarge - 1) {
			width: 100%;
		}
	}

	&.bottom {
		position: absolute;
		top: auto;
		bottom: 180px;
	}

}

	.sidebar__item {
		display: block;
		height: 74px;
		line-height: 74px;
		padding-right: 50px;
		color: #626b75;
		border-bottom: 1px solid #2d3541;

		@include max-screen($breakpoint-extralarge - 1) {
			padding-right: 20px;
		}

		&:hover {
			background-color: #2d3541;
			color: $color-white; 
		}

		.is-active & {
			background-color: #2d3541;
			color: $color-white;
		}
	}

		.sidebar__submenu {
			position: relative;
			line-height: 0;

			&.is-active {

				&:before {
					@include transform(rotate(180deg));
					background-image: url('../images/arrow-down.png');
				}
			}
			
			&:before {
				content: "" ;
				background-image: url('../images/sidebar-arrow-down.png');
				width: 12px;
				height: 7px;
				position: absolute;
				left: 30px;
				top: 32px;
				transition: all ease .3s;

				@include max-screen($breakpoint-extralarge) {
					left: 20px;
				}	
			}

			&:hover {
				
				&:before {
					background-image: url('../images/arrow-down.png');
				}
			}

			ul {
				display: none;
				margin: 0;
				background-color: #2d3541;
				line-height: normal;

				li {

					a {
						display: block;
						padding-right: 50px;
						padding-bottom: 30px;
						color: #626b75;

						@include max-screen($breakpoint-extralarge) {
							padding-right: 20px;
						}	
					}
				}
			}
		}



/**
 * LTR tyles
 */

html[dir=ltr] {

	.sidebar__item {
		padding-right: 0;
		padding-left: 50px;

		@include max-screen($breakpoint-extralarge - 1) {
			padding-right: 0;
			padding-left: 20px;
		}
	}

		.sidebar__submenu {
			
			&:before {
				left: auto;
				right: 30px;

				@include max-screen($breakpoint-extralarge) {
					left: auto;
					right: 20px;
				}	
			}

			ul {

				li {

					a {
						padding-right: 0;
						padding-left: 50px;

						@include max-screen($breakpoint-extralarge) {
							padding-right: 0;
							padding-left: 20px;
						}	
					}
				}
			}
		}
}