/*------------------------------------*\
    #OUR MESSAGE PAGE
\*------------------------------------*/

.our-message {
	
	>img {
		margin-bottom: 60px !important;
	}

	.media {
		margin-bottom: 40px;
	}
}	
	