/*------------------------------------*\
    #SITE LOGO
\*------------------------------------*/

.site-logo {
    display: inline-block;
    vertical-align: middle;

    > img {
        height: auto;
        vertical-align: middle;
        width: 157px;
    }

    &:hover {
        text-decoration: none;
    }
}
