/*------------------------------------*\
    #FOOTER MAIN
\*------------------------------------*/

.footer-main {
	background-image: url('../images/bg-footer.jpg');
	width: 100%;
	padding-top: 90px;
	position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    @include max-screen($breakpoint-extralarge) {
		padding-top: 30px;
		background-image: none;
		background-color: #171d28;
	    
	    .layout__item  {
			margin-bottom: 20px;
			padding-left: 20px;
		}
		.container {
			padding-left: 20px;
			padding-right: 20px;
	 	}

	 	.layout {
			margin-left: -20px;
		}
    }

		ul {
			list-style: none;
			margin: 0;
			margin-bottom: 10px;
		}

	

		.footer-main__link {
			color: #626b75;
			padding-right: 15px;
			position: relative;
			@include transition(all ease .3s);
			display: inline-block;

			&:hover {
				text-decoration: none;
				color: $color-white;
			}

			&:before {
				content: "";
				position: absolute;
				background: url('../images/arrow-footer.png');
				width: 6px;
				height: 10px;
				right: 0;
				top: 8px;
				margin-left: 15px;
			}
		}

		

	.social {

		@include max-screen($breakpoint-extralarge) {
			font-size: 0;
		}

		li {
			font-family: $second-font-family;
			font-size: 13px;

			@include max-screen($breakpoint-extralarge) {
				display: inline-block;
				width: 50%;
			}

			a {
				display: inline-block;
				position: relative;
				width: 36px;
				height: 36px;
				border: 2px solid #636c76;
				border-radius: 50%;
				margin-bottom: 13px;
				margin-left: 11px;
				text-align: center;
				padding: 0;
				color: #626b75;
				@include transition(all ease .3s);

				&:hover {
					border-color: $color-white;
					text-decoration: none;
    				color: #fff;
				}

				span {
					position: absolute;
   			 		right: 50px;
    				top: 4px;
				}
			}
		}

		.icon {
		    margin-top: 8px;
		    &:hover {
				color: $color-white;
			}
		}
	}

	.social-title {
		@include max-screen($breakpoint-extralarge) {
			border-bottom: none;
		}
	}

	.js-menu-dropdown {
		@include min-screen($breakpoint-extralarge) {
			display: none;
		}
	}
}

	.footer-main__heading,
	.social-title {
		font-size: 15px;
		font-weight: 500;
		color: $color-white;
		border-bottom: 1px solid #232a35;
		padding-bottom: 25px;
		margin-bottom: 25px;
		@include max-screen($breakpoint-extralarge) {
			margin-bottom: 0;
		}
	}


	//responsive footer 
	@include max-screen($breakpoint-extralarge) {

		.footer-main__menu {
			display: none;
			padding-bottom: 20px;
		}

		.js-menu-dropdown {
			position: absolute;
		    top: 0px;
		    height: 20px;
		    left: 0;
		    right: 0;
		    z-index: 10;
			cursor: pointer;

			&:before {
				content: '';
				position: relative;
				top: 6px;
				float: left;
			    background-image: url("../images/sidebar-arrow-down.png");
			    width: 12px;
			    height: 7px;
			    @include transition(all .3s linear);
			}

			&.is-active {
				
				&:before {
					@include transform(rotate(180deg));
					background-image: url('../images/arrow-down.png');
				} 

				+ .footer-main__heading {
					border-bottom: none;
				}

				~ .footer-main__menu {
					border-bottom: 1px solid #232a35;
				}

			}

			&:hover {
					
				&:before {
					background-image: url('../images/arrow-down.png');
				}
			}
		}
	}

	.footer-main__copy {
		border-top: 1px solid #232a35;
		padding: 30px 0;

		@include max-screen($breakpoint-extralarge) {
			border-top: none;
		}

		p {
			font-family: $second-font-family;
			font-size: 12px;
			color: $color-white;
			float: left;
			margin-top: 10px;
			margin-bottom: 0;

			@include max-screen($breakpoint-extralarge) {
				text-align: center;
    			float: none;
			}
		}

		a {
			@include transition(all ease .3s);

			&:hover {
				text-decoration: none;
			}

			&.logo {
				color: #636c76;
				float: right;
				
				@include max-screen($breakpoint-extralarge) {
					float: none;
					text-align: center;
   					display: block;
				}
				
				&:hover {
					color: $color-white;
				}
			}
		}
	}


 /**
 * LTR tyles
 */

html[dir=ltr] {

	.footer-main {

	    @include max-screen($breakpoint-extralarge) {
		    .layout__item  {
		    	padding-left: 0;
		    	padding-right: 20px;
			}
			
		 	.layout {
				margin-left: 0;
				margin-right: -20px;
			}
	    }

		.footer-main__link {
			padding-right: 0;
			padding-left: 15px;

			&:before {
				right: auto;
				left: 0;
				margin-left: 0;
				margin-right: 15px;
				@include transform(rotate(180deg));
			}
		}

		.social {

			li {
			
				a {
					margin-left: 0;
					margin-right: 11px;

					span {
						right: auto;
	   			 		left: 50px;
					}
				}
			}
		}

	}

	//responsive footer 
	@include max-screen($breakpoint-extralarge) {

		.js-menu-dropdown {

			&:before {
				float: right;
			}
		}
	}

	.footer-main__copy {

		p {
			float: right;

			@include max-screen($breakpoint-extralarge) {
    			float: none;
			}
		}

		a {
			@include transition(all ease .3s);


			&.logo {
				float: left;
				
				@include max-screen($breakpoint-extralarge) {
					float: none;
				}
				
			}
		}
	}
	
}