/*------------------------------------*    
#Gallery pages
\*------------------------------------*/

.gallery  {

	h1 {
		border-bottom: 1px solid #d0d5db;
		margin-bottom: 50px;
	}

	h5 {
		color: #82919d;
		font-family: "Montserrat", sans-serif;
		border-bottom: 1px solid #d0d5db;
		font-size: 15px;
		font-weight: normal;
		margin-bottom: 50px;
		padding-bottom: 20px;

		&:not(:first-child) {
			margin-top: 70px;
		}
	}

	&.gallery--inner {
		border-bottom: 1px solid #d0d5db;
		margin-bottom: 50px;

	}

	&.gallery--legislation {
		margin-bottom: 40px;
		h1 {
			border-bottom: none;
			margin-bottom: 40px;

		}

		.gallery__img {
			min-height: 260px;
		}
	}
}


	//featured images trick
	.gallery__img,
	.post__img {
	 	 min-height: 280px;
	 	 background-size: cover;
		 background-position: center center;
		 background-repeat: no-repeat;

		 img {
		 	display: none;
		 }
	}
	
	.gallery__title {
		background-color: $color-white;
		padding: 25px 30px;

		h4 {
			font-size: 17px;
			color: $base-title-color;
			margin: 0;
		}
	}

	.gallery__data,
	.post__data {
		background-color: $color-white;
		padding: 25px 20px;

		time {
			font-family: $second-font-family;
			padding-bottom: 10px;
			display: inline-block;
		}

		h4 {
			padding-bottom: 0;
			margin-bottom: 10px;
		}
	}


