/*------------------------------------*\
    #Home events and blog filter
\*------------------------------------*/


.cat-filter,
.event-tab {
	border-bottom: 1px solid #d0d5db;
}

.cat-filter {
	padding-bottom: 15px;
    margin-bottom: 50px;

	@include max-screen($breakpoint-large) {
		border-bottom: none;
		margin-bottom: 30px;

	    li {
			display: block;
			padding: 15px 0;
			border-bottom: 1px solid #d0d5db;
	    }
	}	
}

.event-tab {
	padding: 15px 25px;
	margin: 0px !important;

	@include max-screen(790px) {
		border-bottom: none;
	}

	li {
		margin: 0;
		padding: 0 !important;

		@include max-screen(790px) {
			display: block;
			padding: 15px 0 !important;
			border-bottom: 1px solid #d0d5db;
		}


		&:before {
			display: none !important;
		}

		&:first-child {
			
			a {
				font-weight: bold;
			}
		}
	}

}

	.cat-filter__link,
	.event-tab__link {
		display: inline-block;
		color: $base-text-color;
		position: relative;

			&:after {
				content: "";
				position: absolute;
				left: 50%;
				right: 50%;
				bottom: -16px;
				height: 2px;
				background-color: $color-blue;
				@include transition(all .3s ease);
			}

			&:hover,
			&.active {

				&:after {
					left: 0;
					right: 0;
				}
			}
	}
	
	.cat-filter__link {
		margin-left: 70px;
	}

	.event-tab__link {
		padding-right: 20px;
		margin-left: 50px;

		&.events-1,
		&.events-2,
		&.events-3,
		&.events-4 {
			
			&:before {
				content: "";
				position: absolute;
			    top: 7px;
				right: 0px;
				height: 10px;
				width: 10px;
				border-radius: 50%;
			}
		}

		&.events-1 {
			&:before {
				background-color: #3d91eb;
			}
		}

		&.events-2 {
			&:before {
				background-color: #ed3082;
			}
		}

		&.events-3 {
			&:before {
				background-color: #f8c303;
			}
		}

		&.events-4 {
			&:before {
				background-color: #3bb17d;
			}
		}

		&.all {
			padding-right: 0;
		}
	}


 /**
 * Layout LTR styles.
 */


 html[dir=ltr] {
 
	.event-tab__link {
		padding-right: 0;
		padding-left: 20px;
		margin-left: 0;
		margin-right: 50px;

		&.events-1,
		&.events-2,
		&.events-3,
		&.events-4 {
			
			&:before {
				right: auto;
				left: 0;
			}
		}
	} 
 
 	.cat-filter__link {
		margin-left: 0;
		margin-right: 70px;
	}

}


 