/*------------------------------------*\
    #SLIDERS
\*------------------------------------*/

.slider {
	margin-bottom: 35px;

	.owl-dots {
		position: absolute;
		bottom: 40px;
		left: 50%;
		@include transform(translateX(-50%));
	}

		.owl-dot {
			height: 12px;
			width: 12px;
			background-color: transparent;
			@include border-radius(50%);
			border: 2px solid $color-white;
			display: inline-block;

			&:not(:last-child) {
				margin-left: 20px;
			}

			&.active {
				background-color: $color-white;
			}
		}

}


.page-slider {

	.page-slider__content {
		background-color: $color-white;
		padding: 50px;

		h4 {
			text-align: center;
			padding: 20px 0;
		}

		p {
			text-align: center;
			color: $base-text-color;
		}
	}

		.slide-num {
			text-align: center;
			position: relative;
			color: $color-white;
			background-color: $color-blue;
			height: 73px;
			width: 73px;
			line-height: 73px;
			border-radius: 50%;
			margin: 0 auto;
			font-family: $second-font-family;
			font-size:34px;
		}

	.owl-dots {
		counter-reset: slide-numbering;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-bottom: 30px;
		transform: translateX(-50%);
		direction: ltr;
		font-family: $second-font-family;
		color: $base-text-color;

		.owl-dot {
			counter-increment: slide-numbering;
			position: relative;
			display: inline-block;

			&.active {
				display: inline-block;

				&:before {
					content: counter(slide-numbering);
					display: inline-block;

				}
			}
		}

		&:after {
			content: " /" counter(slide-numbering) ;
			display: inline-block;
		}
	}

	.owl-nav {
		position: absolute;
		top: 80px;
		left: 0;
		right: 0;

	}

		.owl-prev,
		.owl-next {
			position: absolute;
			width: 7px;
			height: 12px;
		    background-repeat: no-repeat;
		    display: inline-block;
		    background-image: url('../images/arrows.png');
		}

		.owl-prev {
			background-position: -7px center;
			right: 50%;
			margin-right: -70px;
		}

		.owl-next {
			background-position: 0 center;
			left: 50%;
			margin-left: -70px;
		}

}

.slider-news {

	.owl-nav {
		position: absolute;
		top: 30%;
		left: 45px;
		right: 45px;
	}

		.owl-prev,
		.owl-next {
			width: 7px;
			height: 12px;
			background-image: url('../images/slider-arrow.png');
			background-repeat: no-repeat;
			display: inline-block;
			position: relative;

			&:before {
				content: "";
				height: 38px;
				width: 39px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: rgba(#000, .25);
				display: inline-block;
				border-radius: 50%;
			}
		}

		.owl-prev {
			float: left;
			background-position: 0 center;
		}

		.owl-next {
			float: right;
			background-position: -7px center;
		}

		.slider-news__item {
			
			.post__data {
				min-height: 203px;
			}

			.read-more {
				bottom: -10px;
			}
		}

}


/**
 * LTR tyles
 */


html[dir=ltr] {

	.page-slider {

		.owl-prev {
			background-position: 0 center;
			right: auto;
			left: 50%;
			margin-left: -70px;
		}

		.owl-next {
			background-position: -7px center;
			left: auto;
			right: 50%;
			margin-right: -70px;
		}

	}
		
}

