/*------------------------------------*\
    #HOME FEATURED IMAGE
\*------------------------------------*/

.home-featured-img {
   width: 100%;
   text-align: center;
   padding: 0 50px;
   position: relative;
   margin: 50px 0;

    .img-mobile {
        display: none;
   }

   @include max-screen($breakpoint-large) {
       .img-mobile {
            display: block;
            width: 100%;
       }

       .img-desktop {
            display: none;
       }
   }

  
  @include max-screen(1380px) {
    padding: 0;
    margin-top: 0;
    margin-bottom: 50px;
  }


   h3 {
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%,-50%));
        color: $color-white;
        font-size: 39px;
        font-weight: normal;
        line-height: 60px;

        @include max-screen(1380px) {
         font-size: 22px;
         line-height: normal;
        }
   }
}
