/*------------------------------------*\
    #Comments
\*------------------------------------*/

.comment-form,
.contact-form {  

    .input--primary {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }


    .input,
    textarea {
        -webkit-appearance: none;
        -moz-appearance: none;

        &::-webkit-input-placeholder {
            &:after {
                color: $base-link-color;
                font-size: 18px;
            }
        }
    }

}
.comment-form {
    border-bottom: 1px solid #d0d5db;
    padding-bottom: 85px; 
}

.contact-form {
    padding-bottom: 35px;
}


.comment-wrap {
    margin-top: 70px;

    h4 {
        font-size: 17px;
        color: $base-title-color;
    }
}

.comment {
    padding: 20px 30px;
    margin-bottom: 30px;
    background-color: $color-white;
    -webkit-box-shadow: 0 1px 2px rgba(1,1,1,.15);
    -moz-box-shadow: 0 1px 2px rgba(1,1,1,.15);
    box-shadow: 0 1px 2px rgba(1,1,1,.15);

    p {
        margin-bottom: 5px;
    }

}

    .comment__title {
        margin-bottom: 0;
        padding-bottom: 10px;
        color: $base-title-color;
        font-weight: bold;
    }

    .comment__meta {
        padding-bottom: 20px;
        margin-bottom: 25px;
        border-bottom: 1px solid #d0d5db;
        font-family: $second-font-family;
    }

    .comment__links {
        list-style: none;
        margin-top: 20px;
        margin-left: 0;

        li {
            display: inline-block;
            position: relative;

            &:first-child {
                padding-left: 67px;

                @include max-screen($breakpoint-medium) {
                    padding-left: 45px;
                }

               &:after {
                content: "";
                display: inline-block;
                background-color: #ced6e0;
                height: 22px;
                width: 1px;
                position: absolute;
                left: 25px;
                top: 1px;
                @include max-screen($breakpoint-medium) {
                    left: 15px;
                }
               }
            }
        }

        html[dir=ltr] & {
            margin-left: 0;
            
            li {
                
                &:first-child {
                    padding-left: 0;
                    padding-right: 67px;

                     @include max-screen($breakpoint-medium) {
                        padding-left: 0;
                        padding-right: 45px;
                    }

                   &:after {
                    left: auto;
                    right: 25px;

                    @include max-screen($breakpoint-medium) {
                        right: 15px;
                    }

                   }
                }
            }
        }
    }
