/*------------------------------------*\
    #PRIMARY BUTTON
\*------------------------------------*/

$btn-primary-height:                        53px;


/**
 * Primary button.
 */
.btn--primary,
%btn--primary {
    -webkit-font-smoothing: inherit;
    transition: all .2s ease;
    border-radius: 0;
    font-weight: 700;
    width: auto;
    text-align: center;
    font-family: $base-font-family;
    box-sizing: border-box;
    height: 62px;
    line-height: 62px;
    background-color: $color-blue;
    color: $color-white;
    padding: 0 35px;

    &:hover {
        background-color: #2575CC;
    }

    /**
     * @hover
     */
    &:not(:disabled) {
        &:hover,
        &:focus {

        }
    }

    /**
     * @active
     */
    &:not(:disabled) {
        &:active {

        }
    }

    /**
     * @disabled
     */
    &:disabled {
        opacity: 0.5;
        cursor: default !important;
    }
}


.btn--print {
    padding: 0 15px;
    background-color: #ced6e0;
    color: $base-text-color;
    margin-right: 15px;

    html[dir=ltr] & {
       margin-right: 0;
       margin-left: 15px;
       @include max-screen($breakpoint-extralarge) {
            margin-left: 0;
        }
    }

    &:hover {
        background-color: lighten(#ced6e0, 3%);
        color: $base-text-color;
    }

    @include max-screen($breakpoint-extralarge) {
        width: 39%;
        margin-right: 0;
        padding: 0;
    }
}

.btn--submit {
    @include max-screen($breakpoint-extralarge) {
        width: 60%;
        padding: 0;
    }
}

.currency-buttons {
      white-space: nowrap;
      @include max-screen($breakpoint-extralarge) {
    }
}


.btn--search {
    position: absolute;
    top: 12px;
    left: 20px;
    color: #636c76;

    html[dir=ltr] & {
        left: auto;
        right: 20px;
    }
}

.btn--newstetter {
    background: transparent;
    border: 1px solid #d9b024;
    color: $base-title-color;
    height: 48px;
    line-height: 48px;
    margin-left: 40px;

    &:focus,
    &:hover {
        background: transparent;
        color: $base-title-color;
    }

    .icon {
        position: relative;
        right: 15px;
        top: 1px;
    }
}



/**
 * LTR styles
 */

html[dir=ltr]  { 

    .btn--newstetter {
        margin-left: 0;
        margin-right: 40px;
        font-family: $third-font-family;
        line-height: 44px;

        .icon {
            position: relative;
            transform: rotate(180deg);
            right: auto;
            left: 15px;
            top: 0;
        }
    }

}




