/*------------------------------------*    
#CURRENCY NOTES
\*------------------------------------*/

.currency-notes {

	h5 {
		color: #82919d;
		font-family: "Montserrat", sans-serif;
		border-bottom: 1px solid #d0d5db;
		font-size: 15px;
		font-weight: normal;
		margin-top: 70px;
		margin-bottom: 50px;
		padding-bottom: 17px;

		&:first-of-type {
			margin-top: 15px;
		}
	}

}

.currency-notes__item  {
	padding: 60px;
	background-color: $color-white;

	@include max-screen($breakpoint-large) {
		padding: 30px;
	}
	
}
	
	.currency-notes__img {
		 min-height: 214px;
	 	 background-size: cover;
		 background-position: center center;

		 img {
		 	display: none;
		 }
	}

