/*------------------------------------*\
    #Print styles
\*------------------------------------*/

@media print {
    .menu-top, 
    .main-menu__nav, 
    .header-mobile, 
    .footer-main, 
    .table--currency, 
    .btn { 
        display: none; 
    } 

    * { 
        margin: 0 !important; 
        padding: 0 !important; 
    } 

    .table.table--tertiary thead tr,
    .table.table--tertiary tbody tr { 
        height: 30px ; 
        font-size: 9px; 
    } 

    .page { 
        padding-top: 0 !important; 
        padding-bottom: 0 !important; 
    } 

    html, body { 
        height: auto; 
    }

    a:link:after, 
    a:visited:after { 
        content: "(" attr(href) ") "; 
        display: none;
    }

    .input--datepicker {
        font-weight: normal;
    }
    
    html[dir='ltr' ] {
        .input--datepicker {
            text-align: right;
        }
    }
}