{% extends "./_templates/template.default-en.html" %}

{% block content %}
{% include "_partials/partial.header-normal.html" %}

<main>
	<div class="page-wrap">
		<div class="page-row">
			{% include "_partials/partial.sidebar.html" %}
			<div class="content page">
				<div class="container">
					<div class="entry-content">
						<img src="images/banking-operations.jpg" alt="banking operations">
						<div class="container container--indented">
							<p>تُعد المعلومات أحد أهم مقومات إدارة الأعمال في مصرف ليبيا المركزي ، وقد نقلتْ نُظم المعلومات وقواعد البيانات وشبكات الاتصالات العــالم من العصر الصناعي إلى العصر المعرفي ، كما أضحتْ أساساً للقطاع المصرفي بشكلٍ عام 
							وإدراكاً لأهمية أمن المعلومات من قِبل إدارة المصرف المركزي التي تلعب دوراً هاماً في حماية أصوله ، وإيماناً بضرورة الإهتمام بكيفية الحِفَاظ عليها وحمايتها .</p>
							 
							<p>بَادَر السيد محافظ مصرف ليبيا المركزي منذ العام 2008م بإعتماد بنود خطة أمن المعلومات بالمصرف شاملة جميع العمليات والسياسات المتعلقة بالجوانب التقنية والبشرية ، بحيث تتوزع الأدوار والمسؤوليات بما يخدم مَصَالحه وترتكز على مجموعة من المقاييس والمعايير الدولية التي يمكن من خلالها تحقيق مستوى ملائم من الأمن والخصوصية المعلوماتية ، وتتكون بنود الخطة الأمنية مما يلي :</p>
							
							<div class="owl-carousel page-slider shadow">
						  		<div class="page-slider__content">
						  			<div class="slide-num">1</div>
						  			<h4>البند </h4>
						  			<p>أمن المعلومات للموظفين ومديري الإدارات والمتعاقدين مع المصرف : بحيث يتم تحديد المسؤوليات والواجبات تجاه أمن المعلومات .  </p>
						  		</div>
						  		<div class="page-slider__content">
						  			<div class="slide-num">2</div>
						  			<h4>البند </h4>
						  			<p>أمن المعلومات للموظفين ومديري الإدارات والمتعاقدين مع المصرف : بحيث يتم تحديد المسؤوليات والواجبات تجاه أمن المعلومات .  </p>
						  		</div>
						  		<div class="page-slider__content">
						  			<div class="slide-num">3</div>
						  			<h4>البند </h4>
						  			<p>أمن المعلومات للموظفين ومديري الإدارات والمتعاقدين مع المصرف : بحيث يتم تحديد المسؤوليات والواجبات تجاه أمن المعلومات .  </p>
						  		</div>
						  		<div class="page-slider__content">
						  			<div class="slide-num">4</div>
						  			<h4>البند </h4>
						  			<p>أمن المعلومات للموظفين ومديري الإدارات والمتعاقدين مع المصرف : بحيث يتم تحديد المسؤوليات والواجبات تجاه أمن المعلومات .  </p>
						  		</div>
						  		<div class="page-slider__content">
						  			<div class="slide-num">5</div>
						  			<h4>البند </h4>
						  			<p>أمن المعلومات للموظفين ومديري الإدارات والمتعاقدين مع المصرف : بحيث يتم تحديد المسؤوليات والواجبات تجاه أمن المعلومات. </p>
						  		</div> 
						  		<div class="page-slider__content">
						  			<div class="slide-num">6</div>
						  			<h4>البند </h4>
						  			<p>أمن المعلومات للموظفين ومديري الإدارات والمتعاقدين مع المصرف : بحيث يتم تحديد المسؤوليات والواجبات تجاه أمن المعلومات. </p>
						  		</div> 
						  		<div class="page-slider__content">
						  			<div class="slide-num">7</div>
						  			<h4>البند </h4>
						  			<p>أمن المعلومات للموظفين ومديري الإدارات والمتعاقدين مع المصرف : بحيث يتم تحديد المسؤوليات والواجبات تجاه أمن المعلومات. </p>
						  		</div> 
						  		<div class="page-slider__content">
						  			<div class="slide-num">8</div>
						  			<h4>البند </h4>
						  			<p>أمن المعلومات للموظفين ومديري الإدارات والمتعاقدين مع المصرف : بحيث يتم تحديد المسؤوليات والواجبات تجاه أمن المعلومات. </p>
						  		</div> 
						  		<div class="page-slider__content">
						  			<div class="slide-num">9</div>
						  			<h4>البند </h4>
						  			<p>أمن المعلومات للموظفين ومديري الإدارات والمتعاقدين مع المصرف : بحيث يتم تحديد المسؤوليات والواجبات تجاه أمن المعلومات. </p>
						  		</div> 
						  		<div class="page-slider__content">
						  			<div class="slide-num">10</div>
						  			<h4>البند </h4>
						  			<p>أمن المعلومات للموظفين ومديري الإدارات والمتعاقدين مع المصرف : بحيث يتم تحديد المسؤوليات والواجبات تجاه أمن المعلومات. </p>
						  		</div> 
						  		<div class="page-slider__content">
						  			<div class="slide-num">11</div>
						  			<h4>البند </h4>
						  			<p>أمن المعلومات للموظفين ومديري الإدارات والمتعاقدين مع المصرف : بحيث يتم تحديد المسؤوليات والواجبات تجاه أمن المعلومات. </p>
						  		</div> 
						  		<div class="page-slider__content">
						  			<div class="slide-num">12</div>
						  			<h4>البند </h4>
						  			<p>أمن المعلومات للموظفين ومديري الإدارات والمتعاقدين مع المصرف : بحيث يتم تحديد المسؤوليات والواجبات تجاه أمن المعلومات. </p>
						  		</div> 
							</div>
						</div>
					</div><!-- /.entry-content -->
				</div><!-- /.container -->
			</div>	
		</div>
	</div>
</main>

{% include "_partials/partial.footer.html" %}
{% endblock %}
