{% extends "./_templates/template.default-en.html" %}

{% block content %}
{% include "_partials/partial.header-normal.html" %}

<main>
	<div class="page-wrap">
	<div class="page-row">
		{% include "_partials/partial.sidebar.html" %}
		<div class="content posts">
			<!-- Content -->
			<div class="container">
				<div class="cat-filter">
					<ul class="list-inline">
						<li><a href="javascript:;" class="filter cat-filter__link is-active" data-filter="all" >جميع</a></li>
						<li><a href="javascript:;" class="filter cat-filter__link" data-filter=".category-1">آخبار</a></li>
						<li><a href="javascript:;" class="filter cat-filter__link" data-filter=".category-2">احداث</a></li>
						<li><a href="javascript:;" class="filter cat-filter__link" data-filter=".category-3">اعلانات</a></li>
						<li><a href="javascript:;" class="filter cat-filter__link" data-filter=".category-4">نشاطات</a></li>
					</ul><!-- /.list-inline list-reset -->
				</div><!-- /.cat__filter -->

				<div class="blog entry-content">
					<div class="layout mixitup">
						<div class="[ layout__item medium-1/2 large-1/3 extralarge-and-up-1/3 ] [ mix category-1 ]" data-myorder="1">
							<div class="post__item shadow">
								<article class="post">
									<div class="post__img-wrap">
										<a href="javascript:;">
											<div class="post__img" style="background-image:url('images/blog-featured-img.jpg')">
												<img src="images/blog-featured-img.jpg" alt="album name" />
											</div><!-- /.post__img  -->
										</a>
										<a href="javascript:;" class="post__cat">آخبار</a>
									</div>
									<div class="post__data">
										<time datetime="2014-10-09">10/09/2014</time>
										<h4><a href="javascript:;">الفقرات في الصفحة يقرأها</a></h4>
										<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ...</p>
										<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</div><!-- /.post__data -->
								</article>
							</div><!-- / .post__item -->
						</div><!-- /.layout__item -->
						<div class="[ layout__item medium-1/2 large-1/3 extralarge-and-up-1/3 ] [ mix category-2 ]" data-myorder="2">
							<div class="post__item shadow">
								<article class="post">
									<div class="post__img-wrap">
										<a href="javascript:;">
											<div class="post__img" style="background-image:url('images/blog-featured-img-2.jpg')">
												<img src="images/blog-featured-img-2.jpg" alt="album name" />
											</div><!-- /.post__img  -->
										</a>
										<a href="javascript:;" class="post__cat">آخبار</a>
									</div>
									<div class="post__data">
										<time datetime="2014-10-09">10/09/2014</time>
										<h4><a href="javascript:;">الفقرات في الصفحة يقرأها</a></h4>
										<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ...</p>
										<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</div><!-- /.post__data -->
								</article>
							</div><!-- / .post__item -->
						</div><!-- /.layout__item -->
						<div class="[ layout__item medium-1/2 large-1/3 extralarge-and-up-1/3 ] [ mix category-3 ]" data-myorder="3">
							<div class="post__item shadow " >
								<article class="post no-image">
									<div class="post__data">
										<a href="javascript:;" class="post__cat">آخبار</a>
										<time datetime="2014-10-09">10/09/2014</time>
										<h4><a href="javascript:;">الفقرات في الصفحة يقرأها</a></h4>
										<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ البحث. على مدى السنين ظهرت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة، وأحياناً عن عمد كإدخال بعض العبارات الفكاهية إليها... </p>
										<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</div><!-- /.post__data -->
								</article>
							</div><!-- / .post__item -->
						</div><!-- /.layout__item -->
						<div class="[ layout__item medium-1/2 large-1/3 extralarge-and-up-1/3 ] [ mix category-4 ]" data-myorder="4">
							<div class="post__item shadow">
								<article class="post">
									<div class="post__img-wrap">
										<a href="javascript:;">
											<div class="post__img" style="background-image:url('images/blog-featured-img-2.jpg')">
												<img src="images/blog-featured-img-2.jpg" alt="album name" />
											</div><!-- /.post__img  -->
										</a>
										<a href="javascript:;" class="post__cat">آخبار</a>
									</div>
									<div class="post__data">
										<time datetime="2014-10-09">10/09/2014</time>
										<h4><a href="javascript:;">الفقرات في الصفحة يقرأها</a></h4>
										<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ...</p>
										<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</div><!-- /.post__data -->
								</article>
							</div><!-- / .post__item -->
						</div><!-- /.layout__item -->
						<div class="[ layout__item medium-1/2 large-1/3 extralarge-and-up-1/3 ] [ mix category-2 ]" data-myorder="2">
							<div class="post__item shadow" >
								<article class="post">
									<div class="post__img-wrap">
										<a href="javascript:;">
											<div class="post__img" style="background-image:url('images/blog-featured-img-1.jpg')">
												<img src="images/blog-featured-img-1.jpg" alt="album name" />
											</div><!-- /.post__img  -->
										</a>
										<a href="javascript:;" class="post__cat">آخبار</a>
									</div>
									<div class="post__data">
										<time datetime="2014-10-09">10/09/2014</time>
										<h4><a href="javascript:;">الفقرات في الصفحة يقرأها</a></h4>
										<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ...</p>
										<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</div><!-- /.post__data -->
								</article>
							</div><!-- / .post__item -->
						</div><!-- /.layout__item -->
						<div class="[ layout__item medium-1/2 large-1/3 extralarge-and-up-1/3 ] [ mix category-1 ]"  data-myorder="1">
							<div class="post__item shadow ">
								<article class="post">
									<div class="post__img-wrap">
										<a href="javascript:;">
											<div class="post__img" style="background-image:url('images/blog-featured-img-2.jpg')">
												<img src="images/blog-featured-img-2.jpg" alt="album name" />
											</div><!-- /.post__img  -->
										</a>
										<a href="javascript:;" class="post__cat">آخبار</a>
									</div>
									<div class="post__data">
										<time datetime="2014-10-09">10/09/2014</time>
										<h4><a href="javascript:;">الفقرات في الصفحة يقرأها الصفحة يقرأها الصفحة يقرأها</a></h4>
										<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ...</p>
										<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</div><!-- /.post__data -->
								</article>
							</div><!-- / .post__item -->
						</div><!-- /.layout__item -->
						<div class="[ layout__item medium-1/2 large-1/3 extralarge-and-up-1/3 ] [ mix category-3 ]" data-myorder="3">
							<div class="post__item shadow" >
								<article class="post">
									<div class="post__img-wrap">
										<a href="javascript:;">
											<div class="post__img" style="background-image:url('images/blog-featured-img.jpg')">
												<img src="images/blog-featured-img.jpg" alt="album name" />
											</div><!-- /.post__img  -->
										</a>
										<a href="javascript:;" class="post__cat">آخبار</a>
									</div>
									<div class="post__data">
										<time datetime="2014-10-09">10/09/2014</time>
										<h4><a href="javascript:;">الفقرات في الصفحة يقرأها</a></h4>
										<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ...</p>
										<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</div><!-- /.post__data -->
								</article>
							</div><!-- / .post__item -->
						</div><!-- /.layout__item -->
					</div><!-- /.layout -->
				</div><!-- /.blog -->
			</div>
			<div class="container">
			<hr/>
				<nav class="pagination">
					<ul class="list-inline inline-block">
						<li>
							<a href="javascript:;" class="prev__item" title="Go to prev item">
								{{icon('icon-next', 'icon--7-12')}}
							</a>
						</li>
						<li>
							<a href="javascript:;" class="pagination__item">1</a>
						</li>
						<li>
							<span class="pagination__current">2</span>
						</li>
						<li>
							<a href="javascript:;" class="pagination__item">3</a>
						</li>
						<li>
							<a href="javascript:;" class="pagination__item">4</a>
						</li>
						<li>
							<a href="javascript:;" class="next__item" title="Go to next item">
								{{icon('icon-prev', 'icon--7-12')}}
							</a>
						</li>
					</ul>
				</nav> <!-- /.pagination -->
			</div><!-- /.container -->
		</div>	
	</div>
</main>

{% include "_partials/partial.footer.html" %}
{% endblock %}
