{% extends "./_templates/template.default.html" %}

{% block content %}
{% include "_partials/partial.header-normal.html" %}

<main>
	<div class="page-wrap">
	<div class="page-row">
		{% include "_partials/partial.sidebar.html" %}
		<div class="content page">
			<div class="container">
				<div class="gallery gallery--legislation entry-content">
					<h1>مجلس إدارة مصرف ليبيا المركزي</h1>
					<div class="layout">
						<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
							<div class="gallery__item shadow">
								<a href="javascript:;">
									<div class="gallery__img" style="background-image:url('images/directors-1.jpg')">
										<img src="images/directors-1.jpg" alt="name" />
									</div><!-- /.gallery__img  -->
								</a>
								<div class="gallery__data">
									<h4>علي محمد سالم</h4>
									<span>نائب المحافظ /نائباً للرئيس</span>
								</div><!-- /.gallery__title -->
							</div><!-- / .gallery__item -->
						</div><!-- /.layout__item -->
						<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
							<div class="gallery__item shadow">
								<a href="javascript:;">
									<div class="gallery__img" style="background-image:url('images/directors-2.jpg')">
										<img src="images/directors-2.jpg" alt="name" />
									</div><!-- /.gallery__img  -->
								</a>
								<div class="gallery__data">
									<h4>علي محمد سالم</h4>
									<span>عضـواً</span>
								</div><!-- /.gallery__title -->
							</div><!-- / .gallery__item -->
						</div><!-- /.layout__item -->
						<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
							<div class="gallery__item shadow">
								<a href="javascript:;">
									<div class="gallery__img" style="background-image:url('images/directors-blank.jpg')">
										<img src="images/directors-blank.jpg" alt="name" />
									</div><!-- /.gallery__img  -->
								</a>
								<div class="gallery__data">
									<h4>علي محمد سالم</h4>
									<span>عضـواً</span>
								</div><!-- /.gallery__title -->
							</div><!-- / .gallery__item -->
						</div><!-- /.layout__item -->
						<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
							<div class="gallery__item shadow">
								<a href="javascript:;">
									<div class="gallery__img" style="background-image:url('images/directors-3.jpg')">
										<img src="images/directors-3.jpg" alt="name" />
									</div><!-- /.gallery__img  -->
								</a>
								<div class="gallery__data">
									<h4>علي محمد سالم</h4>
									<span>عضـواً</span>
								</div><!-- /.gallery__title -->
							</div><!-- / .gallery__item -->
						</div><!-- /.layout__item -->
						<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
							<div class="gallery__item shadow">
								<a href="javascript:;">
									<div class="gallery__img" style="background-image:url('images/directors-blank.jpg')">
										<img src="images/directors-blank.jpg" alt="name" />
									</div><!-- /.gallery__img  -->
								</a>
								<div class="gallery__data">
									<h4>علي محمد سالم</h4>
									<span>عضـواً</span>
								</div><!-- /.gallery__title -->
							</div><!-- / .gallery__item -->
						</div><!-- /.layout__item -->
						<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
							<div class="gallery__item shadow">
								<a href="javascript:;">
									<div class="gallery__img" style="background-image:url('images/directors-4.jpg')">
										<img src="images/directors-4.jpg" alt="name" />
									</div><!-- /.gallery__img  -->
								</a>
								<div class="gallery__data">
									<h4>علي محمد سالم</h4>
									<span>عضـواً</span>
								</div><!-- /.gallery__title -->
							</div><!-- / .gallery__item -->
						</div><!-- /.layout__item -->
					</div><!-- /.layout -->
				</div><!-- /.gallery -->
			</div> <!-- /.container -->

		</div>
	</div>
</div>
</main>

{% include "_partials/partial.footer.html" %}
{% endblock %}
