{% extends "./_templates/template.default.html" %}

{% block content %}
{% include "_partials/partial.header-normal.html" %}

<main>
	<div class="contact">
		<div class="container">
			<h1>إتصل بنا</h1>
		</div>
		<section class="map-location">
			<div class="container">
				<div id="map1"></div>
				<div class="layout">
					<div class="layout__item extralarge-and-up-1/2">
						<h2>معلومات</h2>
						<select name="contact" class="contact-select">
							<option value="طرابلس">طرابلس</option>
							<option value="بنغازي">بنغازي</option>
							<option value="سرت">سرت</option>
							<option value="سبها‎">سبها‎</option>
						</select>
						<div class="contact__right">
						<table class="table--contact">
			               <tr>
			                 <td>صندوق البريد:</td>
			                 <td>1103 طرابلس- ليبيا</td>
			               </tr>
			               <tr>
			                 <td>العنوان البرقي:</td>
			                 <td>مصرفليبيا</td>
			               </tr>
			               <tr>
			                 <td>رقم الهاتف:</td>
			                 <td class="montserrat color-black">
			                 +218 21 3333591-99 <br />
			                 +218 21 4441481 <br />
			                 +218 21 4441481
			                 </td>
			              </tr>
			                 <td>تيليفاكس:</td>
			                 <td class="montserrat color-black">+218 21 4902148/4441488</td>
			               </tr>
			               <tr>
			                 <td>تيليكس: </td>
			                 <td class="montserrat color-black">22070, 22060, 20661, 20659</td>
			               </tr>
			               <tr>
			                 <td>سويفت:</td>
			                 <td class="montserrat color-black">CBLJLYLX</td>
			               </tr>
			               <tr>
			                 <td>البريد الالكتروني: </td>
			                 <td class="montserrat"><a href="mailto:WebSite.Dept@cbl.gov.ly">WebSite.Dept@cbl.gov.ly</a></td>
			             	</tr>
			             </table>
						</div><!-- /.contact__right -->

					</div>
					<div class="layout__item extralarge-and-up-1/2">
						<h2>إتصل بنا</h2>
						<form action="javascript:;" class="contact-form" >
							<div class="layout">
								<div class="layout__item large-and-up-1/1">
									<input type="text" class="input input--primary" placeholder="اسم">
									<input type="email" class="input input--primary" placeholder="البريد الإلكتروني">
									<input type="email" class="input input--primary" placeholder="موضوع">
								</div>
								<div class="layout__item large-and-up-1/1">
									<textarea name="comment" class="input input--textarea" placeholder="رسالة"></textarea>
								</div>
								<div class="layout__item">
									<button type="submit" class="btn btn--primary btn--full">إرسال رسالة</button>
								</div><!-- /.layout__item -->
								
							</div>
						</form>
					</div>
				</div>
			</div><!-- /.container -->
		</section>	
	</div>
</main>
{% include "_partials/partial.footer.html" %}
<script src="https://maps.googleapis.com/maps/api/js"></script>
<!-- <script src="http://maps.google.com/maps/api/js?sensor=false&amp;libraries=geometry&amp;v=3.7"></script> -->
{% endblock %}