{% extends "./_templates/template.default-en.html" %}

{% block content %}
{% include "_partials/partial.header-normal.html" %}

<main>
	<div class="page-wrap">
	<div class="page-row">
		{% include "_partials/partial.sidebar.html" %}
		<div class="content page">
			<div class="container">
				<div class="currency-notes entry-content">
					<h1>اصدارات‭ ‬العملة</h1>
					<h5>One dinnar</h5>
					<div class="layout">
						<div class="layout__item extralarge-and-up-1/2">
							<div class="currency-notes__item shadow">
								<a href="images/currency-notes-1.jpg" class="js-gallery-popup" title="One dinar">
									<div class="currency-notes__img" style="background-image:url('images/currency-notes-1.jpg')">
										<img src="images/currency-notes-1.jpg" alt="currency name" />
									</div><!-- /.currency-notes__item -->
								</a>
							</div><!-- / .currency-notes -->
						</div><!-- /.layout__item -->
						<div class="layout__item extralarge-and-up-1/2">
							<div class="currency-notes__item shadow">
								<a href="images/currency-notes-1.jpg" class="js-gallery-popup" title="One dinar">
									<div class="currency-notes__img" style="background-image:url('images/currency-notes-1.jpg')">
										<img src="images/currency-notes-1.jpg" alt="currency name" />
									</div><!-- /.currency-notes__item -->
								</a>
							</div><!-- / .currency-notes -->
						</div><!-- /.layout__item -->
					</div><!-- /.layout -->
					<h5>Twenty dinar</h5>
					<div class="layout">
						<div class="layout__item extralarge-and-up-1/2">
							<div class="currency-notes__item shadow">
								<a href="images/currency-notes-2.jpg" class="js-gallery-popup" title="Twenty dinar">
									<div class="currency-notes__img" style="background-image:url('images/currency-notes-2.jpg')">
										<img src="images/currency-notes-2.jpg" alt="currency name" />
									</div><!-- /.currency-notes__item -->
								</a>
							</div><!-- / .currency-notes -->
						</div><!-- /.layout__item -->
						<div class="layout__item extralarge-and-up-1/2">
							<div class="currency-notes__item shadow">
								<a href="images/currency-notes-2.jpg" class="js-gallery-popup" title="Twenty dinar">
									<div class="currency-notes__img" style="background-image:url('images/currency-notes-2.jpg')">
										<img src="images/currency-notes-2.jpg" alt="currency name" />
									</div><!-- /.currency-notes__item -->
								</a>
							</div><!-- / .currency-notes -->
						</div><!-- /.layout__item -->
					</div><!-- /.layout -->
					<h5>Fifty dinar</h5>
					<div class="layout">
						<div class="layout__item extralarge-and-up-1/2">
							<div class="currency-notes__item shadow">
								<a href="images/currency-notes-3.jpg" class="js-gallery-popup" title="Fifty dinar">
									<div class="currency-notes__img" style="background-image:url('images/currency-notes-3.jpg')">
										<img src="images/currency-notes-3.jpg" alt="currency name" />
									</div><!-- /.currency-notes__item -->
								</a>
							</div><!-- / .currency-notes -->
						</div><!-- /.layout__item -->
						<div class="layout__item extralarge-and-up-1/2">
							<div class="currency-notes__item shadow">
								<a href="images/currency-notes-3.jpg" class="js-gallery-popup" title="Fifty dinar">
									<div class="currency-notes__img" style="background-image:url('images/currency-notes-3.jpg')">
										<img src="images/currency-notes-3.jpg" alt="currency name" />
									</div><!-- /.currency-notes__item -->
								</a>
							</div><!-- / .currency-notes -->
						</div><!-- /.layout__item -->
					</div><!-- /.layout -->
				</div><!-- /.gallery -->
			</div> <!-- /.container -->
		</div>
	</div>
</div>
</main>

{% include "_partials/partial.footer.html" %}
{% endblock %}
