{% extends "./_templates/template.default.html" %}

{% block content %}
{% include "_partials/partial.header-normal.html" %}

<main>
	<div class="page">		
		<div class="container">
			<div class="layout layout--rev mb+">
				<div class="layout__item extralarge-and-up-3/4">
					<input type="text" id="curr-datepicker" class="input input--primary input--datepicker" />
				</div>
				<div class="layout__item extralarge-and-up-1/4">
					<div class="currency-buttons">
						<a href="javascript:;" class="js-print btn btn--primary btn--print">طباعة {{icon('icon-print','icon--19-14')}}</a>
						<button type="submit" class="btn btn--primary btn--submit">إرسال رسالة</button>
					</div>
				</div>
			</div>

			<table class="table table--currency">
				<thead>
					<tr>
						<th colspan="2">الرئيسية</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>ارشيف اسعار عام 2011</td>
						<td><a href="javascript:;"><img src="images/pdf-icon.jpg" alt="pdf icon" /></a></td>
					</tr>
					<tr>
						<td>ارشيف اسعار عام 2012</td>
						<td><a href="javascript:;"><img src="images/pdf-icon.jpg" alt="pdf icon" /></a></td>
					</tr>
				</tbody>
			</table>

		<table class="table table--tertiary">
		                    <thead>
		                    <tr>
		                        <th>العملة</th>
		                        <th>الوحدة</th>
		                        <th>متوسط</th>
		                        <th>بيع</th>
		                        <th>شراء </th>
		                    </tr>
		                    </thead>
		                    <tbody>
		                                            <tr>
		                            <td>الجنيه الاسترليني</td>
		                            <td>جنيه واحد</td>
		                            <td>1.9594 د‫.‬ل</td>
		                            <td>1.9643 د‫.‬ل</td>
		                            <td>1.9545 د‫.‬ل</td>
		                        </tr>
		                                            <tr>
		                            <td>اليورو</td>
		                            <td>يورو واحد</td>
		                            <td>1.5476 د‫.‬ل</td>
		                            <td>1.5515 د‫.‬ل</td>
		                            <td>1.5438 د‫.‬ل</td>
		                        </tr>
		                                            <tr>
		                            <td>الدولار الامريكي</td>
		                            <td>دولار واحد</td>
		                            <td>1.381 د‫.‬ل</td>
		                            <td>1.3845 د‫.‬ل</td>
		                            <td>1.3776 د‫.‬ل</td>
		                        </tr>
		                                            <tr>
		                            <td>الدولار الكندي</td>
		                            <td>دولار واحد</td>
		                            <td>1.0561 د‫.‬ل</td>
		                            <td>1.0587 د‫.‬ل</td>
		                            <td>1.0535 د‫.‬ل</td>
		                        </tr>
		                                            <tr>
		                            <td>الدولار الاسترالي</td>
		                            <td>دولار واحد</td>
		                            <td>1.0525 د‫.‬ل</td>
		                            <td>1.0552 د‫.‬ل</td>
		                            <td>1.0499 د‫.‬ل</td>
		                        </tr>
		                                            <tr>
		                            <td>الفرنك السويسري</td>
		                            <td>فرنك واحد</td>
		                            <td>1.4173 د‫.‬ل</td>
		                            <td>1.4208 د‫.‬ل</td>
		                            <td>1.4138 د‫.‬ل</td>
		                        </tr>
		                                            <tr>
		                            <td>الكرونر السويدي</td>
		                            <td>كرونر واحد</td>
		                            <td>0.1677 د‫.‬ل</td>
		                            <td>0.1681 د‫.‬ل</td>
		                            <td>0.1673 د‫.‬ل</td>
		                        </tr>
		                                            <tr>
		                            <td>الكرونر النرويجي</td>
		                            <td>كرونر واحد</td>
		                            <td>0.1643 د‫.‬ل</td>
		                            <td>0.1647 د‫.‬ل</td>
		                            <td>0.1639 د‫.‬ل</td>
		                        </tr>
		                                            <tr>
		                            <td>الكرونر الدنمركي</td>
		                            <td>كرونر واحد</td>
		                            <td>0.2077 د‫.‬ل</td>
		                            <td>0.2082 د‫.‬ل</td>
		                            <td>0.2072 د‫.‬ل</td>
		                        </tr>
		                                            <tr>
		                            <td>الين الياباني</td>
		                            <td> 100  ين </td>
		                            <td>1.2294 د‫.‬ل</td>
		                            <td>1.2325 د‫.‬ل</td>
		                            <td>1.2263 د‫.‬ل</td>
		                        </tr>
		                                            <tr>
		                            <td>الريال السعودي</td>
		                            <td>ريال واحد</td>
		                            <td>0.3682 د‫.‬ل</td>
		                            <td>0.3692 د‫.‬ل</td>
		                            <td>0.3673 د‫.‬ل</td>
		                        </tr>
		                                            <tr>
		                            <td>الدرهم الاماراتي</td>
		                            <td>درهم واحد</td>
		                            <td>0.376 د‫.‬ل</td>
		                            <td>0.3769 د‫.‬ل</td>
		                            <td>0.3751 د‫.‬ل</td>
		                        </tr>
		                                            <tr>
		                            <td>الدينار التونسي</td>
		                            <td>دينار واحد</td>
		                            <td>0.6833 د‫.‬ل</td>
		                            <td>0.685 د‫.‬ل</td>
		                            <td>0.6816 د‫.‬ل</td>
		                        </tr>
		                                            <tr>
		                            <td>الدينار الجزائري</td>
		                            <td> 10   دينار </td>
		                            <td>0.1254 د‫.‬ل</td>
		                            <td>0.1257 د‫.‬ل</td>
		                            <td>0.1251 د‫.‬ل</td>
		                        </tr>
		                                            <tr>
		                            <td>الدرهم المغربي</td>
		                            <td>درهم واحد</td>
		                            <td>0.1419 د‫.‬ل</td>
		                            <td>0.1423 د‫.‬ل</td>
		                            <td>0.1416 د‫.‬ل</td>
		                        </tr>
		                                            <tr>
		                            <td>اوقية موريتانية</td>
		                            <td> 100   اوقية </td>
		                            <td>0.4026 د‫.‬ل</td>
		                            <td>0.4036 د‫.‬ل</td>
		                            <td>0.4016 د‫.‬ل</td>
		                        </tr>
		                                            <tr>
		                            <td>فرنك افريقي</td>
		                            <td> 100   فرنـك </td>
		                            <td>0.235 د‫.‬ل</td>
		                            <td>0.2356 د‫.‬ل</td>
		                            <td>0.2344 د‫.‬ل</td>
		                        </tr>
		                                            <tr>
		                            <td>الروبل الروسي</td>
		                            <td>10 روبل</td>
		                            <td>0.2045 د‫.‬ل</td>
		                            <td>0.205 د‫.‬ل</td>
		                            <td>0.204 د‫.‬ل</td>
		                        </tr>
		                                            <tr>
		                            <td>الليرة التركية</td>
		                            <td> ليـرة </td>
		                            <td>0.481 د‫.‬ل</td>
		                            <td>0.4822 د‫.‬ل</td>
		                            <td>0.4798 د‫.‬ل</td>
		                        </tr>
		                                            <tr>
		                            <td>الايوان الصيني</td>
		                            <td>إيوان واحد</td>
		                            <td>0.2127 د‫.‬ل</td>
		                            <td>0.2132 د‫.‬ل</td>
		                            <td>0.2121 د‫.‬ل</td>
		                        </tr>
		                    

		                    </tbody>
		                </table>
			
		</div><!-- /.container -->
		
	</div>
</main>
{% include "_partials/partial.footer.html" %}
{% endblock %}