{% extends "./_templates/template.default-en.html" %}

{% block content %}
{% include "_partials/partial.header-normal.html" %}

<main>
	<div class="page">		
		<div class="container">
			<div class="layout mb+">
				<div class="layout__item extralarge-and-up-3/4">
					<input type="text" id="curr-datepicker" class="input input--primary input--datepicker" />
				</div>
				<div class="layout__item extralarge-and-up-1/4">
					<div class="currency-buttons">
						<button type="submit" class="btn btn--primary btn--submit">إرسال رسالة</button>
						<a href="javascript:;" class="js-print btn btn--primary btn--print">طباعة {{icon('icon-print','icon--19-14')}}</a>
					</div>
				</div>
			</div>

			<table class="table table--currency">
				<thead>
					<tr>
						<th colspan="2">الرئيسية</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>ارشيف اسعار عام 2011</td>
						<td><a href="javascript:;"><img src="images/pdf-icon.jpg" alt="pdf icon" /></a></td>
					</tr>
					<tr>
						<td>ارشيف اسعار عام 2012</td>
						<td><a href="javascript:;"><img src="images/pdf-icon.jpg" alt="pdf icon" /></a></td>
					</tr>
				</tbody>
			</table>

			<table class="table table--tertiary">
				<thead>
					<tr>
						<th>العملات - الوحدة </th>
						<th>متوسط السعر</th>
						<th>البيع </th>
						<th>شراء </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Pound Sterling<br />العملات - الوحدة </td>
						<td>1.955</td>
						<td>1.9599</td>
						<td>1.9501</td>
					</tr>
					<tr class="row-highlighted">
						<td>Euro<br /> اليورو </td>
						<td>1.955</td>
						<td>1.9599</td>
						<td>1.9501</td>
					</tr>
					<tr>
						<td>American dollar<br />الدولار الامريكي</td>
						<td>1.955</td>
						<td>1.9599</td>
						<td>1.9501</td>
					</tr>
					<tr>
						<td>Canadian Dollar<br />الدولار الكندي</td>
						<td>1.955</td>
						<td>1.9599</td>
						<td>1.9501</td>
					</tr>
					<tr>
						<td>Australian Dollar<br />االدولار الاسترالي</td>
						<td>1.955</td>
						<td>1.9599</td>
						<td>1.9501</td>
					</tr>
					<tr>
						<td>Swiss Franc<br />الفرنك السويسري </td>
						<td>1.955</td>
						<td>1.9599</td>
						<td>1.9501</td>
					</tr>
					<tr>
						<td>Swedish Krona<br />الكرونر السويدي </td>
						<td>1.955</td>
						<td>1.9599</td>
						<td>1.9501</td>
					</tr>
					<tr>
						<td>Norwegian Krone<br />الكرونر النرويجي </td>
						<td>1.955</td>
						<td>1.9599</td>
						<td>1.9501</td>
					</tr>
					
				</tbody>
			</table>
			
		</div><!-- /.container -->
		
	</div>
</main>
{% include "_partials/partial.footer.html" %}
{% endblock %}