{% extends "./_templates/template.default-en.html" %}

{% block content %}
{% include "_partials/partial.header-normal.html" %}

<main>
	<div class="page-wrap">
	<div class="page-row">
		{% include "_partials/partial.sidebar.html" %}
		<div class="content page">
			<div class="container">
				<div class="gallery gallery--inner entry-content">
				<h1>هناك حقيقة مثبتة منذ زمن</h1>
				<div class="layout mb+">
					<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
						<div class="gallery__item shadow">
							<a href="images/gallery-image-large.jpg" class="js-gallery-popup">
								<div class="gallery__img coverize" style="background-image:url('images/gallery-video-2.jpg')">
									<img src="images/gallery-video-2.jpg" alt="album name" />
									<div class="coverize__mask">
							          <div class="coverize__icon">
										  {{icon('icon-gallery', 'icon--64-64')}}
							          </div>
							        </div>
								</div><!-- /.gallery__img coverize -->
							</a>
						</div><!-- / .gallery__item -->
					</div><!-- /.layout__item -->
					<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
						<div class="gallery__item shadow">
							<a href="images/gallery-image-large.jpg" class="js-gallery-popup" title="هناك حقيقة مثبتة منذ زمن طويل وهي">
								<div class="gallery__img coverize" style="background-image:url('images/gallery-video.jpg')">
									<img src="images/gallery-video.jpg" alt="album name" />
									<div class="coverize__mask">
							          <div class="coverize__icon">
										  {{icon('icon-gallery', 'icon--64-64')}}
							          </div>
							        </div>
								</div><!-- /.gallery__img coverize -->
							</a>
						</div><!-- / .gallery__item -->
					</div><!-- /.layout__item -->
					<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
						<div class="gallery__item shadow">
							<a href="images/gallery-image-large.jpg" class="js-gallery-popup" title="هناك حقيقة مثبتة منذ زمن طويل وهي">
								<div class="gallery__img coverize" style="background-image:url('images/gallery-video-2.jpg')">
									<img src="images/gallery-video-2.jpg" alt="album name" />
									<div class="coverize__mask">
							          <div class="coverize__icon">
										  {{icon('icon-gallery', 'icon--64-64')}}
							          </div>
							        </div>
								</div><!-- /.gallery__img coverize -->
							</a>
						</div><!-- / .gallery__item -->
					</div><!-- /.layout__item -->
					<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
						<div class="gallery__item shadow">
							<a href="images/gallery-image-large.jpg" class="js-gallery-popup" title="هناك حقيقة مثبتة منذ زمن طويل وهي">
								<div class="gallery__img coverize" style="background-image:url('images/gallery-video.jpg')">
									<img src="images/gallery-video.jpg" alt="album name" />
									<div class="coverize__mask">
							          <div class="coverize__icon">
										  {{icon('icon-gallery', 'icon--64-64')}}
							          </div>
							        </div>
								</div><!-- /.gallery__img coverize -->
							</a>
						</div><!-- / .gallery__item -->
					</div><!-- /.layout__item -->
					<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
						<div class="gallery__item shadow">
							<a href="images/gallery-image-large.jpg" class="js-gallery-popup" title="هناك حقيقة مثبتة منذ زمن طويل وهي">
								<div class="gallery__img coverize" style="background-image:url('images/gallery-video-2.jpg')">
									<img src="images/gallery-video-2.jpg" alt="album name" />
									<div class="coverize__mask">
							          <div class="coverize__icon">
										  {{icon('icon-gallery', 'icon--64-64')}}
							          </div>
							        </div>
								</div><!-- /.gallery__img coverize -->
							</a>
						</div><!-- / .gallery__item -->
					</div><!-- /.layout__item -->
					<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
						<div class="gallery__item shadow">
							<a href="images/gallery-image-large.jpg" class="js-gallery-popup" title="هناك حقيقة مثبتة منذ زمن طويل وهي">
								<div class="gallery__img coverize" style="background-image:url('images/gallery-video-2.jpg')">
									<img src="images/gallery-video-2.jpg" alt="album name" />
									<div class="coverize__mask">
							          <div class="coverize__icon">
										  {{icon('icon-gallery', 'icon--64-64')}}
							          </div>
							        </div>
								</div><!-- /.gallery__img coverize -->
							</a>
						</div><!-- / .gallery__item -->
					</div><!-- /.layout__item -->
					<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
						<div class="gallery__item shadow">
							<a href="images/gallery-image-large.jpg" class="js-gallery-popup" title="هناك حقيقة مثبتة منذ زمن طويل وهي">
								<div class="gallery__img coverize" style="background-image:url('images/gallery-video-1.jpg')">
									<img src="images/gallery-video-1.jpg" alt="album name" />
									<div class="coverize__mask">
							          <div class="coverize__icon">
										  {{icon('icon-gallery', 'icon--64-64')}}
							          </div>
							        </div>
								</div><!-- /.gallery__img coverize -->
							</a>
						</div><!-- / .gallery__item -->
					</div><!-- /.layout__item -->
					<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
						<div class="gallery__item shadow">
							<a href="images/gallery-video.jpg" class="js-gallery-popup">
								<div class="gallery__img coverize" style="background-image:url('images/gallery-video.jpg')">
									<img src="images/gallery-video.jpg" alt="album name" />
									<div class="coverize__mask">
							          <div class="coverize__icon">
										  {{icon('icon-gallery', 'icon--64-64')}}
							          </div>
							        </div>
								</div><!-- /.gallery__img coverize -->
							</a>
						</div><!-- / .gallery__item -->
					</div><!-- /.layout__item -->
					<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
						<div class="gallery__item shadow">
							<a href="images/gallery-image-large.jpg" class="js-gallery-popup" title="هناك حقيقة مثبتة منذ زمن طويل وهي">
								<div class="gallery__img coverize" style="background-image:url('images/gallery-video-1.jpg')">
									<img src="images/gallery-video-1.jpg" alt="album name" />
									<div class="coverize__mask">
							          <div class="coverize__icon">
										  {{icon('icon-gallery', 'icon--64-64')}}
							          </div>
							        </div>
								</div><!-- /.gallery__img coverize -->
							</a>
						</div><!-- / .gallery__item -->
					</div><!-- /.layout__item -->
					<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
						<div class="gallery__item shadow">
							<a href="images/gallery-image-large.jpg" class="js-gallery-popup" title="هناك حقيقة مثبتة منذ زمن طويل وهي">
								<div class="gallery__img coverize" style="background-image:url('images/gallery-video.jpg')">
									<img src="images/gallery-video.jpg" alt="album name" />
									<div class="coverize__mask">
							          <div class="coverize__icon">
										  {{icon('icon-gallery', 'icon--64-64')}}
							          </div>
							        </div>
								</div><!-- /.gallery__img coverize -->
							</a>
						</div><!-- / .gallery__item -->
					</div><!-- /.layout__item -->
					<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
						<div class="gallery__item shadow">
							<a href="images/gallery-image-large.jpg" class="js-gallery-popup" title="هناك حقيقة مثبتة منذ زمن طويل وهي">
								<div class="gallery__img coverize" style="background-image:url('images/gallery-video-1.jpg')">
									<img src="images/gallery-video-1.jpg" alt="album name" />
									<div class="coverize__mask">
							          <div class="coverize__icon">
										  {{icon('icon-gallery', 'icon--64-64')}}
							          </div>
							        </div>
								</div><!-- /.gallery__img coverize -->
							</a>
						</div><!-- / .gallery__item -->
					</div><!-- /.layout__item -->
				</div><!-- /.layout -->
			</div><!-- /.gallery -->
			<nav class="pagination">
				<ul class="list-inline inline-block">
					<li>
						<a href="javascript:;" class="prev__item" title="Go to prev item">
							{{icon('icon-next', 'icon--7-12')}}
						</a>
					</li>
					<li>
						<a href="javascript:;" class="pagination__item">1</a>
					</li>
					<li>
						<span class="pagination__current">2</span>
					</li>
					<li>
						<a href="javascript:;" class="pagination__item">3</a>
					</li>
					<li>
						<a href="javascript:;" class="pagination__item">4</a>
					</li>
					<li>
						<a href="javascript:;" class="next__item" title="Go to next item">
							{{icon('icon-prev', 'icon--7-12')}}
						</a>
					</li>
				</ul>
			</nav> <!-- /.pagination -->
			</div> <!-- /.container -->
		</div>
	</div>
</div>
</main>
{% include "_partials/partial.footer.html" %}
{% endblock %}
