{% extends "./_templates/template.default-en.html" %}

{% block content %}
{% include "_partials/partial.header-normal.html" %}

<main>
	<div class="page-wrap">
	<div class="page-row">
		{% include "_partials/partial.sidebar.html" %}
		<div class="content page"> 
			<div class="container">
				<div class="gallery">
					<h5>2015</h5>
					<div class="layout">
						<div class="layout__item large-and-up-1/2">
							<div class="gallery__item shadow">
								<a href="https://www.youtube.com/watch?v=Q0nDQOrBx4A" class="js-video-popup">
									<div class="gallery__img coverize" style="background-image:url('http://img.youtube.com/vi/Q0nDQOrBx4A/maxresdefault.jpg')">
										<img src="http://img.youtube.com/vi/Q0nDQOrBx4A/maxresdefault.jpg" alt="album name" />
										<!-- Get youtube video ID and insert in image http://img.youtube.com/vi/INSERT-VIDEO-ID-HERE/maxresdefault.jpg -->
										<div class="coverize__mask">
								          <div class="coverize__icon">
											  {{icon('icon-video', 'icon--64-64')}}
								          </div>
								        </div>
									</div><!-- /.gallery__img coverize -->
								</a>
								<div class="gallery__title">
									<h4>هنالك العديد من الأنواع </h4>
								</div><!-- /.gallery__title -->
							</div><!-- / .gallery__item -->
						</div><!-- /.layout__item -->
						<div class="layout__item large-and-up-1/2">
							<div class="gallery__item shadow">
								<a href="https://www.youtube.com/watch?v=Q0nDQOrBx4A" class="js-video-popup">
									<div class="gallery__img coverize" style="background-image:url('http://img.youtube.com/vi/Q0nDQOrBx4A/maxresdefault.jpg')">
										<img src="http://img.youtube.com/vi/Q0nDQOrBx4A/maxresdefault.jpg" alt="album name" />
										<div class="coverize__mask">
								          <div class="coverize__icon">
											  {{icon('icon-video', 'icon--64-64')}}
								          </div>
								        </div>
									</div><!-- /.gallery__img coverize -->
								</a>
								<div class="gallery__title">
									<h4>هنالك العديد من الأنواع</h4>
								</div><!-- /.gallery__title -->
							</div><!-- / .gallery__item -->
						</div><!-- /.layout__item -->
						<div class="layout__item large-and-up-1/2">
							<div class="gallery__item shadow">
								<a href="https://www.youtube.com/watch?v=Q0nDQOrBx4A" class="js-video-popup">
									<div class="gallery__img coverize" style="background-image:url('http://img.youtube.com/vi/Q0nDQOrBx4A/maxresdefault.jpg')">
										<img src="http://img.youtube.com/vi/Q0nDQOrBx4A/maxresdefault.jpg" alt="album name" />
										<div class="coverize__mask">
								          <div class="coverize__icon">
											  {{icon('icon-video', 'icon--64-64')}}
								          </div>
								        </div>
									</div><!-- /.gallery__img coverize -->
								</a>
								<div class="gallery__title">
									<h4>هنالك العديد من الأنواع </h4>
								</div><!-- /.gallery__title -->
							</div><!-- / .gallery__item -->
						</div><!-- /.layout__item -->
						<div class="layout__item large-and-up-1/2">
							<div class="gallery__item shadow">
								<a href="https://www.youtube.com/watch?v=Q0nDQOrBx4A" class="js-video-popup">
									<div class="gallery__img coverize" style="background-image:url('http://img.youtube.com/vi/Q0nDQOrBx4A/maxresdefault.jpg')">
										<img src="http://img.youtube.com/vi/Q0nDQOrBx4A/maxresdefault.jpg" alt="album name" />
										<div class="coverize__mask">
								          <div class="coverize__icon">
											  {{icon('icon-video', 'icon--64-64')}}
								          </div>
								        </div>
									</div><!-- /.gallery__img coverize -->
								</a>
								<div class="gallery__title">
									<h4>هنالك العديد من الأنواع </h4>
								</div><!-- /.gallery__title -->
							</div><!-- / .gallery__item -->
						</div><!-- /.layout__item -->
						<div class="layout__item large-and-up-1/2">
							<div class="gallery__item shadow">
								<a href="https://www.youtube.com/watch?v=Q0nDQOrBx4A" class="js-video-popup">
									<div class="gallery__img coverize" style="background-image:url('http://img.youtube.com/vi/Q0nDQOrBx4A/maxresdefault.jpg')">
										<img src="http://img.youtube.com/vi/Q0nDQOrBx4A/maxresdefault.jpg" alt="album name" />
										<div class="coverize__mask">
								          <div class="coverize__icon">
											  {{icon('icon-video', 'icon--64-64')}}
								          </div>
								        </div>
									</div><!-- /.gallery__img coverize -->
								</a>
								<div class="gallery__title">
									<h4>هنالك العديد من الأنواع </h4>
								</div><!-- /.gallery__title -->
							</div><!-- / .gallery__item -->
						</div><!-- /.layout__item -->
						<div class="layout__item large-and-up-1/2">
							<div class="gallery__item shadow">
								<a href="https://www.youtube.com/watch?v=Q0nDQOrBx4A" class="js-video-popup">
									<div class="gallery__img coverize" style="background-image:url('http://img.youtube.com/vi/Q0nDQOrBx4A/maxresdefault.jpg')">
										<img src="http://img.youtube.com/vi/Q0nDQOrBx4A/maxresdefault.jpg" alt="album name" />
										<div class="coverize__mask">
								          <div class="coverize__icon">
											  {{icon('icon-video', 'icon--64-64')}}
								          </div>
								        </div>
									</div><!-- /.gallery__img coverize -->
								</a>
								<div class="gallery__title">
									<h4>هنالك العديد من الأنواع </h4>
								</div><!-- /.gallery__title -->
							</div><!-- / .gallery__item -->
						</div><!-- /.layout__item -->
					</div><!-- /.layout -->
					<h5>2014</h5>
					<div class="layout">
						<div class="layout__item large-and-up-1/2">
							<div class="gallery__item shadow">
								<a href="https://www.youtube.com/watch?v=Q0nDQOrBx4A" class="js-video-popup">
									<div class="gallery__img coverize" style="background-image:url('http://img.youtube.com/vi/Q0nDQOrBx4A/maxresdefault.jpg')">
										<img src="http://img.youtube.com/vi/Q0nDQOrBx4A/maxresdefault.jpg" alt="album name" />
										<div class="coverize__mask">
								          <div class="coverize__icon">
											  {{icon('icon-video', 'icon--64-64')}}
								          </div>
								        </div>
									</div><!-- /.gallery__img coverize -->
								</a>
								<div class="gallery__title">
									<h4>هنالك العديد من الأنواع </h4>
								</div><!-- /.gallery__title -->
							</div><!-- / .gallery__item -->
						</div><!-- /.layout__item -->
						<div class="layout__item large-and-up-1/2">
							<div class="gallery__item shadow">
								<a href="https://www.youtube.com/watch?v=Q0nDQOrBx4A" class="js-video-popup">
									<div class="gallery__img coverize" style="background-image:url('http://img.youtube.com/vi/Q0nDQOrBx4A/maxresdefault.jpg')">
										<img src="http://img.youtube.com/vi/Q0nDQOrBx4A/maxresdefault.jpg" alt="album name" />
										<div class="coverize__mask">
								          <div class="coverize__icon">
											  {{icon('icon-video', 'icon--64-64')}}
								          </div>
								        </div>
									</div><!-- /.gallery__img coverize -->
								</a>
								<div class="gallery__title">
									<h4>هنالك العديد من الأنواع</h4>
								</div><!-- /.gallery__title -->
							</div><!-- / .gallery__item -->
						</div><!-- /.layout__item -->
						<div class="layout__item large-and-up-1/2">
							<div class="gallery__item shadow">
								<a href="https://www.youtube.com/watch?v=Q0nDQOrBx4A" class="js-video-popup">
									<div class="gallery__img coverize" style="background-image:url('http://img.youtube.com/vi/Q0nDQOrBx4A/maxresdefault.jpg')">
										<img src="http://img.youtube.com/vi/Q0nDQOrBx4A/maxresdefault.jpg" alt="album name" />
										<div class="coverize__mask">
								          <div class="coverize__icon">
											  {{icon('icon-video', 'icon--64-64')}}
								          </div>
								        </div>
									</div><!-- /.gallery__img coverize -->
								</a>
								<div class="gallery__title">
									<h4>هنالك العديد من الأنواع </h4>
								</div><!-- /.gallery__title -->
							</div><!-- / .gallery__item -->
						</div><!-- /.layout__item -->
						<div class="layout__item large-and-up-1/2">
							<div class="gallery__item shadow">
								<a href="https://www.youtube.com/watch?v=Q0nDQOrBx4A" class="js-video-popup">
									<div class="gallery__img coverize" style="background-image:url('http://img.youtube.com/vi/Q0nDQOrBx4A/maxresdefault.jpg')">
										<img src="http://img.youtube.com/vi/Q0nDQOrBx4A/maxresdefault.jpg" alt="album name" />
										<div class="coverize__mask">
								          <div class="coverize__icon">
											  {{icon('icon-video', 'icon--64-64')}}
								          </div>
								        </div>
									</div><!-- /.gallery__img coverize -->
								</a>
								<div class="gallery__title">
									<h4>هنالك العديد من الأنواع </h4>
								</div><!-- /.gallery__title -->
							</div><!-- / .gallery__item -->
						</div><!-- /.layout__item -->
					</div><!-- /.layout -->
				</div><!-- /.gallery -->
			</div><!-- /.container -->
		</div>
	</div>
</div>
</main>
{% include "_partials/partial.footer.html" %}
{% endblock %}
