{% extends "./_templates/template.default.html" %}

{% block content %}
{% include "_partials/partial.header-normal.html" %}

<main>
	<div class="page-wrap">
		<div class="page-row">
			{% include "_partials/partial.sidebar.html" %}
			<div class="content page">
				<div class="container">
					<div class="entry-content">
						<div class="governor">
							<img src="images/governor.jpg" alt="governor cbl" />
						</div><!-- /.governor -->
						<div class="container container--indented">
							<h1>كلمة المحافظ</h1>
							<h4>بِسْـم الله الرَحْمن الرَحيـم </h4>
							<p>إذا كانتْ سُنَّة التطَوُّر المُسْتَمِر هي دَأْب الحياة في دُنيا الواقع ، فإن وتيرة التطَوُّر في العالم الإفتراضي هي أشَدُّ وأسرع حتى إن المرْء يَلْهثُ جاهداً في مُحاولة مُواكبة مَعالمه ومُتابعة مستجداته. </p>

							<p>ومن هنا يأتي موقع مصرف ليبيا المركزي في ثَوْبه الجديد مُحاكياً التطَوُّر الذي تشهده تقنية المواقع الإلكترونية على شبكة المعلومات الدولية ( الإنترنت ) ، وفاسحاً المَجال أمام زُوَّاره للإستفادة بما ينطوي عليه من معلومات وفقاً لأحدث ما تُتيحه التقنية الرقمية من وسائل وإمكانات ، وطبقاً لِما تقتضيه سياسة الشفافية من معايير ومُتطلبات.</p>  

							<p>وقد رُوْعِيَ في التصميم الجديد لهذا الموقع إتاحة المعلومة للباحث عنها ، وتسهيل مهمَّة البحث من الناحيتين الكمية والكيفية فأضيف إليه قدْرٌ وفير من المعلومات ذات الصلة بنشاط المصرف وأغراضه في مختلف المجالات المُتعلقة بالسياسات الإقتصادية والمالية والنقدية ، وما يتفرَّع عنها من سياسات مصرفية وائتمانية وغيرها مع الحرص على توفير الإمكانية اللازمة لتحديث هذه المعلومات وتوسيع نِطاقها بصورة مُسْتمرَّة وتمكين زُوَّار الموقع من الإحاطة بها والحصول عليها بكل سهولة ويُسْر.</p>

							<p>وفي الوقتْ الذي نفْتحُ أبواب هذه الواحة أمام زُوَّارها الكِرام ، آملين إتاحة آفاق واسعة للمعرفة تُوفِّرُ لهم بُغْيَتهم من المعلومات المصرفية بشتى أنواعها ، فإِننا نأمل تواصلهم عبر رابط الخدمات على هذا الموقع ، وإبداء ما يَعِنُّ لهم من ملاحظات على ما يُقدمه المصرف المركزي خاصةً والقطاع المصرفي عموماً من خدمات ، وستجد إنْ شاء الله هذه الملاحظات والمقترحات كل الترحيب والتقدير والإهتمام.</p>
						
						</div><!-- /.container--indented -->
					</div>
				</div><!-- /.container -->
			</div>	
		</div>
	</div>
</main>

{% include "_partials/partial.footer.html" %}
{% endblock %}
