{% extends "./_templates/template.default.html" %}

{% block content %}
{% include "_partials/partial.header-normal.html" %}

<main>
	<div class="page-wrap">
		<div class="page-row">
			{% include "_partials/partial.sidebar.html" %}
			<div class="content page">
				<div class="container">
					<div class="entry-content">
						<img src="images/our-message.jpg" alt="our message" />
						<div class="container container--indented">
						<p>إن مصرف ليبيا المركزي مؤسسة مالية مستقلة ومملوكة بالكامل للدولة الليبية ويُمثَّل السلطة النقدية بها وقد حدد قانون إنشاء المصرف المركزي والقوانين اللاحقة له والتي كان آخرها قانون المصارف رقم (1) لسنة 2005 م أهداف المصرف المركزي وهي المحافظة على الاستقرار النقدي والعمل على تحقيق النمو فى الاقتصاد الوطني فى إطار السياسة العامة للدولة .</p>

						<p>ويتولى مجلس إدارة مصرف ليبيا المركزي تصريف أمور المصرف ووضع اللوائح الداخلية المتعلقة بعملياته وبالشئون الإدارية والمالية ، ويتكون مجلس الإدارة من المحافظ رئيســــاً ونائب المحافظ نائباً للرئيس ، وعدد خمسة أعضاء آخرين ، ويعتبر المحافظ هو الرئيس التنفيذي للمصرف وهو الذي يتولى إدارته وتصريف شئونه العادية بإشراف مجلس الإدارة .</p>

						<p>وتعد مدينة طرابلس مقر الإدارة العامة لمصرف ليبيا المركزي ، ويقوم المصرف بتقديم خدماته للمصارف التجارية وفروعها في جميع أنحاء الدولة من خلال فروعه فى كل من بنغازي  سرت ، وسبهـــــا ، وأقسام الإصدار في مدينة غريان ، والبيضاء .</p>

						<p>وقد بدأ مصرف ليبيا المركزي نشاطه فى الأول من شهر ابريل عام 1956م ، وحل بذلك محل لجنة النقد الليبية التى أُنشئتْ فى عام 1951م ، وقد كانتْ من بين ووظائفه المحافظة على تغطية العملة المُصدرة بأصول إسترلينية ، ولم يكن له فى بداية نشاطه أي دور فى مراقبة عرض النقود أو الائتمان المصرفي أو فى الرقابة على المصارف ، وبمرور الوقت اتسعتْ صلاحيات مصرف ليبيا المركزي لتشمل المهام التالية :</p>

						<ul>
							<li>تنظيم وإصدار العملة الورقية والمعدنية.</li>
							<li>المحافظة على استقرار النقد الليبي فى الداخل والخارج.</li>
							<li>إدارة احتياطيات الدولة من الذهب والعملات الأجنبية.</li>
							<li>تنظيم الائتمان المصرفي من حيث الحجم والنوع والسعر بما يكفل مواجهة الحاجات الحقيقية  للنمو الاقتصادي والاستقرار النقدي.</li>
							<li>إتخاذ التدابير اللازمة لمعالجة الاضطرابات الاقتصادية أو المالية دولية كانتْ أو محلية.</li>
							<li>العمل كمصرف للمصارف التجارية.</li>
							<li>مراقبة المصارف التجارية والتأكد من سلامة أوضاعها المالية ومراقبة كفاءة أدائها وضمان حقوق زبائنها.</li>
							<li>العمل كمصرف ووكيل مالي للدولة ومؤسساتها العامة.</li>
							<li>تقديم المشورة للدولة فيما يتعلق برسم وتقييم السياسة الاقتصادية والمالية.</li>
							<li>مراقبة الصرف الأجنبي.</li>
							<li>القيام بالمهام أو العمليات التي عادة ما يقوم بها أي مصرف مركزي آخر ، وما قد يُسند إليه من مَهَام بموجب قانون المصارف أو أي إتفاقيات دولية تكون الدولة طرفاً فيها.</li>
							<li>إصدار وإدارة القروض التي تعقدها الدولة.</li>
						</ul>

						<h2>أهم وظائف مصرف ليبيا المركزي</h2>
						<h4>أولاً : إصدار وتنظيم العملة</h4>
						<p>إن وحدة العملة الوطنية هى الدينار الليبي وينقسم الى ألف درهم ، وهو مرتبط مع سلة وحدة حقوق السحب الخاصة منذ 1986/03/18م بسعر ثابت وهو وفـق أخر تعديـل في 2003/06/14م مُساوياً 
						( 0.5175 ) وحدة حقوق سحب الخاصة لكل دينار ليبي واحد ، ويقوم المصرف بنشر أسعار صرف الدينار الليبي مقابل العملات الأجنبية وفقاً لتغير تلك العملات مقابل وحدة حقوق السحب الخاصة وهو الجهة المُخولة قانوناً بإصدار العملة الوطنية ( الورقية والمعدنية ) وعادة ما تُغطي العملة المُصدّرة للتداول بالذهب والعملات الأجنبية القابلة للتحويل.</p>
						<h4>ثانياً : إدارة الاحتياطيات ومراقبة الصرف الاجنبى</h4>
						<p>يقوم المصرف بإدارة إحتياطيات ليبيا من الذهب والعملات الأجنبية ، وبإختيار الأدوات الاستثمارية المناسبة والقيمة التى يتم استثمارها من كل عملة ، آخذاً فى الاعتبار التطورات فى أسعار الصرف وفى الأسواق المالية بما يضمن سلامة وربحية هذه الاستثمارات ، ويسمح للمصارف التجارية بالإحتفاظ بأصول أجنبية وفقاً للتعليمات التى يصدرها من وقت لآخر ، كما قام مصرف ليبيا المركزي بتخفيف الرقابة على الصرف الاجنبى وتحرير الحساب الجاري بهدف تعزيز الاستقرار الاقتصادي واستقرار المستوى العام للأسعار.</p>
						<h4>ثالثاً : مصرف الدولة</h4>
						<p>يعتبر مصرف ليبيا المركزي الوكيل المالي للدولة حيث يحتفظ بحسابات وايرادات ومصروفات المالية العامة ، ويقوم بصرف وتحويل وتحصيل الأموال محلياً وخارجياً ، وكذلك إدارة عمليات خطابات الاعتماد نيابة عن زبائنه وتقديم مختلف خدماته المصرفية الى الوحدات الإدارية العامة.</p>
						<h4>رابعاً : مصرف المصارف</h4>
						<p>يحتفظ مصرف ليبيا المركزي بالإحتياطي النقدي الإلزامي المطلوب من المصارف التجارية كنسبة من ودائع زبائنها بالإضافة الى أنه يقبل ودائع زمنية من هذه المصارف مقابل فوائد ، ويعتبر المصرف المركزي الملجأ الأخير للمصارف التجارية حيث يستطيع منحها قروض غير اعتيادية فى مواجهة أية ظروف استثنائية تُهدد الاستقرار النقدي والمصرفي في ليبيا. </p>
						<h4>خامساً : مراقبة وتنظيم النشاط المصرفي</h4>
						<p>يقوم المصرف المركزي بفحص وتحليل المراكز المالية للمصارف التجارية والتأكد من إنها تحتفظ بالنسب المطلوبة المتعلقة بالاحتياطي النقدي الالزامى والسيولة القانونية ، كما يُراقب تنفيذ المصارف التجارية للسياسات الائتمانية والمصرفية التى يرسمها ، وتقديم خدماته الى المصارف التجارية في مجال مقاصة الصكوك وفي مجال مركزية مخاطر الائتمان.</p>
						<p>ويقوم موظفو مصرف ليبيا المركزي بالتفتيش على المصارف التجارية وفروعها وفحص دفاترها وسجلاتها للتأكد من سلامة أوضاعها المالية ودقة البيانات المُحاَّلة إليه ، ومدى ملائمة خدماتها المصرفية ، وملاءة وكفاية رأس المال. </p>
						<h4>سادساً : دور المصرف المركزي فى التنمية الاقتصادية</h4>
						<p>إن مصرف ليبيا المركزي له دور مباشر وفعّال فى التنمية الاقتصادية بالدولة وذلك من خلال مساعدة المؤسسات المالية في استقطاب وتوجيه المُدخرات نحو تمويل المشروعات والوحدات الإنتاجية والخدمية العامة والخاصة ، كما يساهم في تعزيز الوضع المالي للدولة من خلال إدارة احتياطياتها من الذهب والعملات الأجنبية ، ويلعب دوراً غير مباشر فى التنمية الاقتصادية بما يُجسده من تأثير في نشاط المصارف التجارية وخاصة من خلال التحكم فى الكتلة النقدية ، وإقرار سياسة نقدية قادرة على تعزيز الثقة المحلية والخارجية فى قوة واستقرار العملة الليبية وفى الاقتصاد عموماً ، وكذلك من خلال تشجيع الادخار المحلى من قِبل الأفراد والجهات الاعتبارية وتوجيهه للإستثمار فى القطاعات الإنتاجية والخدمية.</p>

						<h4>المحافظون السابقون:</h4>
						<table class="table table--primary no-head mb0">
							<tbody>
								<tr>
									<td>د. قاسم شرح البال عزوز</td>
									<td></td>
								</tr>
								<tr>
									<td>أ. فرحات عمر بن قدارة المحافظ</td>
									<td>2006/03/06 - 2011/02/17</td>
								</tr>
								<tr>
									<td>د. احمد امنيسى عبد الحميد</td>
									<td>2001/03/23 - 2006/03/05</td>
								</tr>
								<tr>
									<td>د. الطاهر الهــادي الجهيمي</td>
									<td>1996/02/14 - 2001/03/22</td>
								</tr>
								<tr>
									<td>د .عبد الحفيظ محمود الزليطنى</td>
									<td>1990/10/07 - 1996/02/13</td>
								</tr>
								<tr>
									<td>محمــد الزروق رجب</td>
									<td>1987/01/04 - 1990/10/06</td>
								</tr>
								<tr>
									<td>رجب عبد الله المسـلاتى</td>
									<td>1981/01/18 - 1986/03/03</td>
								</tr>
								<tr>
									<td>قــاسم محمد شرلالة</td>
									<td>1969/09/20 - 1981/01/17</td>
								</tr>
								<tr>
									<td>خليل احمـد البنانى</td>
									<td>1961/03/27 - 1969/09/01</td>
								</tr>
								<tr>
									<td>د. على نورالـدين العنيزى</td>
									<td>1955/04/26 - 1961/03/26</td>
								</tr>
							</tbody>
						</table>
					</div><!-- /.container--indented -->
					</div> <!-- /.entry-content -->
				</div>
			</div>	
		</div>
	</div>
</main>

{% include "_partials/partial.footer.html" %}
{% endblock %}
