{% extends "./_templates/template.default.html" %}

{% block content %}
{% include "_partials/partial.header.html" %}

<main>
	{% include "_partials/partial.home-featured-img.html" %}
	{% include "_partials/partial.home-table.html" %}
	{% include "_partials/partial.home-posts.html" %}
	{% include "_partials/partial.home-posts-1.html" %}
	{% include "_partials/partial.home-calendar.html" %}
	{% include "_partials/partial.home-charts.html" %}
	{% include "_partials/partial.home-video.html" %}
</main>

{% include "_partials/partial.footer.html" %}
<script src="../bower_components/amcharts/dist/amcharts/amcharts.js"></script>
<script src="../bower_components/amcharts/dist/amcharts/serial.js"></script>
<script src="../bower_components/amcharts/dist/amcharts/themes/light.js"></script>
<script src="js/all.min.js"></script>
{% endblock %}
