{% extends "./_templates/template.default-en.html" %}

{% block content %}
{% include "_partials/partial.header.html" %}

<main>
	{% include "_partials/partial.home-featured-img.html" %}
	<section class="home-table">
		<div class="container">
			<table class="table table--secondary">
				<thead>
					<tr>
						<th colspan="5" class="table__title">اسعار العملات</th>
						<th colspan="2">الاحد <span class="montserrat">23-09-2015</span></th>
						<th colspan="2">
							<a href="javascript:;" class="call-to-action">تفاصيل الأسعار والأرشيف</a>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><img src="images/gb-flag.png" alt="flag"></td>
						<td><img src="images/eu-flag.png" alt="flag"></td>
						<td><img src="images/usa-flag.png" alt="flag"></td>
						<td><img src="images/ca-flag.png" alt="flag"></td>
						<td><img src="images/cn-flag.png" alt="flag"></td>
						<td><img src="images/uae-flag.png" alt="flag"></td>
						<td><img src="images/turkey-flag.png" alt="flag"></td>
						<td><img src="images/tunis-flag.png" alt="flag"></td>
						<td><img src="images/egypt-flag.png" alt="flag"></td>
					</tr>
					<tr class="table__currency">
						<td><span>gbp</span> {{icon('icon-gbp', 'icon--8-11')}}</td>
						<td><span>eur</span> {{icon('icon-eur', 'icon--8-11')}}</td>
						<td><span>usd</span> {{icon('icon-dollar', 'icon--9-13')}}</td>
						<td><span>cad</span> {{icon('icon-dollar', 'icon--9-13')}}</td>
						<td><span>cny</span> {{icon('icon-yen', 'icon--12-13')}}</td>
						<td><span>ead</span> {{icon('icon-aed', 'icon--13-13')}}</td>
						<td><span>tru</span> {{icon('icon-tur', 'icon--10-13')}}</td>
						<td><span>tnd</span> {{icon('icon-tun', 'icon--22-9')}}</td>
						<td><span>egp</span> {{icon('icon-eg', 'icon--19-11')}}</td>
					</tr>
					<tr>
						<td><span class="currency__up">0.54</span></td>
						<td><span class="currency__up">0.68</span></td>
						<td><span class="currency__up">0.84</span></td>
						<td><span class="currency__up">0.97</span></td>
						<td><span class="currency__up">5.19</span></td>
						<td><span class="currency__up">3.07</span></td>
						<td><span class="currency__up">1.94</span></td>
						<td><span class="currency__up">1.56</span></td>
						<td><span class="currency__up">5.97</span></td>
					</tr>
					<tr>
						<td><span class="currency__down">0.53</span></td>
						<td><span class="currency__down">0.67</span></td>
						<td><span class="currency__down">0.83</span></td>
						<td><span class="currency__down">0.96</span></td>
						<td><span class="currency__down">5.17</span></td>
						<td><span class="currency__down">3.05</span></td>
						<td><span class="currency__down">1.93</span></td>
						<td><span class="currency__down">1.52</span></td>
						<td><span class="currency__down">5.92</span></td>
					</tr>
				</tbody>
			</table><!-- /.table table--secondary -->
		</div> <!-- /.container -->
	</section>
		<section class="home-posts entry-content">
			<div class="container">
				<div class="layout">
					<div class="layout__item medium-and-up-1/2 large-1/3 extralarge-and-up-1/4">
						<div class="post__item shadow">
							<article class="post">
								<div class="post__img-wrap">
									<a href="javascript:;">
										<div class="post__img post__img--normal" style="background-image:url('images/blog-featured-img.jpg')">
											<img src="images/blog-featured-img.jpg" alt="album name" />
										</div><!-- /.post__img  -->
									</a>
									<a href="javascript:;" class="post__cat">آخبار</a>
								</div>
								<div class="post__data">
									<h4><a href="javascript:;">الفقرات في الصفحة يقرأها ولذلك يتم استخدام</a></h4>
									<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ...</p>
									<div class="post__related">
										<a href="javascript:;" class="related__link">حقيقة مثبتة منذ زمن طويل {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
										<a href="javascript:;" class="related__link">مثبتة منذ زمن طويل{{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}} </a>
									</div><!-- /.post__related -->
								</div><!-- /.post__data -->
							</article>
						</div><!-- / .post__item -->
					</div><!-- /.layout__item -->
					<div class="layout__item medium-and-up-1/2 large-1/3 extralarge-and-up-1/4">
						<div class="post__item shadow">
							<article class="post">
								<div class="post__img-wrap">
									<a href="javascript:;">
										<div class="post__img post__img--normal" style="background-image:url('images/blog-featured-img-1.jpg')">
											<img src="images/blog-featured-img-1.jpg" alt="album name" />
										</div><!-- /.post__img  -->
									</a>
									<a href="javascript:;" class="post__cat">آخبار</a>
								</div>
								<div class="post__data">
									<h4><a href="javascript:;">الفقرات في الصفحة يقرأها ولذلك يتم استخدام</a></h4>
									<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ...</p>
									<div class="post__related">
										<a href="javascript:;" class="related__link">حقيقة مثبتة منذ زمن طويل {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
										<a href="javascript:;" class="related__link">مثبتة منذ زمن طويل{{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}} </a>
									</div><!-- /.post__related -->
								</div><!-- /.post__data -->
							</article>
						</div><!-- / .post__item -->
					</div><!-- /.layout__item -->
					<div class="layout__item medium-and-up-1/2 large-1/3 extralarge-and-up-1/4">
						<div class="post__item shadow">
							<article class="post">
								<div class="post__img-wrap">
									<a href="javascript:;">
										<div class="post__img post__img--normal" style="background-image:url('images/blog-featured-img-2.jpg')">
											<img src="images/blog-featured-img-2.jpg" alt="album name" />
										</div><!-- /.post__img  -->
									</a>
									<a href="javascript:;" class="post__cat">آخبار</a>
								</div>
								<div class="post__data">
									<h4><a href="javascript:;">الفقرات في الصفحة يقرأها ولذلك يتم استخدام</a></h4>
									<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ...</p>
									<div class="post__related">
										<a href="javascript:;" class="related__link">حقيقة مثبتة منذ زمن طويل {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
										<a href="javascript:;" class="related__link">مثبتة منذ زمن طويل{{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}} </a>
									</div><!-- /.post__related -->
								</div><!-- /.post__data -->
							</article>
						</div><!-- / .post__item -->
					</div><!-- /.layout__item -->
					<div class="layout__item medium-and-up-1/2 large-1/3 extralarge-and-up-1/4">
						<div class="post__item shadow">
							<article class="post">
								<div class="post__img-wrap">
									<a href="javascript:;">
										<div class="post__img post__img--normal" style="background-image:url('images/blog-featured-img-3.jpg')">
											<img src="images/blog-featured-img-3.jpg" alt="album name" />
										</div><!-- /.post__img  -->
									</a>
									<a href="javascript:;" class="post__cat">آخبار</a>
								</div>
								<div class="post__data">
									<h4><a href="javascript:;">الفقرات في الصفحة يقرأها ولذلك يتم استخدام</a></h4>
									<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ...</p>
									<div class="post__related">
										<a href="javascript:;" class="related__link">حقيقة مثبتة منذ زمن طويل {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
										<a href="javascript:;" class="related__link">مثبتة منذ زمن طويل{{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}} </a>
									</div><!-- /.post__related -->
								</div><!-- /.post__data -->
							</article>
						</div><!-- / .post__item -->
					</div><!-- /.layout__item -->
				</div><!-- /.layout -->
			</div><!-- /.container -->
		</section> <!-- /.home-posts entry-content -->

		<section class="home-posts entry-content">
			<div class="container">
				<h2 >أخبار</h2>
				<hr />
				<div class="layout">
					<div class="layout__item extralarge-and-up-1/2">
						<div class="post__item post__item--large shadow">
							<article class="post">
								<a href="javascript:;">
									<div class="post__img post__img--large" style="background-image:url('images/blog-featured-img-4.jpg')">
										<img src="images/blog-featured-img-4.jpg" alt="album name" />
									</div><!-- /.post__img  -->
								</a>
								<div class="post__data">
									<div class="post__date">
										<time>20/12/2015</time>
									</div>
									<h4><a href="javascript:;">الفقرات في الصفحة يقرأها ولذلك يتم استخدام</a></h4>
									<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
									<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
								</div><!-- /.post__data -->
							</article>
						</div>
					</div>
					<div class="layout__item extralarge-and-up-1/2">
							<article class="[ media media--responsive ] [ small-post ]">
				              <div class="media__img">
								<a href="javascript:;">
									<div class="post__img post__img--small" style="background-image:url('images/blog-featured-img-5.jpg')">
										<img src="images/blog-featured-img-5.jpg" alt="post name" />
									</div><!-- /.post__img  -->
								</a>
				              </div>
				              <!-- /.media__img -->
				              <div class="media__body">
				                  <div class="post__date">
									<time>20/12/2015</time>
								  </div>
				                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
				                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
				                <a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
				              </div>
				              <!-- /.media__body -->
				            </article>
				            <article class="[ media media--responsive ] [ small-post ]">
				              <div class="media__img">
								<a href="javascript:;">
									<div class="post__img post__img--small" style="background-image:url('images/blog-featured-img-6.jpg')">
										<img src="images/blog-featured-img-6.jpg" alt="post name" />
									</div><!-- /.post__img  -->
								</a>
				              </div>
				              <!-- /.media__img -->
				              <div class="media__body">
				                  <div class="post__date">
									<time>20/12/2015</time>
								  </div>
				                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
				                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
				                <a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
				              </div>
				              <!-- /.media__body -->
				            </article>
				            <article class="[ media media--responsive ] [ small-post ]">
				              <div class="media__img">
								<a href="javascript:;">
									<div class="post__img post__img--small" style="background-image:url('images/blog-featured-img-7.jpg')">
										<img src="images/blog-featured-img-7.jpg" alt="post name" />
									</div><!-- /.post__img  -->
								</a>
				              </div>
				              <!-- /.media__img -->
				              <div class="media__body">
				                  <div class="post__date">
									<time>20/12/2015</time>
								  </div>
				                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
				                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
				                <a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
				              </div>
				              <!-- /.media__body -->
				            </article>
					</div>
				</div>
			</div><!-- /.container -->
		</section><!-- /.home-posts entry-content -->

	<section class="home-posts news-calendar entry-content">
		<div class="container">
			<div class="layout">
				<div class="layout__item extralarge-and-up-2/3">
					<div class="events-section">
						<div class="tabs">
							<ul class="tabs__nav event-tab list-inline list-reset">
								  <li><a href="#tab-1" class="event-tab__link events-1 active">معلومات مهمة</a></li>
					  			  <li><a href="#tab-2" class="event-tab__link events-2">بيانات</a></li>
					  			  <li><a href="#tab-3" class="event-tab__link events-3">التقويم</a></li>
					  			  <li><a href="#tab-4" class="event-tab__link events-4">لتقارير</a></li>
							</ul>
							 <div id="tab-1" class="tabs__item">
								<div class="event-item">
									<div class="layout">
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-5.jpg')">
														<img src="images/blog-featured-img-5.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-4.jpg')">
														<img src="images/blog-featured-img-4.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-3.jpg')">
														<img src="images/blog-featured-img-3.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-2.jpg')">
														<img src="images/blog-featured-img-2.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-1.jpg')">
														<img src="images/blog-featured-img-1.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img.jpg')">
														<img src="images/blog-featured-img.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
									</div><!-- /.layout -->
									<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
								</div><!-- /.event-item -->
							 </div>
							 <div id="tab-2" class="tabs__item">
								<div class="event-item">
									<div class="layout">
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-5.jpg')">
														<img src="images/blog-featured-img-5.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-4.jpg')">
														<img src="images/blog-featured-img-4.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-3.jpg')">
														<img src="images/blog-featured-img-3.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-2.jpg')">
														<img src="images/blog-featured-img-2.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-1.jpg')">
														<img src="images/blog-featured-img-1.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img.jpg')">
														<img src="images/blog-featured-img.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
									</div><!-- /.layout -->
									<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
								</div><!-- /.event-item -->
							 </div>
							 <div id="tab-3" class="tabs__item">
								  <!-- news itemes -->
									<div class="event-item">
										<div class="layout">
											<div class="layout__item medium-and-up-1/2">
												<article class="[ media media--responsive media--rev ] [ small-post ]">
									              <div class="media__img">
													<a href="javascript:;">
														<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-5.jpg')">
															<img src="images/blog-featured-img-5.jpg" alt="post name" />
														</div><!-- /.post__img  -->
													</a>
									              </div>
									              <!-- /.media__img -->
									              <div class="media__body">
									                  <div class="post__date">
														<time>20/12/2015</time>
													  </div>
									                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
									              </div>
									              <!-- /.media__body -->
									            </article>
											</div>
											<div class="layout__item medium-and-up-1/2">
												<article class="[ media media--responsive media--rev ] [ small-post ]">
									              <div class="media__img">
													<a href="javascript:;">
														<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-4.jpg')">
															<img src="images/blog-featured-img-4.jpg" alt="post name" />
														</div><!-- /.post__img  -->
													</a>
									              </div>
									              <!-- /.media__img -->
									              <div class="media__body">
									                  <div class="post__date">
														<time>20/12/2015</time>
													  </div>
									                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
									              </div>
									              <!-- /.media__body -->
									            </article>
											</div>
											<div class="layout__item medium-and-up-1/2">
												<article class="[ media media--responsive media--rev ] [ small-post ]">
									              <div class="media__img">
													<a href="javascript:;">
														<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-3.jpg')">
															<img src="images/blog-featured-img-3.jpg" alt="post name" />
														</div><!-- /.post__img  -->
													</a>
									              </div>
									              <!-- /.media__img -->
									              <div class="media__body">
									                  <div class="post__date">
														<time>20/12/2015</time>
													  </div>
									                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
									              </div>
									              <!-- /.media__body -->
									            </article>
											</div>
											<div class="layout__item medium-and-up-1/2">
												<article class="[ media media--responsive media--rev ] [ small-post ]">
									              <div class="media__img">
													<a href="javascript:;">
														<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-2.jpg')">
															<img src="images/blog-featured-img-2.jpg" alt="post name" />
														</div><!-- /.post__img  -->
													</a>
									              </div>
									              <!-- /.media__img -->
									              <div class="media__body">
									                  <div class="post__date">
														<time>20/12/2015</time>
													  </div>
									                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
									              </div>
									              <!-- /.media__body -->
									            </article>
											</div>
											<div class="layout__item medium-and-up-1/2">
												<article class="[ media media--responsive media--rev ] [ small-post ]">
									              <div class="media__img">
													<a href="javascript:;">
														<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-1.jpg')">
															<img src="images/blog-featured-img-1.jpg" alt="post name" />
														</div><!-- /.post__img  -->
													</a>
									              </div>
									              <!-- /.media__img -->
									              <div class="media__body">
									                  <div class="post__date">
														<time>20/12/2015</time>
													  </div>
									                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
									              </div>
									              <!-- /.media__body -->
									            </article>
											</div>
											<div class="layout__item medium-and-up-1/2">
												<article class="[ media media--responsive media--rev ] [ small-post ]">
									              <div class="media__img">
													<a href="javascript:;">
														<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img.jpg')">
															<img src="images/blog-featured-img.jpg" alt="post name" />
														</div><!-- /.post__img  -->
													</a>
									              </div>
									              <!-- /.media__img -->
									              <div class="media__body">
									                  <div class="post__date">
														<time>20/12/2015</time>
													  </div>
									                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
									              </div>
									              <!-- /.media__body -->
									            </article>
											</div>
										</div><!-- /.layout -->
										<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</div><!-- /.event-item -->
							 </div>
							 <div id="tab-4" class="tabs__item">
								<div class="event-item">
									<div class="layout">
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-5.jpg')">
														<img src="images/blog-featured-img-5.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-4.jpg')">
														<img src="images/blog-featured-img-4.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-3.jpg')">
														<img src="images/blog-featured-img-3.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-2.jpg')">
														<img src="images/blog-featured-img-2.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-1.jpg')">
														<img src="images/blog-featured-img-1.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img.jpg')">
														<img src="images/blog-featured-img.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
									</div><!-- /.layout -->
									<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
								</div><!-- /.event-item -->
							 </div>
						</div>	
					</div><!-- /.events-section -->
				</div><!-- /.layout__item -->
				<div class="layout__item extralarge-1/3 superlarge-and-up-1/3">
					 <div id="datepicker" class="calendar"></div>
				</div>
			</div>
		</div>
	</section>

	<section class="charts">
		<div class="container">
			<div class="layout">
				<div class="layout__item extralarge-1/3 superlarge-and-up-1/3">
					<div id="bar-chart"  dir="ltr"></div><!-- /#bar-chart -->
				</div>
				<div class="layout__item extralarge-1/3 superlarge-and-up-1/3">
					<div id="candle-chart" dir="ltr"></div><!-- /.candle-chart -->
				</div>
				<div class="layout__item extralarge-1/3 superlarge-and-up-1/3">
					<div id="bar-chart-float" dir="ltr"></div><!-- /#bar-chart -->
				</div>
				<div class="layout__item extralarge-1/3 superlarge-and-up-1/3">
					<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
				</div>
			</div>
		</div><!-- /.container -->
	</section><!-- /.charts -->
	<section class="video-and-posts">	
		<div class="container">
			<div class="layout">
				<div class="layout__item extralarge-and-up-1/2">
					<div class="video-slider">
						<div class="video-player">
							<div class="featured-img">
								<img src="images/video-slide-1.jpg" alt="" data-video-src="rFdENlL_-XQ">
								<h3>مرحبا بكم مصرف ليبيا المركزي</h3>
							</div>
							<!-- /.featured-img -->
							<iframe src="https://www.youtube.com/embed/WtQvejbZ-8M?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div>
						<!-- /.video-player -->
						<div class="slider-bottom-wrap">
							<div class="owl-carousel video-slider__bottom">
							  	<div class="slider__item" data-src="images/video-slide-4.jpg" href="images/video-slide-4.jpg">
							      	<img src="images/video-slide-4.jpg" alt="" data-video-src="rFdENlL_-XQ">
							  	</div>
							  	<div class="slider__item" data-src="images/video-slide-2.jpg" href="images/video-slide-2.jpg">
							      	<img src="images/video-slide-2.jpg" alt="" data-video-src="PiKQa7ZRq6w">
							  	</div>
							  	<div class="slider__item" data-src="images/video-slide-3.jpg" href="images/video-slide-3.jpg">
							      	<img src="images/video-slide-3.jpg" alt="" data-video-src="26n3eBWVdQ8">
							  	</div>
							  	<div class="slider__item" data-src="images/video-slide-4.jpg" href="images/video-slide-4.jpg">
							      	<img src="images/video-slide-4.jpg" alt="" data-video-src="mATeu-gE5mI">
							  	</div>
							</div><!-- /.lightSlider -->
						</div><!-- /.video-bottom-wrap -->
					</div><!-- /.video-slider -->
				</div><!-- /.layout__item -->
				<div class="layout__item extralarge-and-up-1/2"> 
					<div class="v-titles shadow">
						<div class="media media--tiny media--responsive">
							<div class="media__img">
								<div class="post__img post__img--medium js-bg-change" style="background-image:url('images/news.jpg')">
									<img src="images/news.jpg" alt="post name">
								</div>
							</div>
							<!-- /.layout__item -->
							<div class="media__body">
								<ul>
									<li>
										<a href="javascript:;" class="v-titles__link" data-background="images/news.jpg"> طلبات الصيرفة الإسلامية {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</li>
									<li>
										<a href="javascript:;" class="v-titles__link" data-background="images/blog-featured-img-5.jpg">نموذج مكاتب الصرافة {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</li>
									<li>
										<a href="javascript:;" class="v-titles__link" data-background="images/blog-featured-img-6.jpg">نموذج شركات {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
										</li>
									<li>
										<a href="javascript:;" class="v-titles__link" data-background="images/blog-featured-img-7.jpg">نموذج شركات 
											{{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</li>		
									<li>
										<a href="javascript:;" class="v-titles__link" data-background="images/blog-featured-img-7.jpg">نموذج شركات 
											{{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</li>						
								</ul>
							</div><!-- /.layout__item -->
						</div><!-- /.layout -->
					</div><!-- /.v-titles -->
					<hr />
					<div class="v-titles shadow">
						<div class="media media--tiny media--responsive">
							<div class="media__img">
								<div class="post__img post__img--medium js-bg-change-bottom" style="background-image:url('images/blog-featured-img-1.jpg')">
									<img src="images/blog-featured-img-1.jpg" alt="post name">
								</div>
							</div>
							<!-- /.layout__item -->
							<div class="media__body">
								<ul>
									<li>
										<a href="javascript:;" class="v-titles__link-bottom" data-background="images/blog-featured-img-1.jpg">طلبات الصيرفة الإسلامية {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</li>
									<li>
										<a href="javascript:;" class="v-titles__link-bottom" data-background="images/blog-featured-img-2.jpg">نموذج مكاتب الصرافة {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</li>
									<li>
										<a href="javascript:;" class="v-titles__link-bottom" data-background="images/blog-featured-img-3.jpg">نموذج شركات {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
										</li>
									<li>
										<a href="javascript:;" class="v-titles__link-bottom" data-background="images/blog-featured-img-4.jpg">نموذج شركات 
											{{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</li>		
									<li>
										<a href="javascript:;" class="v-titles__link-bottom" data-background="images/blog-featured-img-4.jpg">نموذج شركات 
											{{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</li>						
								</ul>
							</div><!-- /.layout__item -->
						</div><!-- /.layout -->
					</div><!-- /.v-titles -->
				</div><!-- /.layout__item -->
			</div><!-- /.layout -->
		</div>
	</section><!-- /.video-and-posts -->
</main>

{% include "_partials/partial.footer.html" %}
<script src="../bower_components/amcharts/dist/amcharts/amcharts.js"></script>
<script src="../bower_components/amcharts/dist/amcharts/serial.js"></script>
<script src="../bower_components/amcharts/dist/amcharts/themes/light.js"></script>
<script src="js/all.min.js"></script>
{% endblock %}
