{% extends "./_templates/template.default-en.html" %}

{% block content %}
{% include "_partials/partial.header-normal.html" %}

<main>
	<div class="page-wrap">
	<div class="page-row">
		{% include "_partials/partial.sidebar.html" %}
		<div class="content page">
			<!-- breadcrumbs -->
			<div class="breadcrumbs">
				<div class="container">
					<ol class="breadcrumbs__content">
						<li>
							<a href="javascript:;">مستقلة</a> /
						</li>
						<li>
							<a href="javascript:;">المحافظ</a> /
						</li>
						<li>
							<a href="javascript:;">للمصرف</a> /
						</li>
						<li>
							<a href="javascript:;" class="is-active">الإسلامية</a> 
						</li>
					</ol>
				</div>
			</div>
			<!-- /.breadcrumbs -->
			<!-- main container -->
			<div class="container">
				<div class="entry-content">
					<h1>القرارات</h1>
					<table class="table table--primary auto">
						<thead>
							<tr>
								<th class="col-85">اسم القرار</th>
								<th class="col-15">تحميل القرار</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>قرار رقم 1 لسنة 2013 في شأن منع المعاملات الربوية</td>
								<td><a href="javascript:;"><img src="images/pdf-icon.jpg" alt="pdf icon" /></a></td>
							</tr>
							<tr>
								<td>قرار رقم 1 لسنة 2013 في شأن منع المعاملات الربوية</td>
								<td><a href="javascript:;"><img src="images/pdf-icon.jpg" alt="pdf icon" /></a></td>
							</tr>
							<tr>
								<td>قرار رقم 1 لسنة 2013 في شأن منع المعاملات الربوية</td>
								<td><a href="javascript:;"><img src="images/pdf-icon.jpg" alt="pdf icon" /></a></td>
							</tr>
							<tr>
								<td>مراجـع غيث</td>
								<td><a href="javascript:;"><img src="images/pdf-icon.jpg" alt="pdf icon" /></a></td>
							</tr>
							<tr>
								<td>مراجـع غيث</td>
								<td><a href="javascript:;"><img src="images/pdf-icon.jpg" alt="pdf icon" /></a></td>
							</tr>
							<tr>
								<td>مراجـع غيث</td>
								<td><a href="javascript:;"><img src="images/pdf-icon.jpg" alt="pdf icon" /></a></td>
							</tr>
						</tbody>
					</table>
				</div><!-- /.entry-content -->
			</div><!-- /.container main end -->
		</div>
	</div>
</div>
</main>

{% include "_partials/partial.footer.html" %}
{% endblock %}
