{% extends "./_templates/template.default.html" %}

{% block content %}
{% include "_partials/partial.header-normal.html" %}

<main>
	<div class="page-wrap">
	<div class="page-row">
		{% include "_partials/partial.sidebar.html" %}
		<div class="content page">
			<!-- breadcrumbs -->
			<div class="breadcrumbs">
				<div class="container">
					<ol class="breadcrumbs__content">
						<li>
							<a href="javascript:;">مستقلة</a> /
						</li>
						<li>
							<a href="javascript:;">المحافظ</a> /
						</li>
						<li>
							<a href="javascript:;">للمصرف</a> /
						</li>
						<li>
							<a href="javascript:;" class="is-active">الإسلامية</a> 
						</li>
					</ol>
				</div>
			</div>
			<!-- /.breadcrumbs -->
			<!-- main container -->
			<div class="container">
				<section class="comment-wrap">
					<ol class="comment-list list-bare">
						<li class="comment">
							<div class="comment__meta">
				                <span class="posted-on">
									<time datetime="12-04-2013">12/04/2013</time>
								</span>
							</div>
							<h5 class="comment__title">رسالة دورية رقم (199/2013)</h5>
							<p>فيما يتعلق بتجميد الحسابات المصرفية للهيئات والشركات العامة وفقا لخطاب محافظ مصرف ليبيا المركزي على أساس NO.1 القانون الذي يقضي بعدم البنوك بصيغتها المعدلة، وخطاب رئيس لجنة الميزانية والتخطيط والمالية في المجلس الوطني العام والذي يؤكد على عدم التخلص...</p>
							<ul class="comment__links">
								<li><a href="javascript:;">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a></li>
								<li><a href="javascript:;">تحميل PDF {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a></li>
							</ul>

						</li>
						<li class="comment">
							<div class="comment__meta">
				                <span class="posted-on">
									<time datetime="11-13-2013">11/13/2013</time>
								</span>
							</div>
							<h5 class="comment__title">رسالة الدوري رقم (192/2013)</h5>
							<p>تعليمات من مدير إدارة الإشراف المصرفي (BSD) لمدراء ورؤساء لجان إدارية مؤقتة في البنوك التجارية، والعضو المنتدب للزارة الخارج الليبي ن البنك (LFB) طلب عدم نقل الأموال مباشرة لتلقي العلاج في المستشفيات الدولية ولكن، بدلا من تحويل الأموال إلى مكاتب الصحة في السفارات الليبية. إذا كانت التحويلات...</p>
							<ul class="comment__links">
								<li><a href="javascript:;">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a></li>
								<li><a href="javascript:;">تحميل PDF {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a></li>
							</ul>
						</li>
						<li class="comment">
							<div class="comment__meta">
				                <span class="posted-on">
									<time datetime="02-10-2013">02/10/2013</time>
								</span>
							</div>
							<h5 class="comment__title">رسالة الدوري رقم (28/2013)</h5>
							<p>فيما يتعلق اللوائح على المقاصة الالكترونية، بناء على تعليمات من محافظ إلى تمديد فترة قبول الصكوك ذات قيمة عالية من خلال نظام ACP حتى نهاية مارس اذار 2013. ويطلب من البنوك على الالتزام والتقيد بالتعليمات الصادرة عن مصرف ليبيا المركزي كما تعتبر...</p>
							<ul class="comment__links">
								<li><a href="javascript:;">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a></li>
								<li><a href="javascript:;">تحميل PDF {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a></li>
							</ul>
						</li>
					</ol>
				</section><!-- /.comment-wrap -->
			</div><!-- /.container main end -->
		</div>
	</div>
</div>
</main>

{% include "_partials/partial.footer.html" %}
{% endblock %}
