{% extends "./_templates/template.default-en.html" %}

{% block content %}
{% include "_partials/partial.header-normal.html" %}

<main>
	<div class="page-wrap">
	<div class="page-row">
		{% include "_partials/partial.sidebar.html" %}
		<div class="content page">
			<!-- breadcrumbs -->
			<div class="breadcrumbs">
				<div class="container">
					<ol class="breadcrumbs__content">
						<li>
							<a href="javascript:;">مستقلة</a> /
						</li>
						<li>
							<a href="javascript:;">المحافظ</a> /
						</li>
						<li>
							<a href="javascript:;">للمصرف</a> /
						</li>
						<li>
							<a href="javascript:;" class="is-active">الإسلامية</a> 
						</li>
					</ol>
				</div>
			</div>
			<!-- /.breadcrumbs -->
			<!-- main container -->
			<div class="container">
				<div class="entry-content">
					<h1>إطار السياسة النقدية</h1>
					<p>ومصرف ليبيا المركزي يصدر شهادات إيداع ويوفر الآليات ذات الصلة من أجل تنفيذ السياسة النقدية للبلاد لتحقيق الأهداف القانونية.
			يحتوي هذا القسم على شروط وأحكام عمليات السوق من مصرف ليبيا المركزي. يجب على البنوك التي ترغب في المشاركة أن تلتزم الإجراءات الواردة في هذا القسم</p>
					<ul>
						<li>سعر الفائدة على شهادات الإيداع لفترة استحقاق 91 يوما هو 1.0٪.</li>
						<li>سعر الفائدة على شهادة معاملة إعادة شراء إيداع لمدة 91 يوما هو 1.75٪.</li>
						<li>سعر الفائدة على معاملة إعادة شراء (خلال يوم واحد أو أثناء فترة معينة) شهادة فترة استحقاق الودائع من 91 يوما والتي لا يمكن أن تدفع في الوقت المحدد لاعادة الشراء 2.50٪.</li>
						<li>سعر الفائدة على شهادات الإيداع لمدة 28 يوما حتى تاريخ الاستحقاق هو 0.85٪.</li>
						<li>سعر الفائدة على شهادات الإيداع معاملة إعادة شراء لمدة 28 يوما حتى تاريخ الاستحقاق هو 1.60٪.</li>
						<li>سعر الفائدة على معاملة إعادة شراء (خلال يوم واحد أو أثناء فترة معينة) شهادة فترة استحقاق الودائع من 28 يوما والتي لا يمكن أن تدفع في الوقت المحدد لاعادة الشراء هو 2.35٪.</li> 
					</ul>
					<table class="table table--primary no-head">
						<tbody>
							<tr>
								<td class="col-90">قرار المحافظ على إصدار شهادات الإيداع وملحقاته</td>
								<td class="col-10"><a href="javascript:;"><img src="images/pdf-icon.jpg" alt="pdf icon" /></a></td>
							</tr>
							<tr>
								<td>الملحق رقم (4) - تعمل قواعد لنظام دخول الكتاب، مصرف ليبيا المركزي</td>
								<td><a href="javascript:;"><img src="images/pdf-icon.jpg" alt="pdf icon" /></a></td>
							</tr>
							<tr>
								<td>الملحق رقم (5) - إعادة شراء آلية خلال فترة معينة</td>
								<td><a href="javascript:;"><img src="images/pdf-icon.jpg" alt="pdf icon" /></a></td>
							</tr>
							<tr>
								<td>مالملحق رقم (6) - استمارة طلب لإعادة شراء شهادات الإيداع (خلال فترة معينة)</td>
								<td><a href="javascript:;"><img src="images/pdf-icon.jpg" alt="pdf icon" /></a></td>
							</tr>
							<tr>
								<td>الملحق رقم (7) - إعادة شراء آلية أثناء النهار.</td>
								<td><a href="javascript:;"><img src="images/pdf-icon.jpg" alt="pdf icon" /></a></td>
							</tr>
							<tr>
								<td>دعوة للاكتتاب</td>
								<td><a href="javascript:;"><img src="images/pdf-icon.jpg" alt="pdf icon" /></a></td>
							</tr>
							<tr>
								<td>النتائج Hhadat بيع الودائع</td>
								<td><a href="javascript:;"><img src="images/pdf-icon.jpg" alt="pdf icon" /></a></td>
							</tr>
						</tbody>
					</table>
				</div><!-- /.entry-content -->
			</div><!-- /.container main end -->
		</div>
	</div>
</div>
</main>

{% include "_partials/partial.footer.html" %}
{% endblock %}
