{% extends "./_templates/template.default.html" %}

{% block content %}
{% include "_partials/partial.header-normal.html" %}

<main>
	<div class="page-wrap">
		<div class="page-row">
			{% include "_partials/partial.sidebar.html" %}
			<div class="content page">
				<div class="entry-content">
				<div class="container">
					<img src="images/strategic-plan.jpg" alt="strategic plan" />
					<div class="container container--indented">
						<p>قام مصرف ليبيــــا المركزي على إثر صدور القانون رقم ( 1 ) لسنة 2005 بشأن المصارف ، بالتعاون مع بعض المؤسسات المتخصصة ، بإعداد خطة إستراتيجية لتطوير وتحديث المصرف ، بهدف  إحداث تغيرات جذرية في هيكله وأدائه.</p>
						<p>وتعد عملية تحديث وتطوير مصرف ليبيا المركزي الخطوة الأساسية ، بل والضــــرورية للنجاح في تحديث وتطــــوير الجهاز المصرفي ، وفي هذا الخصوص شرع مصرف ليبيــا المركزي في تنفيذ إستراتيجية تطويــر وتحديث المصـــــرف ، التي تقـــــوم علي ما يلي :</p>
						<ol>
							<li>استكمال تطوير المصرف علي الصعيدين المؤسسي والوظيفي من خلال مراجعة مهامه ووظائفه في ضؤ برنامج التطوير الشامل وما يتطلبه من تطوير الهيكل الوظيفي والإداري وتفعيل التنظيم الداخلي ونظام الرقابة الداخليـــة  ورفع قدرات الموظفين لاستيعاب متطلبات المرحلة القادمة ، ومواكبة التغيرات في مجال التقنية والسياســات والعمل علي تغيير ثقافة العمل السائدة .</li>
							<li>البحث في توافق أساليب العمل المتبعة في المصرف وفق متطلبات قانون المصارف الجديد ، وتوظيف ذلك في رفع قُدرات المصرف في التعامل مع المتغيرات الاقتصادية المحلية والدولية ، وبما يُمكّنهُ مــن مواكبة التطورات والمتغيرات التي تحدث في الاقتصاد الوطني .</li>
							<li>تطوير القُدرات الرقابية و الإشرافية للمصرف في إطار قانون المصارف والمعايير الدولية ، خاصة في مجال الرقابة و أساليب الإشراف وفقاً لأفضل الممارسات ، وتحديث المنهجيات المتبعة في تقييم عناصر الآمان ونقاط القوة والضعف بالقطاع المصرفي في إطار من الشفافية والإفصاح ، وإلزام المصارف بتطبيق المعايير الدولية في مجالات المحاسبة والمراجعة  والضبط الداخلي ، وابتكار المؤشرات الاحترازية ومؤشرات الإنذار المبكر والرقابة عن بعــد ، وتطوير أنظمة الحكم المؤسسي وإدارة المخاطر . </li>
							<li>مواصلة وتطوير وتفعيل دور السياسة النقدية ، باعتبار أن تحقيق النمــو والاسـتقرار المالي والاقتصادي ، هما من أهم أهداف هذه السياسة ومــن مسؤوليات المصرف المركزي . وهذا يتطلب تطوير وترسيخ المفاهيم المتعلقة باقتصاديات النقود ، والتضخم  ، والتمويل وإدارة السيولة المصرفية ، وإصلاح نظام الاحتياطي والإلزامي وكذلك تطوير وتنويع أدوات السياسة النقدية وتأطيرها مؤسسياً .  </li>
							<li>رفع قُدرات المصرف في مجال تطوير وتحديث إدارة الأصول الاحتياطية للمصرف ، وبناء القُدرات اللازمة وفقاً للأسس والمعايير الدولية ، مع تطويــر سياسة سعر الصرف بهدف الحفاظ على سعر صرف مُوحد ومستقر ومرن ، يتجاوب ويتفاعل مع المتغيرات الحقيقية في الاقتصاد ، ويساعد في زيادة القدرة التنافسية للصادرات غير النفطية .   </li>
							<li>تحديث وتطوير نُظم تقنية المعلومات بالمصرف ، بحيث تكون قادرة علي توفير قاعدة بيانات ومعلومات شاملة ، وذلك جنبا إلى جنب مع استكمال مشروع نظام المدفوعات الوطني بإتباع أفضل الممارسات الدولية في مجال المدفوعات من أجل توفير السرعة في تنفيذ التحويلات المالية والعمليات المصرفية ، وتقديم حلول متقدمة لتقنية المعلومات في النظام المصرفي الليبي من خلال توفير بيئة آمنة وحديثة لنقل البيانات عبر المنظومة المصرفية الأساسية للمصارف بمصرف ليبيا المركزي ، وذلك من أجل تقديم خدمات جديدة للزبائن في السوق المصرفي .</li>
							<li>تطوير القدرات البحثية ، عن طريق بناء قاعدة بيانات إقتصادية ومالية ونقدية شاملة لأجل توسيع مخرجات الانشطة البحثية مع تطوير اساليب الإفصاح والشفافية في البيانات ، وهو ما يتطلب دعم وتنظيم قطاع البحوث والإحصاء وبناء قدرات بحثية عالية . <br /><br />

							وقد أدرك مصرف ليبيا المركزي جوانب الضعف والثغرات في الهيكل التنظيمي القائم ، مما  استوجب الشروع في وضع مشروع هيكل تنظيمي جديد بالتعاون مع خُبراء من صندوق النقد الدولي ، بحيث يضم هذا المشروع كل التقسيمات الوظيفية الرئيسية والفرعية المتشابهة ووضعها في قطاع واحد ، ويحدد على نحو أفضل مجالات العمل ويواكب معايير الرقابة الداخلية ومعايير التنظيم المتعارف عليها دولياً ، وقد قام مصرف ليبيا المركزي باعتماد الهيكل التنظيمي الجديد بما يُحقق الأهداف الإستراتيجية على مستوى القطاعات وفق الآتي : </li>
						</ol>

						<h2>الإدارة العلـيا ( مجلس إدارة المصرف ، المحـافظ ونائبه )</h2>
						<ol>
							<li>وضع اُسس المراجعة الداخلية التي تتوافق و الخِطط الإستراتيجية الموضوعة . </li>
							<li>تطوير الأطر القانونية التي تتناسب مع النظام المصرفي في الدولة الليبيـة .</li>
							<li>تعميم سياسة التخطيط الاستراتيجي كسياسة عامة للجهاز المصرفي . </li>
							<li>العمل على تعزيز ثقة المجتمع في القطاع المصرفي ، وذلك بترشيد الخدمات المصرفية التي تُقدمها المصارف بما يُساهم في تعزيز التنمية الاقتصادية في الداخل ، وتبسيط الإجراءات والمعاملات وتطوير وسائل الدفـــع . </li>
							<li>دراسة احتياجات المصرف في مجالات الدعم الفني واستقطاب الخبراء والاستشاريين في هذا الخصوص ، والتعاون مع المصارف المركزية المناظرة لتحقيق الأهداف المشتركة . </li>
							<li>صياغـــة الخطة الإستراتيجية الخاصة بالمصرف ومتابعة تنفيذها بما يتماشى و وضع الاقتصاد الكلي بالدولة </li>
							<li>المتابعة الدقيقة والمنتظمة لكل  القرارات والتوجيهات والتوصيات الصادرة . </li>
							<li>الاهتمام بالجوانب الإنسانية والاجتماعية للعاملين بالمصرف  . </li>
							<li>اتخاذ سياسة إعلامية واضحة تهدف إلى إحاطة المواطنين بآخر الأخبار ونشر المعرفة والثقافة المصرفية والمالية . </li>
							<li>مكافحة عمليات غسيل الأموال بالتنسيق مع اللجنة الوطنية المُكلفة بالخصوص . </li>
							<li>متابعة المتغيرات التي تحصل على الصعيد الدولي في مجال تطوير وتنمية القطاع المصرفي وتبنيها بعد التأكد من ملائمتها للبيئة التي يعمل بها قطاعنا المصرفي في الدولة.</li>
						<ol>

						<h2> قطاع الخدمــــات الإدارية والماليـة </h2>
						<ol>
							<li>تهيئة المناخ الوظيفي الملائم من خلال تحديد المهام الوظيفية للعاملين.</li>
							<li>توفير الخدمات الإدارية والدعم المادي المالي والعيني.</li>
							<li>إعداد الكوادر البشرية وتأهيلها للعمل بكفاءة ومهنية.</li>
							<li>تحقيق أقصى درجات نظام الجودة الشاملة.</li>
						</ol>
								
						<h2>قطاع العمليات المصرفية المركزية</h2>
						<ol>
							<li>تطوير الإجراءات المالية لتسريع الخدمات المصرفية .</li>
							<li>استمرار العمل بأنظمة الدفع الالكتروني ، ومتابعة ما يطرأ عليها من تحديث وتفعيله .</li>
							<li>تبسيط إجراءات العمل في كافة أنشطة القطاع .</li>
							<li>إستحداث افضل الطرق التقنية في عمليات الفرز والعد والإتلاف بما يضمن جودة ونظافة العملة المتداولة .</li>
							<li>إنشاء متحف للعملة الليبية بالتزامن مع تاريخ إصدارها.</li>
							<li>ضمان وصول العملة الورقية والمعدنية لتلبية احتياجات المواطن الليبي وفروع المصارف التجارية وفقاً للتوزيع الجغرافي للدولة ، والعمل على تحديث وتطوير وصول الاموال </li>
						</ol>

						<h2>قطاع الرقابة</h2>
						<ol>
							<li>المراجعة الدورية للسياسات والتشريعات المعمول بها في القطاع المصرفي ، والتأكد من مدى ملائمتها للأعراف والمعايير الدولية مع دعم وتقييم أداء المؤسسات المالية ، ومراقبة الخدمات المصرفية المُقدمة من قِبل القطاع .</li>
							<li>الاستمرار في برنامج إعادة هيكلة وإصلاح الجهاز المصرفي مع مراعاة تطبيق المعايير الرقابية الفعالة على المؤسسات المالية .</li>
							<li>الإشراف على الاوضاع المالية للمصارف من حيث السيولة ومدى سلامة مراكزها المالية ، وإلتزامها بالقرارات والقوانين الموضوعة من قبل مصرف ليبيا المركزي ، ومتابعة التعليمات الصادرة عن إدارة السيولة في الظروف الطبيعية وغير الطبيعية .</li>
							<li>حث المصارف العاملة على زيادة حجم ودائعها مع تفعيل دور الاحتياطي الالزامي كأداة فعالة لإدارة السيولة.</li>
							<li>اتباع الاساليب الحديثة عند منح التمويلات التي من شأنها أن تضمن منع التعثر بأكثر من النسبة المقبولة دولياً .</li>
							<li>تهيئة البيئة المناسبة لعمل سوق الاوراق المالية ( البورصة الليبية ) بحيث يكون على أساس ثابت ومتين مما يؤدي إلى تحسين مستوى الأداء الاقتصادي على صعيد الدولة .</li>
							<li>تحديث وتطوير آليات الرقابة الداخلية بشكل دوري ، والإشراف على المؤسسات التابعة للمصــرف المركزي.</li>
						</ol>
						<h2>قطاع الاستقرار المالي والنقدي</h2>
						<ol>
							<li>الحِفاظ على الاستقرار المالي والنقدي والالتزام بالوصول إلى المؤشرات الاقتصادية المستهدفة كمعدل التضخم ، أسعار الصرف ، أسعار الفائدة ، وعرض النقود .. الخ .</li>
							<li>رفع مستوى البحوث والدراسات والإحصاءات الاقتصادية بما يخدم قطاع الاقتصاد الكلي على مستوى الدولة.</li>
							<li>تحسين فاعلية إدارة السياسة النقدية وسياسة سعر الصرف.</li>
							<li>مواكبة المعايير والآليات المالية الدولية التي تتلائم وبيئة النظام المصرفي.</li>
							<li>إختيار افضل الوسائل والادوات الاستثمارية ، وبما يُحقق السيولة والربحية.</li>
							<li>الحفــــــاظ على رأس المال وتحقيق عائد مُناسب.</li>
							<li>التوازن ما بين إحتياجات التنمية والاستقرار المالي.</li>
						</ol>
					</div><!-- /.container container--indented -->
				</div><!-- /.container -->
			</div>	<!-- /.entry-content -->
		</div>
	</div>
</main>

{% include "_partials/partial.footer.html" %}
{% endblock %}
