{% extends "./_templates/template.styleguide-en.html" %}
{%- set styleguide = true %}
{% set title = "Styleguide page" %}

{% block content %}
  {% include "./_partials/partial.header-normal.html" %}
  
  <section class="home-posts entry-content mv+">
  	<div class="container">
  		<h2>أخبار / <a href="javascript:;">أخبار</a></h2>
  		<hr />
  		<div class="layout">
  			<div class="layout__item extralarge-and-up-1/2">
  				<div class="post__item post__item--large shadow">
  					<article class="post">
  						<a href="javascript:;">
  							<div class="post__img post__img--large" style="background-image:url('images/banner-red.jpg')">
  								<img src="images/banner-red.jpg" alt="album name" />
  							</div><!-- /.post__img  -->
  						</a>
						<a href="javascript:;" class="post__label red">Urgent news</a>
  						<div class="post__data">
  							<div class="post__date">
  								<time>20/12/2015</time>
  							</div>
  							<h4><a href="javascript:;">اجتماع لجنة تغطية حسابات المصارف بالنقد الأجنبي بمصرف ليبيا المركزي</a></h4>
  							<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
  							<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
  						</div><!-- /.post__data -->
  					</article>
  				</div>
  			</div>
  			<div class="layout__item extralarge-and-up-1/2">
  					<article class="[ media media--responsive ] [ small-post ]">
  		              <div class="media__img">
  						<a href="javascript:;">
  							<div class="post__img post__img--small" style="background-image:url('images/banner-red-small.jpg')">
  								<img src="images/banner-red-small.jpg" alt="post name" />
  							</div><!-- /.post__img  -->
  						</a>
  						<a href="javascript:;" class="post__label red">Urgent news</a>
  		              </div>
  		              <!-- /.media__img -->
  		              <div class="media__body">
  		                  <div class="post__date">
  							<time>20/12/2015</time>
  						  </div>
  		                <h4><a href="javascript:;">اجتماع لجنة تغطية حسابات المصارف بالنقد الأجنبي بمصرف ليبيا المركزي</a></h4>
  		                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
  		                <a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
  		              </div>
  		              <!-- /.media__body -->
  		            </article>
  		            <article class="[ media media--responsive ] [ small-post ]">
  		              <div class="media__img">
  						<a href="javascript:;">
  							<div class="post__img post__img--small" style="background-image:url('images/banner-red-small.jpg')">
  								<img src="images/banner-red-small.jpg" alt="post name" />
  							</div><!-- /.post__img  -->
  						</a>
  						<a href="javascript:;" class="post__label red">Urgent news</a>
  		              </div>
  		              <!-- /.media__img -->
  		              <div class="media__body">
  		                  <div class="post__date">
  							<time>20/12/2015</time>
  						  </div>
  		                <h4><a href="javascript:;">إختتام ورشة عمل تدريب العناصر التقنية والمصرفية على منظومة متابعة النقد الأجنبي</a></h4>
  		                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
  		                <a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
  		              </div>
  		              <!-- /.media__body -->
  		            </article>
  		            <article class="[ media media--responsive ] [ small-post ]">
  		              <div class="media__img">
  						<a href="javascript:;">
  							<div class="post__img post__img--small" style="background-image:url('images/banner-red-small.jpg')">
  								<img src="images/banner-red-small.jpg" alt="post name" />
  							</div><!-- /.post__img  -->
  						</a>
  						<a href="javascript:;" class="post__label red">Urgent news</a>
  		              </div>
  		              <!-- /.media__img -->
  		              <div class="media__body">
  		                  <div class="post__date">
  							<time>20/12/2015</time>
  						  </div>
  		                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
  		                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
  		                <a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
  		              </div>
  		              <!-- /.media__body -->
  		            </article>
  			</div>
  		</div>
  	</div><!-- /.container -->
  </section><!-- /.home-posts entry-content -->

   <section class="home-posts entry-content mv+">
  	<div class="container">
  		<h2>أخبار / <a href="javascript:;">أخبار</a></h2>
  		<hr />
  		<div class="layout">
  			<div class="layout__item extralarge-and-up-1/2">
  				<div class="post__item post__item--large shadow">
  					<article class="post">
  						<a href="javascript:;">
  							<div class="post__img post__img--large" style="background-image:url('images/banner-blue.jpg')">
  								<img src="images/banner-blue.jpg" alt="album name" />
  							</div><!-- /.post__img  -->
  						</a>
  						<a href="javascript:;" class="post__label blue">Important news</a>
  						<div class="post__data">
  							<div class="post__date">
  								<time>20/12/2015</time>
  							</div>
  							<h4><a href="javascript:;">اجتماع لجنة تغطية حسابات المصارف بالنقد الأجنبي بمصرف ليبيا المركزي</a></h4>
  							<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
  							<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
  						</div><!-- /.post__data -->
  					</article>
  				</div>
  			</div>
  			<div class="layout__item extralarge-and-up-1/2">
  					<article class="[ media media--responsive ] [ small-post ]">
  		              <div class="media__img">
  						<a href="javascript:;">
  							<div class="post__img post__img--small" style="background-image:url('images/banner-blue-small.jpg')">
  								<img src="images/banner-blue-small.jpg" alt="post name" />
  							</div><!-- /.post__img  -->
  						</a>
  						<a href="javascript:;" class="post__label blue">Important news</a>
  		              </div>
  		              <!-- /.media__img -->
  		              <div class="media__body">
  		                  <div class="post__date">
  							<time>20/12/2015</time>
  						  </div>
  		                <h4><a href="javascript:;">اجتماع لجنة تغطية حسابات المصارف بالنقد الأجنبي بمصرف ليبيا المركزي</a></h4>
  		                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
  		                <a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
  		              </div>
  		              <!-- /.media__body -->
  		            </article>
  		            <article class="[ media media--responsive ] [ small-post ]">
  		              <div class="media__img">
  						<a href="javascript:;">
  							<div class="post__img post__img--small" style="background-image:url('images/banner-blue-small.jpg')">
  								<img src="images/banner-blue-small.jpg" alt="post name" />
  							</div><!-- /.post__img  -->
  						</a>
  						<a href="javascript:;" class="post__label blue">Important news</a>
  		              </div>
  		              <!-- /.media__img -->
  		              <div class="media__body">
  		                  <div class="post__date">
  							<time>20/12/2015</time>
  						  </div>
  		                <h4><a href="javascript:;">إختتام ورشة عمل تدريب العناصر التقنية والمصرفية على منظومة متابعة النقد الأجنبي</a></h4>
  		                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
  		                <a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
  		              </div>
  		              <!-- /.media__body -->
  		            </article>
  		            <article class="[ media media--responsive ] [ small-post ]">
  		              <div class="media__img">
  						<a href="javascript:;">
  							<div class="post__img post__img--small" style="background-image:url('images/banner-blue-small.jpg')">
  								<img src="images/banner-blue-small.jpg" alt="post name" />
  							</div><!-- /.post__img  -->
  						</a>
  						<a href="javascript:;" class="post__label blue">Important news</a>
  		              </div>
  		              <!-- /.media__img -->
  		              <div class="media__body">
  		                  <div class="post__date">
  							<time>20/12/2015</time>
  						  </div>
  		                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
  		                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
  		                <a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
  		              </div>
  		              <!-- /.media__body -->
  		            </article>
  			</div>
  		</div>
  	</div><!-- /.container -->
  </section><!-- /.home-posts entry-content -->


   <section class="home-posts entry-content mv+">
  	<div class="container">
  		<h2>أخبار / <a href="javascript:;">أخبار</a></h2>
  		<hr />
  		<div class="layout">
  			<div class="layout__item extralarge-and-up-1/2">
  				<div class="post__item post__item--large shadow">
  					<article class="post">
  						<a href="javascript:;">
  							<div class="post__img post__img--large" style="background-image:url('images/banner-black.jpg')">
  								<img src="images/banner-black.jpg" alt="album name" />
  							</div><!-- /.post__img  -->
  						</a>
						<a href="javascript:;" class="post__label black">Announcement</a>
  						<div class="post__data">
  							<div class="post__date">
  								<time>20/12/2015</time>
  							</div>
  							<h4><a href="javascript:;">اجتماع لجنة تغطية حسابات المصارف بالنقد الأجنبي بمصرف ليبيا المركزي</a></h4>
  							<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
  							<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
  						</div><!-- /.post__data -->
  					</article>
  				</div>
  			</div>
  			<div class="layout__item extralarge-and-up-1/2">
  					<article class="[ media media--responsive ] [ small-post ]">
  		              <div class="media__img">
  						<a href="javascript:;">
  							<div class="post__img post__img--small" style="background-image:url('images/banner-black-small.jpg')">
  								<img src="images/banner-black-small.jpg" alt="post name" />
  							</div><!-- /.post__img  -->
  						</a>
            <a href="javascript:;" class="post__label black">Announcement</a>
  		              </div>
  		              <!-- /.media__img -->
  		              <div class="media__body">
  		                  <div class="post__date">
  							<time>20/12/2015</time>
  						  </div>
  		                <h4><a href="javascript:;">اجتماع لجنة تغطية حسابات المصارف بالنقد الأجنبي بمصرف ليبيا المركزي</a></h4>
  		                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
  		                <a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
  		              </div>
  		              <!-- /.media__body -->
  		            </article>
  		            <article class="[ media media--responsive ] [ small-post ]">
  		              <div class="media__img">
  						<a href="javascript:;">
  							<div class="post__img post__img--small" style="background-image:url('images/banner-black-small.jpg')">
  								<img src="images/banner-black-small.jpg" alt="post name" />
  							</div><!-- /.post__img  -->
  						</a>
  						<a href="javascript:;" class="post__label black">Announcement</a>
  		              </div>
  		              <!-- /.media__img -->
  		              <div class="media__body">
  		                  <div class="post__date">
  							<time>20/12/2015</time>
  						  </div>
  		                <h4><a href="javascript:;">إختتام ورشة عمل تدريب العناصر التقنية والمصرفية على منظومة متابعة النقد الأجنبي</a></h4>
  		                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
  		                <a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
  		              </div>
  		              <!-- /.media__body -->
  		            </article>
  		            <article class="[ media media--responsive ] [ small-post ]">
  		              <div class="media__img">
  						<a href="javascript:;">
  							<div class="post__img post__img--small" style="background-image:url('images/banner-black-small.jpg')">
  								<img src="images/banner-black-small.jpg" alt="post name" />
  							</div><!-- /.post__img  -->
  						</a>
  						<a href="javascript:;" class="post__label black">Announcement</a>
  		              </div>
  		              <!-- /.media__img -->
  		              <div class="media__body">
  		                  <div class="post__date">
  							<time>20/12/2015</time>
  						  </div>
  		                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
  		                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
  		                <a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
  		              </div>
  		              <!-- /.media__body -->
  		            </article>
  			</div>
  		</div>
  	</div><!-- /.container -->
  </section><!-- /.home-posts entry-content -->


  {% include "./_partials/partial.footer.html" %}
{% endblock %}
