/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html {
    font-family: $base-font-family;
    color: $base-title-color;
    background-color: #f1f3f5;
}

body {
	background-color: #f1f3f5;
	position: relative;
}

.page {
	padding-top: 70px;
	padding-bottom: 90px;
}


/**
 * LTR styles
 */

 html[dir=ltr] {
	font-family: $third-font-family;
 }
