/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * Typographical base selectors.
 */

/**
 * Horizontal rules.
 */
hr {
    background-color: none;
    border: none;
    border-bottom: 1px solid $base-border-color;
    height: 1px;
    margin-bottom: $spacing-unit;
}

/**
 * Typography.
 */
.entry-content {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {

        > a {
            color: inherit;

            &:hover {
                color: lighten($base-title-color, 30%);
            }
        }
        font-family: $base-font-family;
        font-weight: bold;
        color: $base-title-color;
        margin-bottom: 0;
        padding-bottom: 20px;
        line-height: 27px;
    }


    h1,
    .h1 {
        font-size: 25px;
    }

    h2,
    .h2 {
        font-size: 21px;
    }

    h3,
    .h3 {
        font-size: 19px;
    }

    h4,
    .h4 {
        font-size: 17px;
    }

    h5,
    .h5 {
        font-size: 15px;

    }

    h6,
    .h6 {
        font-size: 13px;
    }
    
    img,
    p,
    ul,
    ol,
    pre,
    blockquote,
    .embedded {
        &:not(:last-child) {
            margin-bottom: $spacing-unit;
        }
    }

    i,
    em {
        font-style: italic;
    }

    b,
    strong {
        font-weight: 700;
    }


    ul {
        list-style-type: none;

        li {
            padding-right: 20px;
            padding-bottom: 15px;
            position: relative;
            color: $base-title-color;

            &:before {
                content: "";
                display: inline-block;
                position: absolute;
                right: 0;
                top: 7px;
                height: 10px;
                width: 10px;
                background-color: transparent;
                border: 2px solid $color-blue;
                border-radius: 50%;
            }

             ul {
                
                li {
                    color: $base-text-color;

                    &:before {
                        content: "";
                        background-color: #ced6e0;
                        border-color: transparent;
                    }

                    &:last-child {
                        padding-bottom: 18px;
                    }

                    &:first-child {
                        margin-top: 30px;
                    }
                }
            }
        }
    }

    ol {
        list-style: none;
        counter-reset: list_item;

        li {
            counter-increment: list_item;
            position: relative;
            padding-right: 47px;
            color: $base-title-color;

            &:not(:last-child) {
                padding-bottom: 20px;
            }

            &:before {
                content: counter(list_item);
                position: absolute;
                font-family: $second-font-family;
                top: -4px;
                right: 0;
                display: inline-block;
                line-height: 30px;
                height: 30px;
                width: 30px;
                background-color: $color-blue;
                color: $color-white;
                text-align: center;
                border-radius: 50%;
            }
        }
    }

    ul,
    ol {
        margin-left: 0;
        margin-right: 0;
        margin-top: 15px;
    }
}


html[dir=ltr] {

    .entry-content {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: $third-font-family;
        }
         ul {
            li {
                padding-right: 0;
                padding-left: 20px;

                 &:before {
                    right: auto;
                    left: 0;
                }
            }
        }

        ol {

            li {
                padding-right: 0;
                padding-left: 47px;

                &:before {
                    right: auto;
                    left: 0;
                }
            }
        }
        
    }
}
