/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {

    > a {
        color: inherit;

        &:hover {
            color: lighten($base-title-color, 30%);
        }
    }
    font-family: $base-font-family;
    font-weight: bold;
    color: $base-title-color;
    margin-bottom: 0;
    padding-bottom: 20px;
    line-height: 27px;
}

 h1,
    .h1 {
        font-size: 25px;
    }

    h2,
    .h2 {
        font-size: 21px;
    }

    h3,
    .h3 {
        font-size: 19px;
    }

    h4,
    .h4 {
        font-size: 17px;
    }

    h5,
    .h5 {
        font-size: 15px;

    }

    h6,
    .h6 {
        font-size: 13px;
    }



 /**
 * LTR styles.
 */

html[dir=ltr] {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $third-font-family;
    }        
}
