	<!--[if lt IE 9]>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<![endif]-->
	<!--[if gte IE 9]><!-->
	    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<!--<![endif]-->
    <script src="../bower_components/svg4everybody/dist/svg4everybody.min.js"></script>
    <script src="../bower_components/autosize/dist/autosize.min.js"></script>
    <script src="../bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="../bower_components/mixitup/build/jquery.mixitup.min.js"></script>
    <script src="../bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="../bower_components/SelectOrDie/_src/selectordie.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="js/init.min.js"></script>
  </body>
</html>