/* --------------------------------------------------------------------------------------
+
+ LINK
+
-------------------------------------------------------------------------------------- */

a {
    color: $starterized-base-link-color;
    text-decoration: none;

    &:hover {
    	color: lighten($color-blue, 15%);
    	text-decoration: none;
    }
}
