/*------------------------------------*\
    #CALENDAR HOME AND CURRENCY RATE
\*------------------------------------*/

#ui-datepicker-div {
    min-width: 495px;
    background-color: #171d29;
    padding-top: 20px;

    @include screen(320px, 430px ) {
        min-width: 264px;
        padding-top: 0px;
        font-size: 13px;
    }

    @include screen(430px, 580px) {
        min-width: 350px;
        padding-top: 0px;
        font-size: 13px;
    }
}

.ui-datepicker-inline {
    position: relative;
    z-index: 1;
}


span {

  &.ui-state-default {
    color: $color-white;
  }

}

a {

  &.ui-state-default {
    color: white !important;
    position: relative;
    z-index: 10;
    display: inline-block;

    &:before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 40px;
        width: 40px;
        border-radius: 50%;
        z-index: -5;
    }

    .event-1 & {
        &:before {
          background-color: #3d91eb;
      }
    }
    .event-2 & {
        &:before {
          background-color: #ed3082;
      }
    }
    .event-3 & {
        &:before {
          background-color: #f8c303;
      }
    }

    .event-4 & {
        &:before {
          background-color: #3bb17d;
      }
    }




  }
}

// .ui-state-active {
//     color: white !important;
//     position: relative;
//     z-index: 10;
//     display: inline-block;

//     &:before {
//         content: '';
//         display: inline-block;
//         position: absolute;
//         left: 50%;
//         top: 50%;
//         @include transform(translate(-50%, -50%));
//         height: 40px;
//         width: 40px;
//         border: 2px solid #8f9fac;
//         border-radius: 50%;
//     }

//     &.news-1 {

//        &:before {
//            content: '';
//            display: inline-block;
//            position: absolute;
//            left: 50%;
//            top: 50%;
//            @include transform(translate(-50%, -50%));
//            height: 40px;
//            width: 40px;
//            background-color: $color-blue;
//            border-radius: 50%;
//            z-index: -1;
//        }
//     }

//     &.news-2 {

//         &:before {
//            content: '';
//            display: inline-block;
//            position: absolute;
//            left: 50%;
//            top: 50%;
//            @include transform(translate(-50%, -50%));
//            height: 40px;
//            width: 40px;
//            background-color: #8f9fac;
//            border-radius: 50%;
//            z-index: -1;
//        }
//     }
// }



.ui-datepicker-other-month.ui-datepicker-unselectable.ui-state-disabled {

    span {
        color: #636c76;
    }
}


.ui-datepicker-other-month a {
    color: #636c76;
}



.ui-datepicker-calendar {
    font-family: $second-font-family;

    thead {
       th {
        padding-bottom: 30px;
        color: $color-white;

        @include max-screen(550px) {
            padding-bottom: 15px;
        }
       }
    }

    tbody {
        tr {
            text-align: center;
            height: 48px;

            @include max-screen(550px) {
                height: 35px;
            }
        }
    }
}

.ui-datepicker-title {
    border-top: 1px solid rgba(209,239,255,0.1);
    border-bottom: 1px solid rgba(209,239,255,0.1);
    text-align: center;
    padding: 20px 0;
    margin-bottom: 40px;
    color: $color-white;
    font-family: $second-font-family;

    @include max-screen(550px) {
        margin-bottom: 15px;
    }
}

.ui-datepicker-header {
    position: relative;
}

.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next  {
    span {
        display: block;
        position: absolute;
        margin-left: -8px;
        top: 50%;
        margin-top: -8px;
        cursor: pointer;
    }
}

.ui-datepicker .ui-datepicker-next {
    span {
          right: 30px;
          text-indent: -99999px;
          background-image: url('../images/calendar-arrow-next.png');
          width: 8px;
          height: 14px;

    }
}

.ui-datepicker .ui-datepicker-prev {
    span {
          left: 30px;
          text-indent: -99999px;
          background-image: url('../images/calendar-arrow-prev.png');
          width: 8px;
          height: 14px;
    }
}

.calendar {
    margin-bottom: -17px;
}



/**
 * LTR tyles
 */
 
html[dir=ltr] {

  .ui-datepicker .ui-datepicker-prev, 
  .ui-datepicker .ui-datepicker-next  {
      span {
          margin-left: 0;
          margin-right: -8px;
      }
  }

}