/*------------------------------------*\
    #ICONS
\*------------------------------------*/

.round--icon {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
}

    .round--icon-blue {
        background-color: $base-link-color;
        color: $color-white;
    }

    .round--icon-small {
        height: 40px;
        width: 40px;
        line-height: 45px;
    }