/*------------------------------------*\
    #ICONS
\*------------------------------------*/

.icon {
    display: inline-block;
    fill: currentColor;
    height: 16px;
    vertical-align: middle;
    width: 16px;
}

.icon--top-menu {
    margin-left: 5px;

    html[dir=ltr] & {
       margin-left: 0;
       margin-right: 5px;
    }
}

.icon--more {
    position: relative;
    left: -10px;
    top: 1px;

    html[dir=ltr] & {
        left: auto;
        right: -10px;
        @include transform(rotate(180deg)); 
    }
}

.icon--8-16 {
    width: 8px;
    height: 16px;
}

.icon--8-11 {
    width: 8px;
    height: 16px;
}

.icon--7-12 {
    width: 7px;
    height: 12px;
}

.icon--9-13 {
    width: 9px;
    height: 13px;
}

.icon--10-13 {
    width: 10px;
    height: 13px;
}

.icon--12-14 {
    width: 12px;
    height: 14px;
}

.icon--12-13 {
    width: 12px;
    height: 13px;
}

.icon--13-14 {
    width: 13px;
    height: 14px;
}

.icon--13-13 {
    width: 13px;
    height: 13px;
}

.icon--14-14 {
    width: 14px;
    height: 14px;
}

.icon--15-10 {
    width: 15px;
    height: 10px;
}

.icon--16-14 {
    width: 16px;
    height: 14px;
}

.icon--16-16 {
    width: 16px;
    height: 16px;
}

.icon--16-12 {
    width: 16px;
    height: 12px;
}

.icon--17-14 {
    width: 17px;
    height: 14px;
}

.icon--17-16 {
    width: 17px;
    height: 16px;
}

.icon--19-11 {
    width: 19px;
    height: 11px;
}

.icon--19-14 {
    width: 19px;
    height: 11px;
}

.icon--20-20 {
    width: 20px;
    height: 20px;
}

.icon--22-9 {
    width: 22px;
    height: 9px;
}

.icon--27-16 {
    width: 27px;
    height: 16px;
}

.icon--64-64 {
    width: 64px;
    height: 64px;
}

.icon--157-55 {
    width: 157px;
    height: 55px;
}