/*------------------------------------* 
   #COVERIZE
\*------------------------------------*/
.coverize {
  position: relative;
  z-index: 1;
}

    .coverize {

        &:hover {

            .coverize__mask {
                opacity: 1;
            }
        }
    }

    .coverize__mask {
      position: absolute;
      background: rgba(0, 0, 0, 0.7);
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 5;
      text-align: center;
      opacity: 0;
      transition: opacity 0.2s ease-out;
    }

    .coverize__icon {
      position: relative;
      top: 50%;
      @include transform(translateY(-50%));
      z-index: 10;
      color: white;
      font-size: 13px;
      vertical-align: middle;
    }
