/*------------------------------------*\
    #CONTAINER
\*------------------------------------*/

.container {
    margin: 0 auto;
    max-width: $page-max-width + ($spacing-unit * 2);
    padding-left:  $spacing-unit;
    padding-right: $spacing-unit;

	&.container--indented {
		padding: 0 118px;
	}

    &.container--large {
    	max-width: $container-large + ($spacing-unit * 2);
    }
}

.container--indented {
    padding: 0 118px;
}
