/*------------------------------------*\
    #ICONS
\*------------------------------------*/

.share-wrap {
    border-top: 2px solid #e8eaeb;
    border-bottom: 2px solid #e8eaeb;
    padding-top: 25px;
    padding-bottom: 27px;

    @include max-screen($breakpoint-large - 1) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.share {
    position: relative;
    display: inline-block;
}
    .js-share {
        position: relative;
        z-index: 5;

        &:hover {
            color: $color-white;
        }
    }

    .share__icon {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        opacity: 0;

        .is-active & {
            opacity: 1;
        }
    }


.share__icon--face {

    .is-active & {
        @include transition(transform .12s cubic-bezier(0.215, 0.610, 0.355, 1.000), opacity .2s cubic-bezier(0.215, 0.610, 0.355, 1.000));
        @include transform(translateX(50px));
    }
}


.share__icon--tw {

    .is-active & {
        @include transition(transform .16s cubic-bezier(0.215, 0.610, 0.355, 1.000) .07s, opacity .2s cubic-bezier(0.215, 0.610, 0.355, 1.000) .1s);
        @include transform(translateX(100px));
    }
}

.share__icon--google {

    .is-active & {
        @include transition(transform .2s cubic-bezier(0.215, 0.610, 0.355, 1.000) .15s, opacity .2s cubic-bezier(0.215, 0.610, 0.355, 1.000) .2s);
        @include transform(translateX(150px));
    }
}


/**
 * LTR tyles
 */

html[dir=ltr] {
  
  .share {

      &.is-active {
           .share__icon--face {
              @include transform(translateX(-50px));
          }
      }

      &.is-active {
          .share__icon--tw {
              @include transform(translateX(-100px));
          }

      }

      &.is-active {
          .share__icon--google {
              @include transform(translateX(-150px));
          }
      }
  }

      .js-share {
          @include transform(rotate(270deg));
      }


      .is-active {
          &.share__icon {
              left: auto;
              right: 0;
          }
      }  
  
}