/*------------------------------------*\
    #DEFAULT SETTINGS
\*------------------------------------*/


// Basic styles
$base-background-color:                         #fff;
$base-border-color:                             #d0d5db;
$base-border-radius:                            2px;
$base-font-family:                              'Droid Arabic Naskh', serif;
$second-font-family: 							'Montserrat', sans-serif;
$third-font-family: 							'Open Sans', sans-serif;
$base-font-size:                                15px;
$base-line-height:                              25px;
$inuit-layout-gutter:				 			35px;
$base-link-color:                               blue;
$base-selection-background-color:               rgba(#329bdd, .7);
$base-selection-text-color:                     #fff;
$base-text-color:                               #82919d;
$base-title-color:                              #171d28;
$base-link-color:                            	#3282d9;
$base-table-border:								#e3eaf4;
$second-title-color:                            #ccc;
$color-white:									#fff;
$color-blue:									#3f91eb;
$color-black:                                   #000;

// Layout
$spacing-unit:                                  $inuit-layout-gutter;
$spacing-unit--small:                           round($spacing-unit / 2);
$page-max-width:                                1170px;
$container-large:								1440px;
 

// Breakpoints
$breakpoint-medium:                             481px;
$breakpoint-large:                              769px;
$breakpoint-extralarge:                         1025px;
$breakpoint-superlarge:                         1500px;

// Inuit breakpoints
$breakpoints: (
    "medium"           "screen and (min-width: #{$breakpoint-medium}) and (max-width: #{$breakpoint-large - 1})",
    "medium-and-up"    "screen and (min-width: #{$breakpoint-medium})",
    "large"           "screen and (min-width: #{$breakpoint-large}) and (max-width: #{$breakpoint-extralarge - 1})",
    "large-and-up"    "screen and (min-width: #{$breakpoint-large})",
    "extralarge"	  "screen and (min-width: #{$breakpoint-extralarge}) and (max-width: #{$breakpoint-superlarge - 1})",
    "extralarge-and-up"    "screen and (min-width: #{$breakpoint-extralarge})",
    "superlarge-and-up"    "screen and (min-width: #{$breakpoint-superlarge})"
    "retina"        "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
);

