/*------------------------------------*\
    #GENERIC
\*------------------------------------*/

.shadow {
	-webkit-box-shadow: 0 1px 2px rgba(1,1,1,.15);
	-moz-box-shadow: 0 1px 2px rgba(1,1,1,.15);
	box-shadow: 0 1px 2px rgba(1,1,1,.15);
}

.color-gray {
	color: #ced6e0;
}

.color-black {
	color: $base-title-color;
}

.montserrat {
	font-family: $second-font-family;
}

.relative {
	position: relative;
}

.list-reset {
	margin: 0 !important;
	list-style-type: none !important;

	li {

		margin: 0 !important;
		padding: 0 !important;

		&:before {
			content: '';
			display: none !important;
		}
	}
}


