<div class="container mv++">
<h1>Legislation</h1>
<div class="gallery gallery--legislation entry-content">
	<h1>التشريعات</h1>
	<div class="layout">
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="javascript:;">
					<div class="gallery__img" style="background-image:url('images/legislation-1.jpg')">
						<img src="images/legislation-1.jpg" alt="album name" />
					</div><!-- /.gallery__img  -->
				</a>
				<div class="gallery__data">
					<time datetime="2014-10-09">10/09/2014</time>
					<h4>قانون رقم 9 لسنة 2010 بشأن تشجيع الاستثمار</h4>
					<a href="javascript:;">تحميل PDF {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="javascript:;">
					<div class="gallery__img" style="background-image:url('images/legislation-2.jpg')">
						<img src="images/legislation-2.jpg" alt="album name" />
					</div><!-- /.gallery__img  -->
				</a>
				<div class="gallery__data">
					<time datetime="2014-10-09">10/09/2014</time>
					<h4>قانون رقم 9 لسنة 2010 بشأن تشجيع الاستثمار</h4>
					<a href="javascript:;">تحميل PDF {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="javascript:;">
					<div class="gallery__img" style="background-image:url('images/legislation-2.jpg')">
						<img src="images/legislation-2.jpg" alt="album name" />
					</div><!-- /.gallery__img  -->
				</a>
				<div class="gallery__data">
					<time datetime="2014-10-09">10/09/2014</time>
					<h4>قانون رقم 9 لسنة 2010 بشأن تشجيع الاستثمار</h4>
					<a href="javascript:;">تحميل PDF {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="javascript:;">
					<div class="gallery__img" style="background-image:url('images/legislation-3.jpg')">
						<img src="images/legislation-3.jpg" alt="album name" />
					</div><!-- /.gallery__img  -->
				</a>
				<div class="gallery__data">
					<time datetime="2014-10-09">10/09/2014</time>
					<h4>قانون رقم 9 لسنة 2010 بشأن تشجيع الاستثمار</h4>
					<a href="javascript:;">تحميل PDF {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="javascript:;">
					<div class="gallery__img" style="background-image:url('images/legislation-2.jpg')">
						<img src="images/legislation-2.jpg" alt="album name" />
					</div><!-- /.gallery__img  -->
				</a>
				<div class="gallery__data">
					<time datetime="2014-10-09">10/09/2014</time>
					<h4>قانون رقم 9 لسنة 2010 بشأن تشجيع الاستثمار</h4>
					<a href="javascript:;">تحميل PDF {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="javascript:;">
					<div class="gallery__img" style="background-image:url('images/legislation-4.jpg')">
						<img src="images/legislation-4.jpg" alt="album name" />
					</div><!-- /.gallery__img  -->
				</a>
				<div class="gallery__data">
					<time datetime="2014-10-09">10/09/2014</time>
					<h4>قانون رقم 9 لسنة 2010 بشأن تشجيع الاستثمار</h4>
					<a href="javascript:;">تحميل PDF {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
	</div><!-- /.layout -->
</div><!-- /.gallery -->
</div>