<div class="owl-carousel slider">
	<div class="slider__item">
	 	<img src="images/post-slide-1.jpg" alt="slide name">
	</div>
	<div class="slider__item">
		<img src="images/post-slide-1.jpg" alt="slide name">
	</div>
	<div class="slider__item">
		<img src="images/post-slide-1.jpg" alt="slide name">
	</div>
</div>



