<div class="container mv++">
<h1>Gallery page</h1>
<div class="gallery">
	<h5>2015</h5>
	<div class="layout">
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="javascript:;">
					<div class="gallery__img coverize" style="background-image:url('images/gallery-album.jpg')">
						<img src="images/gallery-album.jpg" alt="album name" />
						<div class="coverize__mask">
				          <div class="coverize__icon">
							  {{icon('icon-gallery', 'icon--64-64')}}
				          </div>
				        </div>
					</div><!-- /.gallery__img coverize -->
				</a>
				<div class="gallery__title">
					<h4>هنالك العديد من الأنواع </h4>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="javascript:;">
					<div class="gallery__img coverize" style="background-image:url('images/gallery-album.jpg')">
						<img src="images/gallery-album.jpg" alt="album name" />
						<div class="coverize__mask">
				          <div class="coverize__icon">
							  {{icon('icon-gallery', 'icon--64-64')}}
				          </div>
				        </div>
					</div><!-- /.gallery__img coverize -->
				</a>
				<div class="gallery__title">
					<h4>هنالك العديد من الأنواع</h4>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="javascript:;">
					<div class="gallery__img coverize" style="background-image:url('images/gallery-album.jpg')">
						<img src="images/gallery-album.jpg" alt="album name" />
						<div class="coverize__mask">
				          <div class="coverize__icon">
							  {{icon('icon-gallery', 'icon--64-64')}}
				          </div>
				        </div>
					</div><!-- /.gallery__img coverize -->
				</a>
				<div class="gallery__title">
					<h4>هنالك العديد من الأنواع </h4>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="javascript:;">
					<div class="gallery__img coverize" style="background-image:url('images/gallery-album.jpg')">
						<img src="images/gallery-album.jpg" alt="album name" />
						<div class="coverize__mask">
				          <div class="coverize__icon">
							  {{icon('icon-gallery', 'icon--64-64')}}
				          </div>
				        </div>
					</div><!-- /.gallery__img coverize -->
				</a>
				<div class="gallery__title">
					<h4>هنالك العديد من الأنواع </h4>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="javascript:;">
					<div class="gallery__img coverize" style="background-image:url('images/gallery-album.jpg')">
						<img src="images/gallery-album.jpg" alt="album name" />
						<div class="coverize__mask">
				          <div class="coverize__icon">
							  {{icon('icon-gallery', 'icon--64-64')}}
				          </div>
				        </div>
					</div><!-- /.gallery__img coverize -->
				</a>
				<div class="gallery__title">
					<h4>هنالك العديد من الأنواع </h4>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="javascript:;">
					<div class="gallery__img coverize" style="background-image:url('images/gallery-album.jpg')">
						<img src="images/gallery-album.jpg" alt="album name" />
						<div class="coverize__mask">
				          <div class="coverize__icon">
							  {{icon('icon-gallery', 'icon--64-64')}}
				          </div>
				        </div>
					</div><!-- /.gallery__img coverize -->
				</a>
				<div class="gallery__title">
					<h4>هنالك العديد من الأنواع </h4>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="javascript:;">
					<div class="gallery__img coverize" style="background-image:url('images/gallery-album.jpg')">
						<img src="images/gallery-album.jpg" alt="album name" />
						<div class="coverize__mask">
				          <div class="coverize__icon">
							  {{icon('icon-gallery', 'icon--64-64')}}
				          </div>
				        </div>
					</div><!-- /.gallery__img coverize -->
				</a>
				<div class="gallery__title">
					<h4>هنالك العديد من الأنواع </h4>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
	</div><!-- /.layout -->
	<h5>2014</h5>
	<div class="layout">
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="javascript:;">
					<div class="gallery__img coverize" style="background-image:url('images/gallery-album.jpg')">
						<img src="images/gallery-album.jpg" alt="album name" />
						<div class="coverize__mask">
				          <div class="coverize__icon">
							  {{icon('icon-gallery', 'icon--64-64')}}
				          </div>
				        </div>
					</div><!-- /.gallery__img coverize -->
				</a>
				<div class="gallery__title">
					<h4>هنالك العديد من الأنواع </h4>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="javascript:;">
					<div class="gallery__img coverize" style="background-image:url('images/gallery-album.jpg')">
						<img src="images/gallery-album.jpg" alt="album name" />
						<div class="coverize__mask">
				          <div class="coverize__icon">
							  {{icon('icon-gallery', 'icon--64-64')}}
				          </div>
				        </div>
					</div><!-- /.gallery__img coverize -->
				</a>
				<div class="gallery__title">
					<h4>هنالك العديد من الأنواع</h4>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="javascript:;">
					<div class="gallery__img coverize" style="background-image:url('images/gallery-album.jpg')">
						<img src="images/gallery-album.jpg" alt="album name" />
						<div class="coverize__mask">
				          <div class="coverize__icon">
							  {{icon('icon-gallery', 'icon--64-64')}}
				          </div>
				        </div>
					</div><!-- /.gallery__img coverize -->
				</a>
				<div class="gallery__title">
					<h4>هنالك العديد من الأنواع </h4>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="javascript:;">
					<div class="gallery__img coverize" style="background-image:url('images/gallery-album.jpg')">
						<img src="images/gallery-album.jpg" alt="album name" />
						<div class="coverize__mask">
				          <div class="coverize__icon">
							  {{icon('icon-gallery', 'icon--64-64')}}
				          </div>
				        </div>
					</div><!-- /.gallery__img coverize -->
				</a>
				<div class="gallery__title">
					<h4>هنالك العديد من الأنواع </h4>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
	</div><!-- /.layout -->
</div><!-- /.gallery -->
</div>