<section class="home-table">
	<div class="container">
		<table class="table table--secondary">
			<thead>
				<tr>
					<th colspan="5" class="table__title">اسعار العملات</th>
					<th colspan="2">الاحد <span class="montserrat">23-09-2015</span></th>
					<th colspan="2">
						<a href="javascript:;" class="call-to-action">تفاصيل الأسعار والأرشيف</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><img src="images/gb-flag.png" alt="flag"></td>
					<td><img src="images/eu-flag.png" alt="flag"></td>
					<td><img src="images/usa-flag.png" alt="flag"></td>
					<td><img src="images/ca-flag.png" alt="flag"></td>
					<td><img src="images/cn-flag.png" alt="flag"></td>
					<td><img src="images/uae-flag.png" alt="flag"></td>
					<td><img src="images/turkey-flag.png" alt="flag"></td>
					<td><img src="images/tunis-flag.png" alt="flag"></td>
					<td><img src="images/egypt-flag.png" alt="flag"></td>
				</tr>
				<tr class="table__currency">
					<td><span>gbp</span> {{icon('icon-gbp', 'icon--8-11')}}</td>
					<td><span>eur</span> {{icon('icon-eur', 'icon--8-11')}}</td>
					<td><span>usd</span> {{icon('icon-dollar', 'icon--9-13')}}</td>
					<td><span>cad</span> {{icon('icon-dollar', 'icon--9-13')}}</td>
					<td><span>cny</span> {{icon('icon-yen', 'icon--12-13')}}</td>
					<td><span>ead</span> {{icon('icon-aed', 'icon--13-13')}}</td>
					<td><span>tru</span> {{icon('icon-tur', 'icon--10-13')}}</td>
					<td><span>tnd</span> {{icon('icon-tun', 'icon--22-9')}}</td>
					<td><span>egp</span> {{icon('icon-eg', 'icon--19-11')}}</td>
				</tr>
				<tr>
					<td><span class="currency__up">0.54</span></td>
					<td><span class="currency__up">0.68</span></td>
					<td><span class="currency__up">0.84</span></td>
					<td><span class="currency__up">0.97</span></td>
					<td><span class="currency__up">5.19</span></td>
					<td><span class="currency__up">3.07</span></td>
					<td><span class="currency__up">1.94</span></td>
					<td><span class="currency__up">1.56</span></td>
					<td><span class="currency__up">5.97</span></td>
				</tr>
				<tr>
					<td><span class="currency__down">0.53</span></td>
					<td><span class="currency__down">0.67</span></td>
					<td><span class="currency__down">0.83</span></td>
					<td><span class="currency__down">0.96</span></td>
					<td><span class="currency__down">5.17</span></td>
					<td><span class="currency__down">3.05</span></td>
					<td><span class="currency__down">1.93</span></td>
					<td><span class="currency__down">1.52</span></td>
					<td><span class="currency__down">5.92</span></td>
				</tr>
			</tbody>
		</table><!-- /.table table--secondary -->
	</div> <!-- /.container -->
</section>