<!-- Sidebar -->
<aside class="sidebar">
	<ul class="sidebar__menu">
		<li>
			<a href="javascript:;" class="sidebar__item">نبذة عن المصرف</a>
		</li>
		<li>
			<a href="javascript:;" class="sidebar__item">كلمة المحافظ</a>
		</li>
		<li class="is-active">
			<a href="javascript:;" class="sidebar__item">رسالتنا وقيمنا الجوهرية</a>
		</li>
		<li>
			<a href="javascript:;" class="sidebar__item">مجلس الإدارة</a>
		</li>
		<li>
			<a href="javascript:;" class="sidebar__item">الهيكل التنظيمي</a>
		</li>
		<li class="sidebar__submenu">
			<a href="javascript:;" class="sidebar__item">المدونة</a>
			<ul>
				<li>
					<a href="javascript:;">مجلس الإدارة</a>
				</li>
				<li>
					<a href="javascript:;">مجلس الإدارة</a>
				</li>
				<li>
					<a href="javascript:;">مجلس الإدارة</a>
				</li>
			</ul>
		</li>
	</ul><!-- /.sidebar__menu -->
</aside>