<div class="layout__item 1/2">
	<div class="video-slider">
		<div class="video-player">
			<div class="featured-img">
				<img src="images/video-slide-1.jpg" alt="" data-video-src="rFdENlL_-XQ">
				<h1>مرحبا بكم مصرف ليبيا المركزي</h1>
			</div>
			<!-- /.featured-img -->
			<iframe src="https://www.youtube.com/embed/WtQvejbZ-8M?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<!-- /.video-player -->
		<ul id="lightSlider">
		  	<li data-src="images/video-slide-1.jpg" href="images/video-slide-1.jpg">
		      	<img src="images/video-slide-1.jpg" alt="" data-video-src="rFdENlL_-XQ">
		  	</li>
		  	<li data-src="images/video-slide-1.jpg" href="images/video-slide-1.jpg">
		      	<img src="images/video-slide-1.jpg" alt="" data-video-src="PiKQa7ZRq6w">
		  	</li>
		  	<li data-src="images/video-slide-1.jpg" href="images/video-slide-1.jpg">
		      	<img src="images/video-slide-1.jpg" alt="" data-video-src="26n3eBWVdQ8">
		  	</li>
		  	<li data-src="images/video-slide-1.jpg" href="images/video-slide-1.jpg">
		      	<img src="images/video-slide-1.jpg" alt="" data-video-src="mATeu-gE5mI">
		  	</li>
		  	<li data-src="images/video-slide-1.jpg" href="images/video-slide-1.jpg">
		      	<img src="images/video-slide-1.jpg" alt="" data-video-src="2VlWSEr33MM">
		  	</li>
		  	<li data-src="images/video-slide-1.jpg" href="images/video-slide-1.jpg">
		      	<img src="images/video-slide-1.jpg" alt="" data-video-src="rFdENlL_-XQ">
		  	</li>
		  	<li data-src="images/video-slide-1.jpg" href="images/video-slide-1.jpg">
		      	<img src="images/video-slide-1.jpg" alt="" data-video-src="PiKQa7ZRq6w">
		  	</li>
		  	<li data-src="images/video-slide-1.jpg" href="images/video-slide-1.jpg">
		      	<img src="images/video-slide-1.jpg" alt="" data-video-src="26n3eBWVdQ8">
		  	</li>
		  	<li data-src="images/video-slide-1.jpg" href="images/video-slide-1.jpg">
		      	<img src="images/video-slide-1.jpg" alt="" data-video-src="mATeu-gE5mI">
		  	</li>
		  	<li data-src="images/video-slide-1.jpg" href="images/video-slide-1.jpg">
		      	<img src="images/video-slide-1.jpg" alt="" data-video-src="2VlWSEr33MM">
		  	</li>
		</ul>
		<!-- /.lightSlider -->
	</div>
	<!-- /.video-slider -->
</div>
<!-- /.layout__item -->