<footer class="footer-main">
	<div class="container">
		<div class="layout">
			<div class="layout__item extralarge-and-up-1/5">
				<div class="relative">
					<div class="js-menu-dropdown"></div>
					<h3 class="footer-main__heading">الروابط القائمة</h3>
					<ul class="footer-main__menu">
						<li><a href="javascript:;" class="footer-main__link">الرئيسية</a></li>
						<li><a href="javascript:;" class="footer-main__link">اتصل بن</a></li>
						<li><a href="javascript:;" class="footer-main__link">المكتبة</a></li>
						<li><a href="javascript:;" class="footer-main__link">نماذج وقوالب</a></li>
						<li><a href="javascript:;" class="footer-main__link">وظائف شاغرة</a></li>
					</ul>
				</div><!-- /.relative -->
			</div>
			<!-- /.layout__item -->
			<div class="layout__item extralarge-and-up-1/5">
				<div class="relative">
				<div class="js-menu-dropdown"></div>
				<h3 class="footer-main__heading">عن المصرف</h3>
				<ul class="footer-main__menu">
					<li><a href="javascript:;" class="footer-main__link">نبذة عن المصرف</a></li>
					<li><a href="javascript:;" class="footer-main__link">كلمة المحافظ</a></li>
					<li><a href="javascript:;" class="footer-main__link">رسالتنا وقيمنا الجوهرية</a></li>
					<li><a href="javascript:;" class="footer-main__link">مجلس الإدارة</a></li>
					<li><a href="javascript:;" class="footer-main__link">الهيكل التنظيمي</a></li>
					<li><a href="javascript:;" class="footer-main__link">الخطة الاستراتجية</a></li>
					<li><a href="javascript:;" class="footer-main__link">المدونة</a></li>
				</ul>
				</div><!-- /.relative -->
			</div>
			<!-- /.layout__item -->
			<div class="layout__item extralarge-and-up-1/5">
				<div class="relative">
				<div class="js-menu-dropdown"></div>
				<h3 class="footer-main__heading">القوانين والتشريعات</h3>
				<ul class="footer-main__menu">
					<li><a href="javascript:;" class="footer-main__link">التشريعات</a></li>
					<li><a href="javascript:;" class="footer-main__link">القرارات</a></li>
					<li><a href="javascript:;" class="footer-main__link">الرسائل الدورية</a></li>
					<li><a href="javascript:;" class="footer-main__link">المنشورات</a></li>
				</ul>
				</div><!-- /.relative -->
			</div>
			<!-- /.layout__item -->
			<div class="layout__item extralarge-and-up-1/5">
				<div class="relative">
				<div class="js-menu-dropdown"></div>
				<h3 class="footer-main__heading">منشورات وبيانات</h3>
				<ul class="footer-main__menu">
					<li><a href="javascript:;" class="footer-main__link">التقرير السنوي</a></li>
					<li><a href="javascript:;" class="footer-main__link">مؤشرات القطاع المصرفي</a></li>
					<li><a href="javascript:;" class="footer-main__link">النشرة الاقتصادية</a></li>
					<li><a href="javascript:;" class="footer-main__link">ميزان المدفوعات</a></li>
					<li><a href="javascript:;" class="footer-main__link">أوراق عمل</a></li>
					<li><a href="javascript:;" class="footer-main__link">التقارير الرقابية للقطاع المصرفي</a></li>
				</ul>
				</div><!-- /.relative -->
			</div>
			<!-- /.layout__item -->
			<div class="layout__item extralarge-and-up-1/5">
				<div class="relative">
				<div class="js-menu-dropdown"></div>
				<h3 class="footer-main__heading">العمليات المصرفية</h3>
				<ul class="footer-main__menu">
					<li><a href="javascript:;" class="footer-main__link">نبذة عامة</a></li>
					<li><a href="javascript:;" class="footer-main__link">نظام المدفوعات الوطني</a></li>
					<li><a href="javascript:;" class="footer-main__link">سياسة أمن المعلومات</a></li>
				</ul>
				</div><!-- /.relative -->
			</div>
			<!-- /.layout__item -->
			<div class="layout__item extralarge-and-up-1/5">
				<div class="relative">
				<div class="js-menu-dropdown"></div>
				<h3 class="footer-main__heading">عمليات السوق</h3>
				<ul class="footer-main__menu">
					<li><a href="javascript:;" class="footer-main__link">نافذة ايداع لليلة واحدة</a></li>
					<li><a href="javascript:;" class="footer-main__link">استمارة الاكتتاب في شهادات الايداع</a></li>
					<li><a href="javascript:;" class="footer-main__link">دعوة الاكتتاب</a></li>
					<li><a href="javascript:;" class="footer-main__link">نتائج بيع شهادات الايداع</a></li>
					<li><a href="javascript:;" class="footer-main__link">شهادات الايداع</a></li>
					<li><a href="javascript:;" class="footer-main__link">قرار المحافظ بشأن اصدار شهادات الايداع وملحقاته</a></li>
				</ul>
				</div><!-- /.relative -->
			</div>
			<!-- /.layout__item -->
			<div class="layout__item extralarge-and-up-1/5">
				<div class="relative">
				<div class="js-menu-dropdown"></div>
				<h3 class="footer-main__heading">دليل القطاع المصرفي</h3>
				<ul class="footer-main__menu">
					<li><a href="javascript:;" class="footer-main__link">المصارف التجارية</a></li>
					<li><a href="javascript:;" class="footer-main__link">المكاتب الهندسية المعتمدة</a></li>
					<li><a href="javascript:;" class="footer-main__link">مكاتب المحاسبة والمراجعة القانونية</a></li>
					<li><a href="javascript:;" class="footer-main__link">مكاتب تمثيل المصارف الأجنبية في ليبيا</a></li>
				</ul>
				</div><!-- /.relative -->
			</div>
			<!-- /.layout__item -->
			<div class="layout__item extralarge-and-up-1/5">
				<div class="relative">
				<div class="js-menu-dropdown"></div>
				<h3 class="footer-main__heading">السياسة النقدية</h3>
				<ul class="footer-main__menu">
					<li><a href="javascript:;" class="footer-main__link">السياسة النقدية</a></li>
					<li><a href="javascript:;" class="footer-main__link">عمليات السوق</a></li>
					<li><a href="javascript:;" class="footer-main__link">سياسة سعر الصرف</a></li>
				</ul>
				</div><!-- /.relative -->
			</div>
			<!-- /.layout__item -->
			<div class="layout__item extralarge-and-up-1/5">
				<div class="relative">
				<div class="js-menu-dropdown"></div>
				<h3 class="footer-main__heading">التعاون الدولي</h3>
				<ul class="footer-main__menu">
					<li><a href="javascript:;" class="footer-main__link">تقارير</a></li>
					<li><a href="javascript:;" class="footer-main__link">اتفاقيات</a></li>
				</ul>
				</div><!-- /.relative -->
			</div>
			<!-- /.layout__item -->
			<div class="layout__item extralarge-and-up-1/5">
				<h3 class="social-title">اجتماعي</h3>
				<ul class="social">
					<li><a href="javascript:;">{{icon('icon-fb', 'icon--8-16 icon--fb')}} <span>Facebook</span></a></li>
					<li><a href="javascript:;">{{icon('icon-twitter', 'icon--14-14 icon--twitter')}} <span>Twitter</span></a></li>
					<li><a href="javascript:;">{{icon('icon-yt', 'icon--17-14 icon--yt')}} <span>Youtube</span></a></li>
					<li><a href="javascript:;">{{icon('icon-gplus', 'icon--17-16 icon--plus')}} <span>+Google</span></a></li>
				</ul>
			</div>
			<!-- /.layout__item -->
		</div>
		<!-- /.layout -->
		<div class="footer-main__copy">
			<div class="layout layout--tiny">
				<div class="layout__item extralarge-and-up-1/2">
					<a href="javascript:;" class="logo">
						{{icon('icon-logo', 'icon--157-55 icon-logo')}}
					</a>
				</div>
				<!-- /.layout__item -->
				<div class="layout__item extralarge-and-up-1/2">
					<p>.Copyright @ 2014. <a href="javascript:;">Central Bank of Libya.</a> All rights reserved</p>
				</div>
				<!-- /.layout__item -->
			</div>
			<!-- /.layout -->
		</div>
		<!-- /.footer-main__copy -->
	</div>
	<!-- /.container -->
</footer>