<div class="page-wrap">
	<div class="page-row">
		{% include "partial.sidebar.html" %}
		<div class="content">
			<div class="breadcrumbs">
				<div class="container container--indented">
					<ol class="breadcrumbs__content">
						<li>
							<a href="javascript:;">مستقلة</a> /
						</li>
						<li>
							<a href="javascript:;">المحافظ</a> /
						</li>
						<li>
							<a href="javascript:;">للمصرف</a> /
						</li>
						<li>
							<a href="javascript:;" class="is-active">الإسلامية</a> 
						</li>
					</ol>
				</div>
			</div><!-- /.breadcrumbs -->
			<!-- Content -->
			<article class="post entry-content">
				<div class="container container--indented">
					<div class="post__date">
						<time>20/12/2015</time>
					</div>
					<div class="post__title">
						<h1>نبذة عن المصرف</h1>
					</div>
				</div>
				<div class="post__content">

					<div class="container container--indented">
						<p>إن مصرف ليبيا المركزي مؤسسة مالية مستقلة ومملوكة بالكامل للدولة الليبية ويُمثَّل السلطة النقدية بها وقد حدد قانون إنشاء المصرف المركزي والقوانين اللاحقة له والتي كان آخرها قانون المصارف رقم (1) لسنة 2005 م أهداف المصرف المركزي وهي المحافظة على الاستقرار النقدي والعمل على تحقيق النمو فى الاقتصاد الوطني فى إطار السياسة العامة للدولة .</p>

						<p>ويتولى مجلس إدارة مصرف ليبيا المركزي تصريف أمور المصرف ووضع اللوائح الداخلية المتعلقة بعملياته وبالشئون الإدارية والمالية ، ويتكون مجلس الإدارة من المحافظ رئيســــاً ونائب المحافظ نائباً للرئيس ، وعدد خمسة أعضاء آخرين ، ويعتبر المحافظ هو الرئيس التنفيذي للمصرف وهو الذي يتولى إدارته وتصريف شئونه العادية بإشراف مجلس الإدارة .</p>

						<p>وتعد مدينة طرابلس مقر الإدارة العامة لمصرف ليبيا المركزي ، ويقوم المصرف بتقديم خدماته للمصارف التجارية وفروعها في جميع أنحاء الدولة من خلال فروعه فى كل من بنغازي  سرت ، وسبهـــــا ، وأقسام الإصدار في مدينة غريان ، والبيضاء .</p>

						<h1>نبذة عن المصرف</h1>
						<h2>نبذة عن المصرف</h2>
						<h3>نبذة عن المصرف</h3>
						<h4>نبذة عن المصرف</h4>
						<h5>نبذة عن المصرف</h5>
						<h6>نبذة عن المصرف</h6>
 						
						<p>وتعد مدينة طرابلس مقر الإدارة العامة لمصرف ليبيا المركزي ، ويقوم المصرف بتقديم خدماته للمصارف التجارية وفروعها في جميع أنحاء الدولة من خلال فروعه فى كل من بنغازي  سرت ، وسبهـــــا ، وأقسام الإصدار في مدينة غريان ، والبيضاء .</p>

						<ul>
							<li>من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف</li>
							<li>لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص، بل انه حتى صار مستخدماً</li>
							<li>الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص، بل انه حتى
								<ul>
									<li>نماذج طلبات الصيرفة الإسلامية</li>
									<li>نموذج مكاتب الصرافة</li>
									<li>نموذج شركات</li>
									<li>المحتوى المقروء لصفحة ما سيلهي</li>
								</ul>
							</li>
							<li>عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل</li>
							<li>كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل</li>
							<li>أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة</li>
							<li>جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص</li>
							<li>لائقة مخبأة في هذا النص. بينما تعمل جميع مولّدات نصوص لوريم إيبسوم</li>
						</ul>
					</div><!-- /.container container--indented -->
				</div>
				<div class="container">
					<img src="images/news-image.jpg" alt="news image" class="mb+" />
				</div><!-- /.container -->
				
				<div class="container container--indented">
					<h2>شكل توضع الفقرات في الصفحة التي</h2>
					<p>
						يقوم المصرف بإدارة إحتياطيات ليبيا من الذهب والعملات الأجنبية ، وبإختيار الأدوات الاستثمارية المناسبة والقيمة التى يتم استثمارها من كل عملة ، آخذاً فى الاعتبار التطورات فى أسعار الصرف وفى الأسواق المالية بما يضمن سلامة وربحية هذه الاستثمارات ، ويسمح للمصارف التجارية بالإحتفاظ بأصول أجنبية وفقاً للتعليمات التى يصدرها من وقت لآخر ، كما قام مصرف ليبيا المركزي بتخفيف الرقابة على الصرف الاجنبى وتحرير الحساب الجاري بهدف تعزيز الاستقرار الاقتصادي واستقرار المستوى العام للأسعار.
					</p>
					<ol>
						<li>عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل</li>
						<li>كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل</li>
						<li>أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة</li>
						<li>جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص</li>
					</ol>
					<p>إن مصرف ليبيا المركزي مؤسسة مالية مستقلة ومملوكة بالكامل للدولة الليبية ويُمثَّل السلطة النقدية بها وقد حدد قانون إنشاء المصرف المركزي والقوانين اللاحقة له والتي كان آخرها قانون المصارف رقم (1) لسنة 2005 م أهداف المصرف المركزي وهي المحافظة على الاستقرار النقدي والعمل على تحقيق النمو فى الاقتصاد الوطني فى إطار السياسة العامة للدولة .</p>

					<p>ويتولى مجلس إدارة مصرف ليبيا المركزي تصريف أمور المصرف ووضع اللوائح الداخلية المتعلقة بعملياته وبالشئون الإدارية والمالية ، ويتكون مجلس الإدارة من المحافظ رئيســــاً ونائب المحافظ نائباً للرئيس ، وعدد خمسة أعضاء آخرين ، ويعتبر المحافظ هو الرئيس التنفيذي للمصرف وهو الذي يتولى إدارته وتصريف شئونه العادية بإشراف مجلس الإدارة .</p>

					<p>وتعد مدينة طرابلس مقر الإدارة العامة لمصرف ليبيا المركزي ، ويقوم المصرف بتقديم خدماته للمصارف التجارية وفروعها في جميع أنحاء الدولة من خلال فروعه فى كل من بنغازي  سرت ، وسبهـــــا ، وأقسام الإصدار في مدينة غريان ، والبيضاء .</p>

					<h4>مجلس إدارة مصرف ليبيا المركزي</h4>

					{% include "partial.tables.html" %}
				
				</div><!-- /.container container--indented -->
			</article>

			<div class="container container--indented">
				{% include "partial.sharing-box.html" %}
				{% include "partial.comments.html" %}
			</div><!-- /.container container--indented -->
			<div class="container">
				{% include "partial.gallery-main.html" %}
				{% include "partial.gallery-videos.html" %}
				{% include "partial.gallery-inner.html" %}
				{% include "partial.laws-decisions.html" %}
				{% include "partial.monetary-policy.html" %}
	  			{% include "partial.info-security-system.html" %}
	  			{% include "partial.periodic-letters.html" %}
	  			{% include "partial.legislation.html" %}
	  			{% include "partial.governor.html" %}
	  			{% include "partial.our-message.html" %}
	  			{% include "partial.history.html" %}
	  			{% include "partial.strategic-plan.html" %}
	  			{% include "partial.board-directors.html" %}
	  			{% include "partial.currency-notes.html" %}
	  			{% include "partial.post-slider.html" %}
	  			
			</div>
		</div>
	</div>
</div>

