<div class="container mv++">
	<h1>Laws - decisions</h1>
	<div class="entry-content">
		<h1>القرارات</h1>
		<table class="table table--primary auto">
			<thead>
				<tr>
					<th class="col-85">اسم القرار</th>
					<th class="col-15">تحميل القرار</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>قرار رقم 1 لسنة 2013 في شأن منع المعاملات الربوية</td>
					<td><a href="javascript:;"><img src="images/pdf-icon.jpg" alt="pdf icon" /></a></td>
				</tr>
				<tr>
					<td>قرار رقم 1 لسنة 2013 في شأن منع المعاملات الربوية</td>
					<td><a href="javascript:;"><img src="images/pdf-icon.jpg" alt="pdf icon" /></a></td>
				</tr>
				<tr>
					<td>قرار رقم 1 لسنة 2013 في شأن منع المعاملات الربوية</td>
					<td><a href="javascript:;"><img src="images/pdf-icon.jpg" alt="pdf icon" /></a></td>
				</tr>
				<tr>
					<td>مراجـع غيث</td>
					<td><a href="javascript:;"><img src="images/pdf-icon.jpg" alt="pdf icon" /></a></td>
				</tr>
				<tr>
					<td>مراجـع غيث</td>
					<td><a href="javascript:;"><img src="images/pdf-icon.jpg" alt="pdf icon" /></a></td>
				</tr>
				<tr>
					<td>مراجـع غيث</td>
					<td><a href="javascript:;"><img src="images/pdf-icon.jpg" alt="pdf icon" /></a></td>
				</tr>
			</tbody>
		</table>
	</div><!-- /.entry-content -->
	 
</div>