

				<table class="table table--primary">
					<thead>
						<tr>
							<th>الصديق عمر الكبير</th>
							<th>محافظ مصــــرف ليبيــا المركزي / رئيســاً</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>علي محمد سالم</td>
							<td>نائب المحافظ /نائباً للرئيس</td>
						</tr>
						<tr>
							<td>مراجـع غيث</td>
							<td>عضـواً</td>
						</tr>
						<tr>
							<td>مراجـع غيث</td>
							<td>عضـواً</td>
						</tr>
						<tr>
							<td>مراجـع غيث</td>
							<td>عضـواً</td>
						</tr>
						<tr>
							<td>مراجـع غيث</td>
							<td>عضـواً</td>
						</tr>
						<tr>
							<td>مراجـع غيث</td>
							<td>عضـواً</td>
						</tr>
					</tbody>
				</table>

				<p>إن مصرف ليبيا المركزي مؤسسة مالية مستقلة ومملوكة بالكامل للدولة الليبية ويُمثَّل السلطة النقدية بها وقد حدد قانون إنشاء المصرف المركزي والقوانين اللاحقة له والتي كان آخرها قانون المصارف رقم (1) لسنة 2005 م أهداف المصرف المركزي وهي المحافظة على الاستقرار النقدي والعمل على تحقيق النمو فى الاقتصاد الوطني فى إطار السياسة العامة للدولة .</p>

				<p>ويتولى مجلس إدارة مصرف ليبيا المركزي تصريف أمور المصرف ووضع اللوائح الداخلية المتعلقة بعملياته وبالشئون الإدارية والمالية ، ويتكون مجلس الإدارة من المحافظ رئيســــاً ونائب المحافظ نائباً للرئيس ، وعدد خمسة أعضاء آخرين ، ويعتبر المحافظ هو الرئيس التنفيذي للمصرف وهو الذي يتولى إدارته وتصريف شئونه العادية بإشراف مجلس الإدارة .</p>

				<p>وتعد مدينة طرابلس مقر الإدارة العامة لمصرف ليبيا المركزي ، ويقوم المصرف بتقديم خدماته للمصارف التجارية وفروعها في جميع أنحاء الدولة من خلال فروعه فى كل من بنغازي  سرت ، وسبهـــــا ، وأقسام الإصدار في مدينة غريان ، والبيضاء .</p>

				<!-- currency list homepage -->

				

<table class="table table--secondary">
<thead>
<tr>
<th colspan="9" class="table__link">
	<div class="read-more__wrap">
		<input type="checkbox" id="toggle">
		<label for="toggle">
			{{icon('icon-plus', 'icon--16-16')}}
		</label>
		<div class="read-more">
			<ul class="list-inline list-reset">
				<li>الاحد 23-09-2015</li>
				<li><a href="javascript:;" class="read-more__link">إضغط هنا</a></li>
			</ul>								
		</div><!-- /.read-more -->
	</div><!-- /.wrap -->
	<span class="table__text">
		اسعار العملات
	</span>
 </th>
</tr>
</thead>
<tbody>
	<tr>
		<td><img src="images/gb-flag.png" alt="flag"></td>
		<td><img src="images/eu-flag.png" alt="flag"></td>
		<td><img src="images/usa-flag.png" alt="flag"></td>
		<td><img src="images/ca-flag.png" alt="flag"></td>
		<td><img src="images/cn-flag.png" alt="flag"></td>
		<td><img src="images/uae-flag.png" alt="flag"></td>
		<td><img src="images/turkey-flag.png" alt="flag"></td>
		<td><img src="images/tunis-flag.png" alt="flag"></td>
		<td><img src="images/egypt-flag.png" alt="flag"></td>
	</tr>
	<tr class="table__currency">
		<td><span>gbp</span> {{icon('icon-gbp', 'icon--8-11')}}</td>
		<td><span>eur</span> {{icon('icon-eur', 'icon--8-11')}}</td>
		<td><span>usd</span> {{icon('icon-dollar', 'icon--9-13')}}</td>
		<td><span>cad</span> {{icon('icon-dollar', 'icon--9-13')}}</td>
		<td><span>cny</span> {{icon('icon-yen', 'icon--12-13')}}</td>
		<td><span>ead</span> {{icon('icon-aed', 'icon--13-13')}}</td>
		<td><span>tru</span> {{icon('icon-tur', 'icon--10-13')}}</td>
		<td><span>tnd</span> {{icon('icon-tun', 'icon--22-9')}}</td>
		<td><span>egp</span> {{icon('icon-eg', 'icon--19-11')}}</td>
	</tr>
	<tr>
		<td><span class="currency__up">0.54</span></td>
		<td><span class="currency__up">0.68</span></td>
		<td><span class="currency__up">0.84</span></td>
		<td><span class="currency__up">0.97</span></td>
		<td><span class="currency__up">5.19</span></td>
		<td><span class="currency__up">3.07</span></td>
		<td><span class="currency__up">1.94</span></td>
		<td><span class="currency__up">1.56</span></td>
		<td><span class="currency__up">5.97</span></td>
	</tr>
	<tr>
		<td><span class="currency__down">0.53</span></td>
		<td><span class="currency__down">0.67</span></td>
		<td><span class="currency__down">0.83</span></td>
		<td><span class="currency__down">0.96</span></td>
		<td><span class="currency__down">5.17</span></td>
		<td><span class="currency__down">3.05</span></td>
		<td><span class="currency__down">1.93</span></td>
		<td><span class="currency__down">1.52</span></td>
		<td><span class="currency__down">5.92</span></td>
	</tr>
</tbody>
</table><!-- /.table table--secondary -->
			
