<div class="container mv++">
	<h1>Our message</h1>
	<div class="our-message entry-content">
		<img src="images/our-message.jpg" alt="our message" />
			<div class="media media--rev">
				<div class="media__img">
					<img src="images/our-message-1.png" alt="our message" />
				</div><!-- /.media__img -->
				<div class="media__body">
					<h2>رؤيتنـــــــا</h2>
					<p> الريـــادة والتميز والحِفاظ على الإستقـــرار النقدي والمالي على نحو ملائم وسليم بما يُسهم في تحقيق النمو الإقتصــــادي المُستدام ، ويُعزز الثقة والمصداقية في القطاع المصرفي .</p>
				</div>
			</div>
			<div class="media media--rev">
				<div class="media__img">
					<img src="images/our-message-2.png" alt="our message" />
				</div><!-- /.media__img -->
				<div class="media__body">
					<h2>رؤيتنـــــــا</h2>
					<p>خلق بيئة إستثمارية جذابة وإستقرار نقدي ومالي مع ضمان تنمية وتطوير الجهاز المصرفي بتطبيق سياسات نقديـة وائتمانية فعّالة ، وبذل الجهد اللازم لنشر المعرفة المصرفية ، وترسيخ روح الإنتماء للوطن ، وتعزيز مبادئ الافصاح والشفافية والعمل بمهنية وبروح الفريق .</p>
				</div>
			</div>
			<div class="media media--rev">
				<div class="media__img">
					<img src="images/our-message-3.png" alt="our message" />
				</div><!-- /.media__img -->
				<div class="media__body">
					<h2>قيمنا الجوهرية</h2>
					<p>نلتزم بمبادئنا الأساسية التي من شأنها أن ترتقي بنا لنكون قدوة لغيرنا باتسامنا بالآتي :</p>
					<ul>
						<li>ترسيخ روح الإنتماء . </li>
						<li>الحس بالمسؤولية والالتزام اتجاه المؤسسة والعاملين بها والمتعاملين معها .</li>
						<li>النزاهة والأمانة والموضوعية والحياد ضماناً لتحقيق الاهداف الوطنية للارتقــاء بالمستوى المهني</li>
						<li>العمل الجماعي ، نعمل معاً من أجل تحقيق الأهداف الوطنية وبما يخدم الوطن والمواطن . </li>
						<li>تعزيز التنمية البشرية  المستدامة في المؤسسة بما يُساهم في تحديث وتطوير أساليب العمل وفقاً لأحدث التطورات والمعايير الدولية ذات العلاقة بالعمل المصرفي .</li>
					</ul>
					</div>
			</div>
	</div>
</div>