<!-- comments -->
<div class="entry-content">
<h4>ترك تعليق</h4>
</div><!-- /.entry-content -->
<form action="post" class="comment-form" >
	<div class="layout">
		<div class="layout__item large-and-up-1/2">
			<input type="text" class="input input--primary" placeholder="اسم">
			<input type="email" class="input input--primary" placeholder="البريد الإلكتروني">
		</div>
		<div class="layout__item large-and-up-1/2">
			<textarea name="comment" class="input input--textarea" placeholder="رسالة"></textarea>
		</div>
		<div class="layout__item">
			<button type="submit" class="btn btn--primary">إرسال رسالة</button>
		</div><!-- /.layout__item -->
	</div>
</form>

<section class="comment-wrap">
  	<h4>تعليقات</h4>
	<ol class="comment-list list-bare">
		<li class="comment">
			<div class="comment__meta">
                <span class="posted-on">
					<time datetime="2015-06-05">01/01/2016</time>
				</span>
			</div>
			<h5 class="comment__title">هناك حقيقة مثبتة منذ زمن طويل</h5>
			<p>بينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم.هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم </p>
		</li>
		<li class="comment">
			<div class="comment__meta">
                <span class="posted-on">
					<time datetime="2015-06-05">01/01/2016</time>
				</span>
			</div>
			<h5 class="comment__title">هناك حقيقة مثبتة منذ زمن طويل</h5>
			<p>بينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم.هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم </p>
		</li>
	</ol>
</section><!-- /.comment-wrap -->
