<div class="container mv++">
<h1>Gallery videos</h1>
<div class="gallery">
	<h5>2015</h5>
	<div class="layout">
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="https://www.youtube.com/watch?v=Q0nDQOrBx4A" class="js-video-popup">
					<div class="gallery__img coverize" style="background-image:url('images/gallery-video-1.jpg')">
						<img src="images/gallery-video.jpg" alt="album name" />
						<div class="coverize__mask">
				          <div class="coverize__icon">
							  {{icon('icon-video', 'icon--64-64')}}
				          </div>
				        </div>
					</div><!-- /.gallery__img coverize -->
				</a>
				<div class="gallery__title">
					<h4>هنالك العديد من الأنواع </h4>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="https://www.youtube.com/watch?v=Q0nDQOrBx4A" class="js-video-popup">
					<div class="gallery__img coverize" style="background-image:url('images/gallery-video.jpg')">
						<img src="images/gallery-video.jpg" alt="album name" />
						<div class="coverize__mask">
				          <div class="coverize__icon">
							  {{icon('icon-video', 'icon--64-64')}}
				          </div>
				        </div>
					</div><!-- /.gallery__img coverize -->
				</a>
				<div class="gallery__title">
					<h4>هنالك العديد من الأنواع</h4>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="https://www.youtube.com/watch?v=Q0nDQOrBx4A" class="js-video-popup">
					<div class="gallery__img coverize" style="background-image:url('images/gallery-video-2.jpg')">
						<img src="images/gallery-video-2.jpg" alt="album name" />
						<div class="coverize__mask">
				          <div class="coverize__icon">
							  {{icon('icon-video', 'icon--64-64')}}
				          </div>
				        </div>
					</div><!-- /.gallery__img coverize -->
				</a>
				<div class="gallery__title">
					<h4>هنالك العديد من الأنواع </h4>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="https://www.youtube.com/watch?v=Q0nDQOrBx4A" class="js-video-popup">
					<div class="gallery__img coverize" style="background-image:url('images/gallery-video-3.jpg')">
						<img src="images/gallery-video-3.jpg" alt="album name" />
						<div class="coverize__mask">
				          <div class="coverize__icon">
							  {{icon('icon-video', 'icon--64-64')}}
				          </div>
				        </div>
					</div><!-- /.gallery__img coverize -->
				</a>
				<div class="gallery__title">
					<h4>هنالك العديد من الأنواع </h4>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="https://www.youtube.com/watch?v=Q0nDQOrBx4A" class="js-video-popup">
					<div class="gallery__img coverize" style="background-image:url('images/gallery-video-4.jpg')">
						<img src="images/gallery-video-4.jpg" alt="album name" />
						<div class="coverize__mask">
				          <div class="coverize__icon">
							  {{icon('icon-video', 'icon--64-64')}}
				          </div>
				        </div>
					</div><!-- /.gallery__img coverize -->
				</a>
				<div class="gallery__title">
					<h4>هنالك العديد من الأنواع </h4>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="https://www.youtube.com/watch?v=Q0nDQOrBx4A" class="js-video-popup">
					<div class="gallery__img coverize" style="background-image:url('images/gallery-video-5.jpg')">
						<img src="images/gallery-video-5.jpg" alt="album name" />
						<div class="coverize__mask">
				          <div class="coverize__icon">
							  {{icon('icon-video', 'icon--64-64')}}
				          </div>
				        </div>
					</div><!-- /.gallery__img coverize -->
				</a>
				<div class="gallery__title">
					<h4>هنالك العديد من الأنواع </h4>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
	</div><!-- /.layout -->
	<h5>2014</h5>
	<div class="layout">
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="https://www.youtube.com/watch?v=Q0nDQOrBx4A" class="js-video-popup">
					<div class="gallery__img coverize" style="background-image:url('images/gallery-video-6.jpg')">
						<img src="images/gallery-video-6.jpg" alt="album name" />
						<div class="coverize__mask">
				          <div class="coverize__icon">
							  {{icon('icon-video', 'icon--64-64')}}
				          </div>
				        </div>
					</div><!-- /.gallery__img coverize -->
				</a>
				<div class="gallery__title">
					<h4>هنالك العديد من الأنواع </h4>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="https://www.youtube.com/watch?v=Q0nDQOrBx4A" class="js-video-popup">
					<div class="gallery__img coverize" style="background-image:url('images/gallery-video-7.jpg')">
						<img src="images/gallery-video-7.jpg" alt="album name" />
						<div class="coverize__mask">
				          <div class="coverize__icon">
							  {{icon('icon-video', 'icon--64-64')}}
				          </div>
				        </div>
					</div><!-- /.gallery__img coverize -->
				</a>
				<div class="gallery__title">
					<h4>هنالك العديد من الأنواع</h4>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="https://www.youtube.com/watch?v=Q0nDQOrBx4A" class="js-video-popup">
					<div class="gallery__img coverize" style="background-image:url('images/gallery-video-5.jpg')">
						<img src="images/gallery-video-5.jpg" alt="album name" />
						<div class="coverize__mask">
				          <div class="coverize__icon">
							  {{icon('icon-video', 'icon--64-64')}}
				          </div>
				        </div>
					</div><!-- /.gallery__img coverize -->
				</a>
				<div class="gallery__title">
					<h4>هنالك العديد من الأنواع </h4>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
		<div class="layout__item large-1/2 extralarge-and-up-1/3 superlarge-and-up-1/4">
			<div class="gallery__item shadow">
				<a href="https://www.youtube.com/watch?v=Q0nDQOrBx4A" class="js-video-popup">
					<div class="gallery__img coverize" style="background-image:url('images/gallery-video-4.jpg')">
						<img src="images/gallery-video-4.jpg" alt="album name" />
						<div class="coverize__mask">
				          <div class="coverize__icon">
							  {{icon('icon-video', 'icon--64-64')}}
				          </div>
				        </div>
					</div><!-- /.gallery__img coverize -->
				</a>
				<div class="gallery__title">
					<h4>هنالك العديد من الأنواع </h4>
				</div><!-- /.gallery__title -->
			</div><!-- / .gallery__item -->
		</div><!-- /.layout__item -->
	</div><!-- /.layout -->
</div><!-- /.gallery -->
</div>