<!-- sharing box koji radi jer je uvucen jedan tab -->
	<div class="justifize share-wrap mb+">
		<div class="justifize__box">
			تعليقات
		</div><!-- /.justifize__box -->
		<div class="justifize__box">
			<div class="share">
				<a href="javascript:;" class="share__icon share__icon--face round--icon round--icon-blue round--icon-small ">
					{{icon('icon-fb', 'icon--8-16')}}
				</a>
				<a href="javascript:;" class="share__icon share__icon--tw round--icon round--icon-blue round--icon-small">
					{{icon('icon-twitter', 'icon--14-14')}}
				</a>
				<a href="javascript:;" class="share__icon share__icon--google round--icon round--icon-blue round--icon-small">
					{{icon('icon-yt', 'icon--17-14')}}
				</a>
				<a href="javascript:;" class="js-share round--icon round--icon-blue round--icon-small">
					{{icon('icon-share', 'icon--14-14')}}
				</a>
			</div><!-- /.share -->
		</div><!-- /.justifize__box -->
	</div>
