<section class="home-posts-1 entry-content">
	<div class="container">
		<h2>أخبار / <a href="javascript:;">أخبار</a></h2>
		<hr />
		<div class="layout">
			<div class="layout__item extralarge-and-up-1/2">
				<!-- <div class="post__item post__item--large shadow">
					<article class="post">
						<a href="javascript:;">
							<div class="post__img post__img--large" style="background-image:url('images/blog-featured-img-4.jpg')">
								<img src="images/blog-featured-img-4.jpg" alt="album name" />
							</div>
						</a>
						<div class="post__data">
							<div class="post__date">
								<time>20/12/2015</time>
							</div>
							<h4><a href="javascript:;">اجتماع لجنة تغطية حسابات المصارف بالنقد الأجنبي بمصرف ليبيا المركزي</a></h4>
							<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
							<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
						</div>
					</article>
				</div> -->

				<div class="slider-news owl-carousel">
					<div class="slider-news__item">
						<a href="javascript:;">
							<img src="images/blog-featured-img-4.jpg" alt="news name" />
						</a>
						<div class="post__data">
							<div class="post__date">
								<time>20/12/2015</time>
							</div>
							<h4><a href="javascript:;">اجتماع لجنة تغطية حسابات المصارف بالنقد الأجنبي بمصرف ليبيا المركزي</a></h4>
							<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
							<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
						</div>
					</div><!-- /.slider-news__item -->
					<div class="slider-news__item">
						<a href="javascript:;">
							<img src="images/blog-featured-img-4.jpg" alt="news name" />
						</a>
						<div class="post__data">
							<div class="post__date">
								<time>20/12/2015</time>
							</div>
							<h4><a href="javascript:;">اجتماع لجنة تغطية حسابات المصارف بالنقد الأجنبي بمصرف ليبيا المركزي</a></h4>
							<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
							<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
						</div>
					</div><!-- /.slider-news__item -->
					<div class="slider-news__item">
						<a href="javascript:;">
							<img src="images/blog-featured-img-4.jpg" alt="news name" />
						</a>
						<div class="post__data">
							<div class="post__date">
								<time>20/12/2015</time>
							</div>
							<h4><a href="javascript:;">اجتماع لجنة تغطية حسابات المصارف بالنقد الأجنبي بمصرف ليبيا المركزي</a></h4>
							<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
							<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
						</div>
					</div><!-- /.slider-news__item -->
					<div class="slider-news__item">
						<a href="javascript:;">
							<img src="images/blog-featured-img-4.jpg" alt="news name" />
						</a>
						<div class="post__data">
							<div class="post__date">
								<time>20/12/2015</time>
							</div>
							<h4><a href="javascript:;">اجتماع لجنة تغطية حسابات المصارف بالنقد الأجنبي بمصرف ليبيا المركزي</a></h4>
							<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
							<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
						</div>
					</div><!-- /.slider-news__item -->
					<div class="slider-news__item">
						<a href="javascript:;">
							<img src="images/blog-featured-img-4.jpg" alt="news name" />
						</a>
						<div class="post__data">
							<div class="post__date">
								<time>20/12/2015</time>
							</div>
							<h4><a href="javascript:;">اجتماع لجنة تغطية حسابات المصارف بالنقد الأجنبي بمصرف ليبيا المركزي</a></h4>
							<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
							<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
						</div>
					</div><!-- /.slider-news__item -->
				</div><!-- /.slider-news -->

				<!-- <div class="post__data">
					<div class="post__date">
						<time>20/12/2015</time>
					</div>
					<h4><a href="javascript:;">اجتماع لجنة تغطية حسابات المصارف بالنقد الأجنبي بمصرف ليبيا المركزي</a></h4>
					<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
					<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
				</div> -->
			</div>
			<div class="layout__item extralarge-and-up-1/2">
					<article class="[ media media--responsive media--rev ] [ small-post ]">
		              <div class="media__img">
						<a href="javascript:;">
							<div class="post__img post__img--small" style="background-image:url('images/blog-featured-img-5.jpg')">
								<img src="images/blog-featured-img-5.jpg" alt="post name" />
							</div><!-- /.post__img  -->
						</a>
		              </div>
		              <!-- /.media__img -->
		              <div class="media__body">
		                  <div class="post__date">
							<time>20/12/2015</time>
						  </div>
		                <h4><a href="javascript:;">اجتماع لجنة تغطية حسابات المصارف بالنقد الأجنبي بمصرف ليبيا المركزي</a></h4>
		                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
		                <a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
		              </div>
		              <!-- /.media__body -->
		            </article>
		            <article class="[ media media--responsive media--rev ] [ small-post ]">
		              <div class="media__img">
						<a href="javascript:;">
							<div class="post__img post__img--small" style="background-image:url('images/blog-featured-img-6.jpg')">
								<img src="images/blog-featured-img-6.jpg" alt="post name" />
							</div><!-- /.post__img  -->
						</a>
		              </div>
		              <!-- /.media__img -->
		              <div class="media__body">
		                  <div class="post__date">
							<time>20/12/2015</time>
						  </div>
		                <h4><a href="javascript:;">إختتام ورشة عمل تدريب العناصر التقنية والمصرفية على منظومة متابعة النقد الأجنبي</a></h4>
		                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
		                <a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
		              </div>
		              <!-- /.media__body -->
		            </article>
		            <article class="[ media media--responsive media--rev ] [ small-post ]">
		              <div class="media__img">
						<a href="javascript:;">
							<div class="post__img post__img--small" style="background-image:url('images/blog-featured-img-7.jpg')">
								<img src="images/blog-featured-img-7.jpg" alt="post name" />
							</div><!-- /.post__img  -->
						</a>
		              </div>
		              <!-- /.media__img -->
		              <div class="media__body">
		                  <div class="post__date">
							<time>20/12/2015</time>
						  </div>
		                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
		                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا عن استخدام "هنا يوجد محتوى نصي</p>
		                <a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
		              </div>
		              <!-- /.media__body -->
		            </article>
			</div>
		</div>
	</div><!-- /.container -->
</section><!-- /.home-posts entry-content -->