<section class="video-and-posts">	
		<div class="container">
			<div class="layout">
				<div class="layout__item extralarge-and-up-1/2">
					<div class="video-slider">
						<div class="video-player">
							<div class="featured-img">
								<img src="images/video-slide-1.jpg" alt="" data-video-src="rFdENlL_-XQ">
								<h3>مرحبا بكم مصرف ليبيا المركزي</h3>
							</div>
							<!-- /.featured-img -->
							<iframe src="https://www.youtube.com/embed/WtQvejbZ-8M?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div>
						<!-- /.video-player -->
						<div class="slider-bottom-wrap">
							<div class="owl-carousel video-slider__bottom">
							  	<div class="slider__item" data-src="images/video-slide-4.jpg" href="images/video-slide-4.jpg">
							      	<img src="images/video-slide-4.jpg" alt="" data-video-src="rFdENlL_-XQ">
							  	</div>
							  	<div class="slider__item" data-src="images/video-slide-2.jpg" href="images/video-slide-2.jpg">
							      	<img src="images/video-slide-2.jpg" alt="" data-video-src="PiKQa7ZRq6w">
							  	</div>
							  	<div class="slider__item" data-src="images/video-slide-3.jpg" href="images/video-slide-3.jpg">
							      	<img src="images/video-slide-3.jpg" alt="" data-video-src="26n3eBWVdQ8">
							  	</div>
							  	<div class="slider__item" data-src="images/video-slide-4.jpg" href="images/video-slide-4.jpg">
							      	<img src="images/video-slide-4.jpg" alt="" data-video-src="mATeu-gE5mI">
							  	</div>
							</div><!-- /.lightSlider -->
						</div><!-- /.video-bottom-wrap -->
						<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
					</div><!-- /.video-slider -->
				</div><!-- /.layout__item -->
				<div class="layout__item extralarge-and-up-1/2"> 
					<div class="v-titles shadow">
						<div class="media media--tiny media--rev media--responsive">
							<div class="media__img">
								<div class="post__img post__img--medium js-bg-change" style="background-image:url('images/news.jpg')">
									<img src="images/news.jpg" alt="post name">
								</div>
							</div>
							<!-- /.layout__item -->
							<div class="media__body">
								<ul>
									<li>
										<a href="javascript:;" class="v-titles__link" data-background="images/news.jpg">  طلبات الصيرفة الإسلامية  طلبات الصيرفة الإسلامية {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</li>
									<li>
										<a href="javascript:;" class="v-titles__link" data-background="images/blog-featured-img-5.jpg">نموذج مكاتب الصرافة {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</li>
									<li>
										<a href="javascript:;" class="v-titles__link" data-background="images/blog-featured-img-6.jpg">نموذج شركات {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
										</li>
									<li>
										<a href="javascript:;" class="v-titles__link" data-background="images/blog-featured-img-7.jpg">نموذج شركات 
											{{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</li>	
									<li>
										<a href="javascript:;" class="v-titles__link" data-background="images/blog-featured-img-7.jpg">نموذج شركات 
											{{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</li>					
								</ul>
							</div><!-- /.layout__item -->
						</div><!-- /.layout -->
					</div><!-- /.v-titles -->
					<hr />
					<div class="v-titles shadow">
						<div class="media media--tiny media--rev media--responsive">
							<div class="media__img">
								<div class="post__img post__img--medium js-bg-change-bottom" style="background-image:url('images/blog-featured-img-1.jpg')">
									<img src="images/blog-featured-img-1.jpg" alt="post name">
								</div>
							</div>
							<!-- /.layout__item -->
							<div class="media__body">
								<ul>
									<li>
										<a href="javascript:;" class="v-titles__link-bottom" data-background="images/blog-featured-img-1.jpg">طلبات الصيرفة الإسلامية {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</li>
									<li>
										<a href="javascript:;" class="v-titles__link-bottom" data-background="images/blog-featured-img-2.jpg">نموذج مكاتب الصرافة {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</li>
									<li>
										<a href="javascript:;" class="v-titles__link-bottom" data-background="images/blog-featured-img-3.jpg">نموذج شركات {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
										</li>
									<li>
										<a href="javascript:;" class="v-titles__link-bottom" data-background="images/blog-featured-img-4.jpg">نموذج شركات 
											{{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</li>	
									<li>
										<a href="javascript:;" class="v-titles__link-bottom" data-background="images/blog-featured-img-4.jpg">نموذج شركات 
											{{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
									</li>						
								</ul>
							</div><!-- /.layout__item -->
						</div><!-- /.layout -->
					</div><!-- /.v-titles -->
				</div><!-- /.layout__item -->
			</div><!-- /.layout -->
		</div>
	</section><!-- /.video-and-posts -->