<section class="news-calendar entry-content">
	<div class="container">
		<div class="layout">
			<div class="layout__item extralarge-and-up-2/3">
				<div class="events-section">
					<div class="tabs">
						<ul class="tabs__nav event-tab list-inline">
							  <li><a href="#tab-1" class="event-tab__link events-1 active">معلومات مهمة</a></li>
				  			  <li><a href="#tab-2" class="event-tab__link events-2">بيانات</a></li>
				  			  <li><a href="#tab-3" class="event-tab__link events-3">التقويم</a></li>
				  			  <li><a href="#tab-4" class="event-tab__link events-4">لتقارير</a></li>
						</ul>
						 <div id="tab-1" class="tabs__item">
							<div class="event-item">
								<div class="layout">
									<div class="layout__item medium-and-up-1/2">
										<article class="[ media media--responsive media--rev ] [ small-post ]">
							              <div class="media__img">
											<a href="javascript:;">
												<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-5.jpg')">
													<img src="images/blog-featured-img-5.jpg" alt="post name" />
												</div><!-- /.post__img  -->
											</a>
							              </div>
							              <!-- /.media__img -->
							              <div class="media__body">
							                  <div class="post__date">
												<time>20/12/2015</time>
											  </div>
							                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
							              </div>
							              <!-- /.media__body -->
							            </article>
									</div>
									<div class="layout__item medium-and-up-1/2">
										<article class="[ media media--responsive media--rev ] [ small-post ]">
							              <div class="media__img">
											<a href="javascript:;">
												<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-4.jpg')">
													<img src="images/blog-featured-img-4.jpg" alt="post name" />
												</div><!-- /.post__img  -->
											</a>
							              </div>
							              <!-- /.media__img -->
							              <div class="media__body">
							                  <div class="post__date">
												<time>20/12/2015</time>
											  </div>
							                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
							              </div>
							              <!-- /.media__body -->
							            </article>
									</div>
									<div class="layout__item medium-and-up-1/2">
										<article class="[ media media--responsive media--rev ] [ small-post ]">
							              <div class="media__img">
											<a href="javascript:;">
												<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-3.jpg')">
													<img src="images/blog-featured-img-3.jpg" alt="post name" />
												</div><!-- /.post__img  -->
											</a>
							              </div>
							              <!-- /.media__img -->
							              <div class="media__body">
							                  <div class="post__date">
												<time>20/12/2015</time>
											  </div>
							                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
							              </div>
							              <!-- /.media__body -->
							            </article>
									</div>
									<div class="layout__item medium-and-up-1/2">
										<article class="[ media media--responsive media--rev ] [ small-post ]">
							              <div class="media__img">
											<a href="javascript:;">
												<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-2.jpg')">
													<img src="images/blog-featured-img-2.jpg" alt="post name" />
												</div><!-- /.post__img  -->
											</a>
							              </div>
							              <!-- /.media__img -->
							              <div class="media__body">
							                  <div class="post__date">
												<time>20/12/2015</time>
											  </div>
							                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
							              </div>
							              <!-- /.media__body -->
							            </article>
									</div>
									<div class="layout__item medium-and-up-1/2">
										<article class="[ media media--responsive media--rev ] [ small-post ]">
							              <div class="media__img">
											<a href="javascript:;">
												<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-1.jpg')">
													<img src="images/blog-featured-img-1.jpg" alt="post name" />
												</div><!-- /.post__img  -->
											</a>
							              </div>
							              <!-- /.media__img -->
							              <div class="media__body">
							                  <div class="post__date">
												<time>20/12/2015</time>
											  </div>
							                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
							              </div>
							              <!-- /.media__body -->
							            </article>
									</div>
									<div class="layout__item medium-and-up-1/2">
										<article class="[ media media--responsive media--rev ] [ small-post ]">
							              <div class="media__img">
											<a href="javascript:;">
												<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img.jpg')">
													<img src="images/blog-featured-img.jpg" alt="post name" />
												</div><!-- /.post__img  -->
											</a>
							              </div>
							              <!-- /.media__img -->
							              <div class="media__body">
							                  <div class="post__date">
												<time>20/12/2015</time>
											  </div>
							                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
							              </div>
							              <!-- /.media__body -->
							            </article>
									</div>
								</div><!-- /.layout -->
								<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
							</div><!-- /.event-item -->
						 </div>
						 <div id="tab-2" class="tabs__item">
							<div class="event-item">
								<div class="layout">
									<div class="layout__item medium-and-up-1/2">
										<article class="[ media media--responsive media--rev ] [ small-post ]">
							              <div class="media__img">
											<a href="javascript:;">
												<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-5.jpg')">
													<img src="images/blog-featured-img-5.jpg" alt="post name" />
												</div><!-- /.post__img  -->
											</a>
							              </div>
							              <!-- /.media__img -->
							              <div class="media__body">
							                  <div class="post__date">
												<time>20/12/2015</time>
											  </div>
							                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
							              </div>
							              <!-- /.media__body -->
							            </article>
									</div>
									<div class="layout__item medium-and-up-1/2">
										<article class="[ media media--responsive media--rev ] [ small-post ]">
							              <div class="media__img">
											<a href="javascript:;">
												<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-4.jpg')">
													<img src="images/blog-featured-img-4.jpg" alt="post name" />
												</div><!-- /.post__img  -->
											</a>
							              </div>
							              <!-- /.media__img -->
							              <div class="media__body">
							                  <div class="post__date">
												<time>20/12/2015</time>
											  </div>
							                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
							              </div>
							              <!-- /.media__body -->
							            </article>
									</div>
									<div class="layout__item medium-and-up-1/2">
										<article class="[ media media--responsive media--rev ] [ small-post ]">
							              <div class="media__img">
											<a href="javascript:;">
												<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-3.jpg')">
													<img src="images/blog-featured-img-3.jpg" alt="post name" />
												</div><!-- /.post__img  -->
											</a>
							              </div>
							              <!-- /.media__img -->
							              <div class="media__body">
							                  <div class="post__date">
												<time>20/12/2015</time>
											  </div>
							                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
							              </div>
							              <!-- /.media__body -->
							            </article>
									</div>
									<div class="layout__item medium-and-up-1/2">
										<article class="[ media media--responsive media--rev ] [ small-post ]">
							              <div class="media__img">
											<a href="javascript:;">
												<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-2.jpg')">
													<img src="images/blog-featured-img-2.jpg" alt="post name" />
												</div><!-- /.post__img  -->
											</a>
							              </div>
							              <!-- /.media__img -->
							              <div class="media__body">
							                  <div class="post__date">
												<time>20/12/2015</time>
											  </div>
							                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
							              </div>
							              <!-- /.media__body -->
							            </article>
									</div>
									<div class="layout__item medium-and-up-1/2">
										<article class="[ media media--responsive media--rev ] [ small-post ]">
							              <div class="media__img">
											<a href="javascript:;">
												<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-1.jpg')">
													<img src="images/blog-featured-img-1.jpg" alt="post name" />
												</div><!-- /.post__img  -->
											</a>
							              </div>
							              <!-- /.media__img -->
							              <div class="media__body">
							                  <div class="post__date">
												<time>20/12/2015</time>
											  </div>
							                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
							              </div>
							              <!-- /.media__body -->
							            </article>
									</div>
									<div class="layout__item medium-and-up-1/2">
										<article class="[ media media--responsive media--rev ] [ small-post ]">
							              <div class="media__img">
											<a href="javascript:;">
												<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img.jpg')">
													<img src="images/blog-featured-img.jpg" alt="post name" />
												</div><!-- /.post__img  -->
											</a>
							              </div>
							              <!-- /.media__img -->
							              <div class="media__body">
							                  <div class="post__date">
												<time>20/12/2015</time>
											  </div>
							                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
							              </div>
							              <!-- /.media__body -->
							            </article>
									</div>
								</div><!-- /.layout -->
								<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
							</div><!-- /.event-item -->
						 </div>
						 <div id="tab-3" class="tabs__item">
							  <!-- news itemes -->
								<div class="event-item">
									<div class="layout">
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-5.jpg')">
														<img src="images/blog-featured-img-5.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-4.jpg')">
														<img src="images/blog-featured-img-4.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-3.jpg')">
														<img src="images/blog-featured-img-3.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-2.jpg')">
														<img src="images/blog-featured-img-2.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-1.jpg')">
														<img src="images/blog-featured-img-1.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
										<div class="layout__item medium-and-up-1/2">
											<article class="[ media media--responsive media--rev ] [ small-post ]">
								              <div class="media__img">
												<a href="javascript:;">
													<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img.jpg')">
														<img src="images/blog-featured-img.jpg" alt="post name" />
													</div><!-- /.post__img  -->
												</a>
								              </div>
								              <!-- /.media__img -->
								              <div class="media__body">
								                  <div class="post__date">
													<time>20/12/2015</time>
												  </div>
								                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
								              </div>
								              <!-- /.media__body -->
								            </article>
										</div>
									</div><!-- /.layout -->
									<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
								</div><!-- /.event-item -->
						 </div>
						 <div id="tab-4" class="tabs__item">
							<div class="event-item">
								<div class="layout">
									<div class="layout__item medium-and-up-1/2">
										<article class="[ media media--responsive media--rev ] [ small-post ]">
							              <div class="media__img">
											<a href="javascript:;">
												<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-5.jpg')">
													<img src="images/blog-featured-img-5.jpg" alt="post name" />
												</div><!-- /.post__img  -->
											</a>
							              </div>
							              <!-- /.media__img -->
							              <div class="media__body">
							                  <div class="post__date">
												<time>20/12/2015</time>
											  </div>
							                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
							              </div>
							              <!-- /.media__body -->
							            </article>
									</div>
									<div class="layout__item medium-and-up-1/2">
										<article class="[ media media--responsive media--rev ] [ small-post ]">
							              <div class="media__img">
											<a href="javascript:;">
												<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-4.jpg')">
													<img src="images/blog-featured-img-4.jpg" alt="post name" />
												</div><!-- /.post__img  -->
											</a>
							              </div>
							              <!-- /.media__img -->
							              <div class="media__body">
							                  <div class="post__date">
												<time>20/12/2015</time>
											  </div>
							                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
							              </div>
							              <!-- /.media__body -->
							            </article>
									</div>
									<div class="layout__item medium-and-up-1/2">
										<article class="[ media media--responsive media--rev ] [ small-post ]">
							              <div class="media__img">
											<a href="javascript:;">
												<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-3.jpg')">
													<img src="images/blog-featured-img-3.jpg" alt="post name" />
												</div><!-- /.post__img  -->
											</a>
							              </div>
							              <!-- /.media__img -->
							              <div class="media__body">
							                  <div class="post__date">
												<time>20/12/2015</time>
											  </div>
							                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
							              </div>
							              <!-- /.media__body -->
							            </article>
									</div>
									<div class="layout__item medium-and-up-1/2">
										<article class="[ media media--responsive media--rev ] [ small-post ]">
							              <div class="media__img">
											<a href="javascript:;">
												<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-2.jpg')">
													<img src="images/blog-featured-img-2.jpg" alt="post name" />
												</div><!-- /.post__img  -->
											</a>
							              </div>
							              <!-- /.media__img -->
							              <div class="media__body">
							                  <div class="post__date">
												<time>20/12/2015</time>
											  </div>
							                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
							              </div>
							              <!-- /.media__body -->
							            </article>
									</div>
									<div class="layout__item medium-and-up-1/2">
										<article class="[ media media--responsive media--rev ] [ small-post ]">
							              <div class="media__img">
											<a href="javascript:;">
												<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img-1.jpg')">
													<img src="images/blog-featured-img-1.jpg" alt="post name" />
												</div><!-- /.post__img  -->
											</a>
							              </div>
							              <!-- /.media__img -->
							              <div class="media__body">
							                  <div class="post__date">
												<time>20/12/2015</time>
											  </div>
							                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
							              </div>
							              <!-- /.media__body -->
							            </article>
									</div>
									<div class="layout__item medium-and-up-1/2">
										<article class="[ media media--responsive media--rev ] [ small-post ]">
							              <div class="media__img">
											<a href="javascript:;">
												<div class="post__img post__img--smallest" style="background-image:url('images/blog-featured-img.jpg')">
													<img src="images/blog-featured-img.jpg" alt="post name" />
												</div><!-- /.post__img  -->
											</a>
							              </div>
							              <!-- /.media__img -->
							              <div class="media__body">
							                  <div class="post__date">
												<time>20/12/2015</time>
											  </div>
							                <h4><a href="javascript:;">هناك حقيقة مثبتة منذ زمن طويل</a></h4>
							              </div>
							              <!-- /.media__body -->
							            </article>
									</div>
								</div><!-- /.layout -->
								<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
							</div><!-- /.event-item -->
						 </div>
					</div>	
				</div><!-- /.events-section -->
			</div><!-- /.layout__item -->
			<div class="layout__item extralarge-1/3 superlarge-and-up-1/3">
				 <div id="datepicker" class="calendar"></div>
			</div>
		</div>
	</div>
</section>