<div class="home-featured-img">
	<img src="images/home-cbl.jpg" alt="central bank of libya" class="img-desktop" />
	<img src="images/home-cbl-mobile.jpg" alt="central bank of libya" class="img-mobile" />
	<!-- <h3>مرحبا بكم مصرف <br /> ليبيا المركزي</h3> -->
</div>
<!-- /.container -->