<div class="layout__item 1/2">
	<div class="v-titles">
		<div class="layout">
			<div class="layout__item 1/2">
				<img id="v-title__img" src="images/news.jpg" alt="">
			</div>
			<!-- /.layout__item -->
			<div class="layout__item 1/2">
				<ul>
					<li>
						<a href="javascript:;">نماذج طلبات الصيرفة الإسلامية</a>
						<img src="images/news.jpg" alt="">
					</li>
					<li>
						<a href="javascript:;">نموذج مكاتب الصرافة</a>
						<img src="images/news.jpg" alt="">
					</li>
					<li>
						<a href="javascript:;">نموذج شركات</a>
						<img src="images/news.jpg" alt="">
					</li>
					<li>
						<a href="javascript:;">المحتوى المقروء لصفحة ما سيلهي</a>
						<img src="images/news.jpg" alt="">
					</li>
				</ul>
			</div>
			<!-- /.layout__item -->
		</div>
		<!-- /.layout -->
	</div>
	<!-- /.v-titles -->
</div><!-- /.layout__item -->