<!-- pagination -->
<nav class="pagination">
	<ul class="list-inline inline-block">
		<li>
			<a href="javascript:;" class="prev__item" title="Go to prev item">
				{{icon('icon-next', 'icon--7-12')}}
			</a>
		</li>
		<li>
			<a href="javascript:;" class="pagination__item">1</a>
		</li>
		<li>
			<span class="pagination__current">2</span>
		</li>
		<li>
			<a href="javascript:;" class="pagination__item">3</a>
		</li>
		<li>
			<a href="javascript:;" class="pagination__item">4</a>
		</li>
		<li>
			<a href="javascript:;" class="next__item" title="Go to next item">
				{{icon('icon-prev', 'icon--7-12')}}
			</a>
		</li>
	</ul>
</nav> <!-- /.pagination -->

<nav class="pagination">
	<ul class="list-inline inline-block">
		<li>
			<span class="prev__item disabled">
				{{icon('icon-next', 'icon--7-12')}}
			</span>
		</li>
		<li>
			<span class="pagination__current">1</span>
		</li>
		<li>
			<a href="javascript:;" class="pagination__item">2</a>
		</li>
		<li>
			<a href="javascript:;" class="pagination__item">3</a>
		</li>
		<li>
			<a href="javascript:;" class="pagination__item">4</a>
		</li>
		<li>
			<a href="javascript:;" class="next__item" title="Go to next item">
				{{icon('icon-prev', 'icon--7-12')}}
			</a>
		</li>
	</ul>
</nav> <!-- /.pagination -->

<nav class="pagination">
	<ul class="list-inline inline-block">
		<li>
			<a href="javascript:;" class="prev__item" title="Go to prev item">
				{{icon('icon-next', 'icon--7-12')}}
			</a>
		</li>
		<li>
			<a href="javascript:;" class="pagination__item">1</a>
		</li>
		<li>
			<a href="javascript:;" class="pagination__item">2</a>
		</li>
		<li>
			<a href="javascript:;" class="pagination__item">3</a>
		</li>
		<li>
			<span class="pagination__current">4</span>
		</li>
		<li>
			<span class="next__item disabled" >
				{{icon('icon-prev', 'icon--7-12')}}
			</span>
		</li>
	</ul>
</nav> <!-- /.pagination -->