<header class="header-main">
	<div class="newsletter clearfix">
		<div class="newsletter__read-more">
			<span class="js-close">{{icon('icon-close', 'icon--14-14')}}</span>
			<a href="javascript:;" class="btn btn--primary btn--newstetter">Read more {{icon('icon-arrow-left', 'icon--17-14')}}</a>
		</div> <!-- /.newsletter__read-more -->

		<!-- Uncomment this part if you want newsletter form -->
		
		<!-- <div class="newsletter__form">
			<span class="js-close">{{icon('icon-close', 'icon--14-14')}}</span>
			<form action="javascript:;" method="post">
				<div class="form-wrap">
					<input type="email" name="email" placeholder="Your Email Address" class="input newsletter__input" />
					<button type="submit" class="btn newsletter__button">
						{{icon('icon-arrow-left', 'icon--17-14')}}
					</button>
				</div>
			</form>
		</div> --> <!-- /.newsletter__form -->
		<div class="newsletter__text">
			<dl>
				<dt>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى</dt>
				<dd>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على
				 هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على</dd>
			</dl>
		</div><!-- /.newsletter__text-->
	</div> <!-- /.newsletter -->
	<div class="header-desktop">
		<div class="menu-top clearfix">
			<nav class="menu-top__right">
				<ul class="list-inline">
					<li>
						<a href="javascript:;">{{icon('icon-home', 'icon--16-14 icon--top-menu')}} الرئيسية</a>
					</li>
					<li>
						<a href="javascript:;">{{icon('icon-email', 'icon--16-12 icon--top-menu')}} إتصل بنا</a>
					</li>
					<li>
						<a href="javascript:;">{{icon('icon-bookstore', 'icon--12-14 icon--top-menu')}} المكتبة</a>
					</li>
					<li>
						<a href="javascript:;">{{icon('icon-templates', 'icon--13-14 icon--top-menu')}} نماذج وقوالب</a>
					</li>
					<li>
						<a href="javascript:;">{{icon('icon-jobs', 'icon--16-14 icon--top-menu')}} وظائف شاغرة</a>
					</li>
				</ul>
			</nav>
			<div class="menu-top__left">
				<form action="javascript:;" class="menu-top__search">
					<input type="search" name="main-search" class="input input--search" placeholder="بحث" />
					<button type="submit" class="btn btn--search">{{icon('icon-search','icon--20-20')}}</button>
				</form>
				<div class="lang-wrap">
					<span class="menu-top__lang"  title="Click to change language">
						{{icon('icon-lang', 'icon--20-20')}}
					</span>
					<a href="javascript:;" class="lang-name">English</a>
				</div>
			</div>
		</div><!-- /.menu-top -->
		<div class="main-menu">
			<a href="javascript:;" class="site-logo">
				<img src="images/logo.svg" alt="central bank of libya logo" />
			</a>
			<nav class="main-menu__nav">
				<ul class="list-inline">
					<li class="main-menu__submenu is-active">
						<a href="javascript:;">عن المصرف</a>
						<div>
							<ul class="list-bare">
								<li><a href="javascript:;" class="is-active">نبذة عن المصرف عن</a></li>
								<li><a href="javascript:;">كلمة المحافظ</a></li>
								<li><a href="javascript:;">لمصرف عن المصرف</a></li>
								<li class="main-menu__submenu__submenu"><a href="javascript:;">نبذة عن المصرف</a>
									<ul>
										<li><a href="javascript:;">نبذة عن المصرفنبذة عن المصرف</a></li>
										<li><a href="javascript:;">نبذة عن المصرف</a></li>
										<li><a href="javascript:;">نبذة عن المصرف</a></li>
									</ul>
								</li>
								<li><a href="javascript:;">الهيكل التنظيمي</a>
								</li>
								<li><a href="javascript:;">الخطة الاستراتجية</a></li>
								<li><a href="javascript:;">المدونة</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a href="javascript:;">القوانين والتشريعات</a>
					</li>
					<li>
						<a href="javascript:;">منشورات وبيانات</a>
					</li>
					<li>
						<a href="javascript:;">العمليات المصرفية</a>
					</li>
					<li>
						<a href="javascript:;">دليل القطاع المصرفي</a>
					</li>
					<li>
						<a href="javascript:;">التعاون الدولي</a>
					</li>
					<li>
						<a href="javascript:;">السياسة النقدية</a>
					</li>
					<li class="main-menu__submenu">
						<a href="javascript:;">عمليات السوق</a>
						<div>
							<ul class="list-bare">
								<li><a href="javascript:;">نبذة عن المصرف عن</a></li>
								<li><a href="javascript:;">كلمة المحافظ</a></li>
								<li><a href="javascript:;">كلمة المحافظ</a></li>
								<li class="main-menu__submenu__submenu"><a href="javascript:;">نبذة عن المصرف</a>
									<ul>
										<li><a href="javascript:;">نبذة عن المصرفنبذة عن المصرف</a></li>
										<li><a href="javascript:;">نبذة عن المصرف</a></li>
										<li><a href="javascript:;">نبذة عن المصرف</a></li>
									</ul>
								</li>
								<li><a href="javascript:;">الهيكل التنظيمي</a>
								</li>
								<li><a href="javascript:;">الخطة الاستراتجية</a></li>
								<li><a href="javascript:;">المدونة</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</div><!-- /.main-menu -->
	</div><!-- /.head-desktop -->
 
	<div class="header-mobile">
		<div class="search-lang clearfix">
			<div class="lang">
				<label for="lang-sel">{{icon('icon-lang', 'icon--20-20')}}</label>
				<input type="checkbox" id="lang-sel">
				<a href="javascript:;" class="lang__item">English</a>
			</div><!-- /.lang -->
			<form action="javascript:;" class="menu-top__search">
				<input type="search" name="main-search" class="input input--search" placeholder="بحث" />
				<button type="submit" class="btn btn--search">{{icon('icon-search','icon--20-20')}}</button>
			</form>
		</div>
		<div class="menu-mob clearfix">
			<a href="javascript:;" class="site-logo">
				<img src="images/logo.svg" alt="central bank of libya logo" />
			</a>

			<a href="javascript:;" class="menu-mob__icon js-menu">
				{{icon('icon-burger', 'icon--27-16')}}
			</a>
		</div>
		<div class="menu-mob-wrap">
			<div class="menu-mob__links">
				<nav class="menu-mob__top">
					<ul class="list-bare">
						<li>
							<a href="javascript:;">{{icon('icon-home', 'icon--16-14 icon--top-menu')}} الرئيسية</a>
						</li>
						<li>
							<a href="javascript:;">{{icon('icon-email', 'icon--16-12 icon--top-menu')}} إتصل بنا</a>
						</li>
						<li>
							<a href="javascript:;">{{icon('icon-bookstore', 'icon--12-14 icon--top-menu')}} المكتبة</a>
						</li>
						<li>
							<a href="javascript:;">{{icon('icon-templates', 'icon--13-14 icon--top-menu')}} نماذج وقوالب</a>
						</li>
						<li>
							<a href="javascript:;">{{icon('icon-jobs', 'icon--16-14 icon--top-menu')}} وظائف شاغرة</a>
						</li>
					</ul>
				</nav>
				<nav class="menu-mob__bottom">
					<ul class="list-bare">
						<!-- add class .has-dropdown only on elements which have dropdown -->
						<li class="has-dropdown">
							<a href="javascript:;">عن المصرف</a>
							<ul class="list-bare">
								<li>
									<a href="javascript:;">نبذة عن المصرف</a>
								</li>
								<li class="has-dropdown">
									<a href="javascript:;">نبذة عن المصرف</a>
									<ul class="list-bare">
										<li>
											<a href="javascript:;">كلمة المحافظ</a>
										</li>
										<li>
											<a href="javascript:;">نبذة عن المصرف</a>
										</li>
									</ul>
								</li>
								<li class="is-active">
									<a href="javascript:;">كلمة المحافظ</a>
								</li>
								<li>
									<a href="javascript:;">مجلس الإدارة</a>
								</li>
							</ul>
						</li>
						<li class="has-dropdown">
							<a href="javascript:;">القوانين والتشريعات</a>
							<ul class="list-bare">
								<li>
									<a href="javascript:;">كلمة المحافظ</a>
								</li>
								<li>
									<a href="javascript:;">نبذة عن المصرف</a>
								</li>
							</ul>
						</li>
						<li class="has-dropdown">
							<a href="javascript:;">مجلس الإدارة</a>
							<ul>
								<li class="has-dropdown">
									<a href="javascript:;">نبذة عن المصرف</a>
									<ul class="list-bare">
										<li>
											<a href="javascript:;">كلمة المحافظ</a>
										</li>
										<li>
											<a href="javascript:;">نبذة عن المصرف</a>
										</li>
									</ul>
								</li>
								<li><a href="javascript:;">كلمة المحافظ</a></li>
								<li><a href="javascript:;">كلمة المحافظ</a></li>
							</ul>
						</li>
						<li>
							<a href="javascript:;">العمليات المصرفية</a>
						</li>
						<li>
							<a href="javascript:;">دليل القطاع المصرفي</a>
						</li>
					</ul>
				</nav>
			</div><!-- /.menu-mob__links -->
		</div>
	</div><!-- /.menu-responsive -->
</header>
