<section class="charts">
	<div class="container">
		<div class="layout">
			<div class="layout__item extralarge-1/3 superlarge-and-up-1/3">
				<h3>أخبار</h3>
				<hr />
				<div id="bar-chart"  dir="ltr"></div><!-- /#bar-chart -->
			</div>
			<div class="layout__item extralarge-1/3 superlarge-and-up-1/3">
				<h3>أخبار</h3>
				<hr />
				<div id="candle-chart" dir="ltr"></div><!-- /.candle-chart -->
			</div>
			<div class="layout__item extralarge-1/3 superlarge-and-up-1/3">
				<h3>أخبار</h3>
				<hr />
				<div id="bar-chart-float" dir="ltr"></div><!-- /#bar-chart -->
			</div>
			<div class="layout__item extralarge-1/3 superlarge-and-up-1/3">
				<a href="javascript:;" class="read-more">المزيد {{icon('icon-read-more-arrow', 'icon--15-10 color-gray icon--more')}}</a>
			</div>
		</div>
	</div><!-- /.container -->
</section><!-- /.charts -->